flows.json
[
    {
        "id": "624937ab.a0cd9",
        "type": "tab",
        "label": "Global",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55f0feba.93e878",
        "type": "tab",
        "label": "Steckdosen -> Arbeitszimmer: Christian's PC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3860d3b1.ccd2d4",
        "type": "tab",
        "label": "Steckdosen -> Arbeitszimmer: Sandra's PC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3966eecb.418ed2",
        "type": "tab",
        "label": "Steckdose Nachttische",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4694e56.1df578",
        "type": "tab",
        "label": "Steckdose TV",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ef9247c6.cadc28",
        "type": "tab",
        "label": "Saugroboter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "311aacb9.34a24c",
        "type": "tab",
        "label": "world env.",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2cefa2e.a30a9",
        "type": "tab",
        "label": "machine env. -> CPU",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8d01fa85.f01398",
        "type": "tab",
        "label": "machine env. -> RAM",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aaa51945.bd49a",
        "type": "tab",
        "label": "machine env. -> Speicher",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb9bca95.45947",
        "type": "tab",
        "label": "machine env. -> Infos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "daddeffe.066c5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Smart Home :: HB-AWF3-3R",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 64,
                "sy": 32,
                "gx": 12,
                "gy": 12,
                "cx": 4,
                "cy": 4,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1f1ed453.c0771c",
        "type": "fritz-api",
        "z": "",
        "name": "FB7580--AWF3-3R",
        "host": "http://fritz.box",
        "strictSSL": true
    },
    {
        "id": "412fbf62.1e1d9",
        "type": "ui_group",
        "z": "",
        "name": "Schlafzimmer: Nachttische",
        "tab": "14feb2a9.8277c5",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f02945fb.a0f3c",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "fa-microchip",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4314a159.01844",
        "type": "ui_group",
        "z": "",
        "name": "CPU",
        "tab": "cd4c16c9.b5a0a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cbefc1f5.641d68",
        "type": "ui_group",
        "z": "",
        "name": "RAM",
        "tab": "cd4c16c9.b5a0a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c8fe58ce.64afd",
        "type": "ui_group",
        "z": "",
        "name": "Speicher",
        "tab": "cd4c16c9.b5a0a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ce9bba2a.9d9588",
        "type": "ui_group",
        "z": "",
        "name": "Infos",
        "tab": "f02945fb.a0f3c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "259c1fb2.ed8768",
        "type": "ui_group",
        "z": "",
        "name": "Arbeitszimmer: Christian's PC",
        "tab": "14feb2a9.8277c5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14feb2a9.8277c5",
        "type": "ui_tab",
        "z": "",
        "name": "Überblick",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22abfc75.b9b2e4",
        "type": "ui_group",
        "z": "",
        "name": "Hallo!",
        "tab": "14feb2a9.8277c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cd4c16c9.b5a0a",
        "type": "ui_tab",
        "z": "",
        "name": "Monitoring",
        "icon": "fa-area-chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "877922bd.d9904",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "22abfc75.b9b2e4",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "b5bc4bb.bd0b438",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "22abfc75.b9b2e4",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "e7215ad9.54bc5",
        "type": "ui_group",
        "z": "",
        "name": "Arbeitszimmer: Sandra's PC",
        "tab": "14feb2a9.8277c5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4587520c.baf024",
        "type": "ui_group",
        "z": "",
        "name": "Wohnküche: Fernsehtisch",
        "tab": "14feb2a9.8277c5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f438956c.669a58",
        "type": "dorita980Config",
        "z": "",
        "ip": "192.168.178.115",
        "name": "Roomba 966"
    },
    {
    },
    {
        "id": "11b84d1f.672783",
        "type": "comment",
        "z": "f2cefa2e.a30a9",
        "name": "GUI",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "7148cec5.95441",
        "type": "inject",
        "z": "f2cefa2e.a30a9",
        "name": "Alle 2s",
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "4c4c5952.878748"
            ]
        ]
    },
    {
        "id": "a8f7f6b9.0d7018",
        "type": "ui_gauge",
        "z": "f2cefa2e.a30a9",
        "name": "Zeige Ø-CPU-Auslastung",
        "group": "4314a159.01844",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Ø Auslastung",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "4c4c5952.878748",
        "type": "cpu",
        "z": "f2cefa2e.a30a9",
        "name": "Lese Ø-CPU-Auslastung",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "b3fa4c76.81fad8"
            ]
        ]
    },
    {
        "id": "e449894b.3f9b78",
        "type": "range",
        "z": "f2cefa2e.a30a9",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Runde",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "a8f7f6b9.0d7018"
            ]
        ]
    },
    {
        "id": "58e42166.1c529",
        "type": "comment",
        "z": "8d01fa85.f01398",
        "name": "GUI",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "3bf420ed.161318",
        "type": "inject",
        "z": "8d01fa85.f01398",
        "name": "Alle 2s",
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "26723a4b.b600fe"
            ]
        ]
    },
    {
        "id": "219405f8.db5122",
        "type": "ui_gauge",
        "z": "8d01fa85.f01398",
        "name": "Zeige RAM-Auslastung",
        "group": "cbefc1f5.641d68",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Auslastung",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "7addc0f4.6e24c",
        "type": "range",
        "z": "8d01fa85.f01398",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Runde",
        "x": 870,
        "y": 100,
        "wires": [
            [
                "219405f8.db5122"
            ]
        ]
    },
    {
        "id": "26723a4b.b600fe",
        "type": "Memory",
        "z": "8d01fa85.f01398",
        "name": "Lese RAM-Daten",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "ff537a08.70113"
            ]
        ]
    },
    {
        "id": "d9c24db1.8d944",
        "type": "change",
        "z": "8d01fa85.f01398",
        "name": "Filtere auf Auslastung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.memusage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 100,
        "wires": [
            [
                "7addc0f4.6e24c"
            ]
        ]
    },
    {
        "id": "b3fa4c76.81fad8",
        "type": "change",
        "z": "f2cefa2e.a30a9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cpu",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "e449894b.3f9b78"
            ]
        ]
    },
    {
        "id": "ff537a08.70113",
        "type": "change",
        "z": "8d01fa85.f01398",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "memory",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "d9c24db1.8d944"
            ]
        ]
    },
    {
        "id": "26fff409.a14fac",
        "type": "comment",
        "z": "aaa51945.bd49a",
        "name": "GUI",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "42f30dd8.515014",
        "type": "inject",
        "z": "aaa51945.bd49a",
        "name": "Alle 10s",
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "7cafeacf.373b6c"
            ]
        ]
    },
    {
        "id": "be8278db.aadba8",
        "type": "ui_gauge",
        "z": "aaa51945.bd49a",
        "name": "Zeige Speicher-Belegung",
        "group": "c8fe58ce.64afd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Belegung",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "7ae2abf5.6a76b4",
        "type": "range",
        "z": "aaa51945.bd49a",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "Skaliere & runde",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "be8278db.aadba8"
            ]
        ]
    },
    {
        "id": "cad3d0b3.5751f8",
        "type": "change",
        "z": "aaa51945.bd49a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "storage",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "dae1b1ef.fa07"
            ]
        ]
    },
    {
        "id": "7cafeacf.373b6c",
        "type": "Drives",
        "z": "aaa51945.bd49a",
        "name": "Lese Speicher-Daten",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "cad3d0b3.5751f8"
            ]
        ]
    },
    {
        "id": "c2806e47.d4ad8",
        "type": "inject",
        "z": "624937ab.a0cd9",
        "name": "1-mal beim Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c1d25134.72f6"
            ]
        ]
    },
    {
        "id": "c1d25134.72f6",
        "type": "change",
        "z": "624937ab.a0cd9",
        "name": "Mache Steckdosen-IDs global verfügbar",
        "rules": [
            {
                "t": "set",
                "p": "plugs.workroom.christian.ain",
                "pt": "global",
                "to": "087610342740",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "plugs.workroom.sandra.ain",
                "pt": "global",
                "to": "087610465315",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4d68a964.fcbac8",
        "type": "comment",
        "z": "3966eecb.418ed2",
        "name": "Automatisch Schalten",
        "info": "",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "612249b3.e72c",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Mo., Di., Mi., Do., & So., 21 Uhr",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 21 * * 1,2,3,4,0",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "2c0133f5.eace84"
            ]
        ]
    },
    {
        "id": "4907f5ed.751d2c",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Fr. & Sa., 22 Uhr",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "00 22 * * 5,6",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "1a5c772e.b60f99"
            ]
        ]
    },
    {
        "id": "73ece22e.f38dec",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Werktags, 07:30 Uhr",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "30 07 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "1bdf9201.38227e"
            ]
        ]
    },
    {
        "id": "a642a6ae.112438",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Wochenende, 10 Uhr",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 12 * * 2,6,0",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "a49d133a.d34738"
            ]
        ]
    },
    {
        "id": "5908b50d.087e94",
        "type": "comment",
        "z": "cb9bca95.45947",
        "name": "GUI",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "6b0a3d11.c37b74",
        "type": "inject",
        "z": "cb9bca95.45947",
        "name": "1-mal beim Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "d3f996ee.4cf658",
                "f83df6e6.865c08"
            ]
        ]
    },
    {
        "id": "d3f996ee.4cf658",
        "type": "exec",
        "z": "cb9bca95.45947",
        "command": "node -v",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Lese Node.js-Version",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "46bab668.97aaf"
            ],
            [],
            []
        ]
    },
    {
        "id": "46bab668.97aaf",
        "type": "ui_text",
        "z": "cb9bca95.45947",
        "group": "ce9bba2a.9d9588",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Zeige Node.js-Version",
        "label": "Node.js:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "534580c6.34f47",
        "type": "json",
        "z": "cb9bca95.45947",
        "name": "Konvertiere zu JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "438a7561.a93af4"
            ]
        ]
    },
    {
        "id": "f8b0e1d9.5980c",
        "type": "ui_table",
        "z": "cb9bca95.45947",
        "group": "ce9bba2a.9d9588",
        "name": "Zeige Paket-Versionen",
        "order": 2,
        "width": "6",
        "height": "8",
        "columns": [
            {
                "field": "name",
                "title": "Paket-Name",
                "width": "70%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "version",
                "title": "Version",
                "width": "30%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "f83df6e6.865c08",
        "type": "file in",
        "z": "cb9bca95.45947",
        "name": "Lese Paket-Versionen",
        "filename": "package.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "534580c6.34f47"
            ]
        ]
    },
    {
        "id": "438a7561.a93af4",
        "type": "change",
        "z": "cb9bca95.45947",
        "name": "Bereite Daten auf",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$each(payload.dependencies, function($v, $k) {\t    {\t        \"name\": $k,\t        \"version\": $v\t    }\t})\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "f8b0e1d9.5980c"
            ]
        ]
    },
    {
        "id": "1056a178.8d55df",
        "type": "comment",
        "z": "55f0feba.93e878",
        "name": "GUI",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "f4614d41.21dad",
        "type": "change",
        "z": "311aacb9.34a24c",
        "name": "Formatiere Uhrzeit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$fromMillis(payload, '[H01]:[m01]:[s01]', timezone)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "169a6858.ea146"
            ]
        ]
    },
    {
        "id": "2122249c.3ea634",
        "type": "comment",
        "z": "311aacb9.34a24c",
        "name": "GUI",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "cd0b25c7.898b2",
        "type": "inject",
        "z": "311aacb9.34a24c",
        "name": "Alle 0,5s",
        "topic": "time",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "b5d81e85.8c588"
            ]
        ]
    },
    {
        "id": "169a6858.ea146",
        "type": "ui_text",
        "z": "311aacb9.34a24c",
        "group": "22abfc75.b9b2e4",
        "order": 2,
        "width": 2,
        "height": 2,
        "name": "Zeige Uhrzeit",
        "label": "<i class=\"fa fa-clock-o\"></i>",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "e824a13e.b27558",
        "type": "change",
        "z": "311aacb9.34a24c",
        "name": "Formatiere Datum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$fromMillis(payload, '[D01].[M01].[Y0001]')\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "8434d57a.d32188"
            ]
        ]
    },
    {
        "id": "d5b3d67.c5c43a8",
        "type": "inject",
        "z": "311aacb9.34a24c",
        "name": "Alle 0,5s",
        "topic": "date",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "e824a13e.b27558"
            ]
        ]
    },
    {
        "id": "8434d57a.d32188",
        "type": "ui_text",
        "z": "311aacb9.34a24c",
        "group": "22abfc75.b9b2e4",
        "order": 1,
        "width": 2,
        "height": 2,
        "name": "Zeige Datum",
        "label": "<i class=\"fa fa-calendar\"></i>",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "b5d81e85.8c588",
        "type": "function",
        "z": "311aacb9.34a24c",
        "name": "Berechne Zeitzone",
        "func": "// see https://usefulangle.com/post/30/javascript-get-date-time-with-offset-hours-minutes\nvar offsetInMin = new Date().getTimezoneOffset();\nvar hrsOffset = Math.abs(offsetInMin/60);\nvar minOffset = Math.abs(offsetInMin%60);\nvar hhOffset = (\"00\" + hrsOffset).slice(-2);\nvar mmOffset = (\"00\" + minOffset).slice(-2);\n\nvar offsetIso8601 = undefined;\nif (offsetInMin < 0)\n    offsetIso8601 = \"+\" + hhOffset + mmOffset;\nelse if (offsetInMin > 0)\n    offsetIso8601 = \"-\" + hhOffset + mmOffset;\nelse if (offsetInMin === 0)\n    offsetIso8601 = \"Z\";\n\nmsg.timezone = offsetIso8601;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "f4614d41.21dad"
            ]
        ]
    },
    {
        "id": "af1639e7.95b8b",
        "type": "switch",
        "z": "aaa51945.bd49a",
        "name": "Filtere auf root",
        "property": "payload.mount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "d35bba29.5bdf38"
            ],
            []
        ]
    },
    {
        "id": "dae1b1ef.fa07",
        "type": "split",
        "z": "aaa51945.bd49a",
        "name": "Teile Array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 140,
        "wires": [
            [
                "af1639e7.95b8b"
            ]
        ]
    },
    {
        "id": "d35bba29.5bdf38",
        "type": "change",
        "z": "aaa51945.bd49a",
        "name": "Setze Auslastung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.capacity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "7ae2abf5.6a76b4"
            ]
        ]
    },
    {
        "id": "35fc6300.a6c72e",
        "type": "comment",
        "z": "3860d3b1.ccd2d4",
        "name": "GUI",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "e4cf9be4.bb8218",
        "type": "comment",
        "z": "a4694e56.1df578",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 560,
        "wires": []
    },
    {
        "id": "ed8dee41.e66038",
        "type": "trigger",
        "z": "a4694e56.1df578",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "5s Cooldown",
        "x": 610,
        "y": 840,
        "wires": [
            [
                "afc35f12.1c3fd"
            ]
        ]
    },
    {
        "id": "afc35f12.1c3fd",
        "type": "rbe",
        "z": "a4694e56.1df578",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 630,
        "y": 880,
        "wires": [
            [
                "9ca3e613.6e6cb"
            ]
        ]
    },
    {
        "id": "3eda18f1.d83e6",
        "type": "fritz-outlet",
        "z": "3860d3b1.ccd2d4",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Schaltzustand",
        "action": "getSwitchState",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "237651ea.0db8de"
            ]
        ]
    },
    {
        "id": "3ad0a5ad.63c1ca",
        "type": "fritz-outlet",
        "z": "3860d3b1.ccd2d4",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Leistung",
        "action": "getSwitchPower",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "5ddd521f.a48464"
            ]
        ]
    },
    {
        "id": "737d1bbd.5abe3c",
        "type": "ui_switch",
        "z": "3860d3b1.ccd2d4",
        "name": "Interaktion Schaltzustand",
        "label": "<i class=\"fa fa-plug\"></i> An? / Aus?",
        "tooltip": "",
        "group": "e7215ad9.54bc5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch-plug",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "fe2b65b2.f297d8"
            ]
        ]
    },
    {
        "id": "5ddd521f.a48464",
        "type": "ui_text",
        "z": "3860d3b1.ccd2d4",
        "group": "e7215ad9.54bc5",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige Leistungsaufnahme",
        "label": "<i class=\"fa fa-bolt\"></i>",
        "format": "{{msg.payload}}W",
        "layout": "row-center",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0789e6b.af059",
        "type": "fritz-thermostat",
        "z": "3860d3b1.ccd2d4",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Temperatur",
        "action": "getTemperature",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "bfd57593.8c6e2"
            ]
        ]
    },
    {
        "id": "bfd57593.8c6e2",
        "type": "ui_text",
        "z": "3860d3b1.ccd2d4",
        "group": "e7215ad9.54bc5",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Zeige Temperatur",
        "label": "<i class=\"fa fa-thermometer-half\"></i>",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "37b30376.6ff1ac",
        "type": "fritz-outlet",
        "z": "3860d3b1.ccd2d4",
        "connection": "1f1ed453.c0771c",
        "name": "Setze Schaltzustand",
        "action": "setSwitchState",
        "x": 1160,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4c6cfb65.4d0d54",
        "type": "inject",
        "z": "3860d3b1.ccd2d4",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "ce57d3c4.60d1e8"
            ]
        ]
    },
    {
        "id": "ce57d3c4.60d1e8",
        "type": "change",
        "z": "3860d3b1.ccd2d4",
        "name": "Setze AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plugs.workroom.sandra.ain",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "3eda18f1.d83e6",
                "3ad0a5ad.63c1ca",
                "d0789e6b.af059",
                "81ce4a55.d85448"
            ]
        ]
    },
    {
        "id": "31d893bc.af5a2c",
        "type": "change",
        "z": "3860d3b1.ccd2d4",
        "name": "Setze AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plugs.workroom.sandra.ain",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "37b30376.6ff1ac"
            ]
        ]
    },
    {
        "id": "81ce4a55.d85448",
        "type": "fritz-outlet",
        "z": "3860d3b1.ccd2d4",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Verbindungsstatus",
        "action": "getSwitchPresence",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "2a3be566.bc1b5a"
            ]
        ]
    },
    {
        "id": "2a3be566.bc1b5a",
        "type": "ui_template",
        "z": "3860d3b1.ccd2d4",
        "group": "e7215ad9.54bc5",
        "name": "Zeige Status",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"fa fa-link\" ng-class=\"icon\"></i>\n    <i ng-if=\"!msg.payload\" class=\"fa fa-chain-broken\" ng-class=\"icon\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 670,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fe2b65b2.f297d8",
        "type": "trigger",
        "z": "3860d3b1.ccd2d4",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "5s Cooldown",
        "x": 750,
        "y": 360,
        "wires": [
            [
                "ba59be0.2a8114"
            ]
        ]
    },
    {
        "id": "237651ea.0db8de",
        "type": "rbe",
        "z": "3860d3b1.ccd2d4",
        "name": "Nur bei Änderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "737d1bbd.5abe3c"
            ]
        ]
    },
    {
        "id": "ba59be0.2a8114",
        "type": "rbe",
        "z": "3860d3b1.ccd2d4",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 830,
        "y": 400,
        "wires": [
            [
                "31d893bc.af5a2c"
            ]
        ]
    },
    {
        "id": "34d59498.36aca4",
        "type": "fritz-outlet",
        "z": "55f0feba.93e878",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Schaltzustand",
        "action": "getSwitchState",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "68133292.d8483c"
            ]
        ]
    },
    {
        "id": "53eca66e.afd3b8",
        "type": "fritz-outlet",
        "z": "55f0feba.93e878",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Leistung",
        "action": "getSwitchPower",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "20b4a438.006e74"
            ]
        ]
    },
    {
        "id": "dc35071d.d50d68",
        "type": "ui_switch",
        "z": "55f0feba.93e878",
        "name": "Interaktion Schaltzustand",
        "label": "<i class=\"fa fa-plug\"></i> An? / Aus?",
        "tooltip": "",
        "group": "259c1fb2.ed8768",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch-plug",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 320,
        "wires": [
            [
                "bb17c644.f09ef"
            ]
        ]
    },
    {
        "id": "20b4a438.006e74",
        "type": "ui_text",
        "z": "55f0feba.93e878",
        "group": "259c1fb2.ed8768",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige Leistungsaufnahme",
        "label": "<i class=\"fa fa-bolt\"></i>",
        "format": "{{msg.payload}}W",
        "layout": "row-center",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "b4df91a0.9de54",
        "type": "fritz-thermostat",
        "z": "55f0feba.93e878",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Temperatur",
        "action": "getTemperature",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "70d50f3e.5dc97"
            ]
        ]
    },
    {
        "id": "70d50f3e.5dc97",
        "type": "ui_text",
        "z": "55f0feba.93e878",
        "group": "259c1fb2.ed8768",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Zeige Temperatur",
        "label": "<i class=\"fa fa-thermometer-half\"></i>",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "ca3d3a3e.5179a",
        "type": "fritz-outlet",
        "z": "55f0feba.93e878",
        "connection": "1f1ed453.c0771c",
        "name": "Setze Schaltzustand",
        "action": "setSwitchState",
        "x": 1160,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "fbc16d92.100bb",
        "type": "inject",
        "z": "55f0feba.93e878",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "1001968d.9f48e1"
            ]
        ]
    },
    {
        "id": "1001968d.9f48e1",
        "type": "change",
        "z": "55f0feba.93e878",
        "name": "Setze AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plugs.workroom.christian.ain",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "34d59498.36aca4",
                "53eca66e.afd3b8",
                "b4df91a0.9de54",
                "72e775b6.eb5b44"
            ]
        ]
    },
    {
        "id": "4a18a891.b07298",
        "type": "change",
        "z": "55f0feba.93e878",
        "name": "Setze AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plugs.workroom.christian.ain",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 320,
        "wires": [
            [
                "ca3d3a3e.5179a"
            ]
        ]
    },
    {
        "id": "72e775b6.eb5b44",
        "type": "fritz-outlet",
        "z": "55f0feba.93e878",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Verbindungsstatus",
        "action": "getSwitchPresence",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "d40d0104.58182"
            ]
        ]
    },
    {
        "id": "d40d0104.58182",
        "type": "ui_template",
        "z": "55f0feba.93e878",
        "group": "259c1fb2.ed8768",
        "name": "Zeige Status",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"fa fa-link\" ng-class=\"icon\"></i>\n    <i ng-if=\"!msg.payload\" class=\"fa fa-chain-broken\" ng-class=\"icon\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 670,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bb17c644.f09ef",
        "type": "trigger",
        "z": "55f0feba.93e878",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "5s Cooldown",
        "x": 750,
        "y": 360,
        "wires": [
            [
                "cb026c92.cd34d"
            ]
        ]
    },
    {
        "id": "68133292.d8483c",
        "type": "rbe",
        "z": "55f0feba.93e878",
        "name": "Nur bei Änderung",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "dc35071d.d50d68"
            ]
        ]
    },
    {
        "id": "cb026c92.cd34d",
        "type": "rbe",
        "z": "55f0feba.93e878",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 830,
        "y": 400,
        "wires": [
            [
                "4a18a891.b07298"
            ]
        ]
    },
    {
        "id": "271e6d2e.ff86c2",
        "type": "comment",
        "z": "ef9247c6.cadc28",
        "name": "Automatisch Schalten",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "a35f26f0.c061c8",
        "type": "inject",
        "z": "ef9247c6.cadc28",
        "name": "Mo., Mi., & Fr., 10 Uhr",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "00 10 * * 1,3,5",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "545ada08.831764"
            ]
        ]
    },
    {
        "id": "545ada08.831764",
        "type": "change",
        "z": "ef9247c6.cadc28",
        "name": "Startbefehl",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "3ffc6d98.40fbb2"
            ]
        ]
    },
    {
        "id": "3ffc6d98.40fbb2",
        "type": "basic",
        "z": "ef9247c6.cadc28",
        "connection": "f438956c.669a58",
        "name": "",
        "x": 530,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b231a739.5b0028",
        "type": "comment",
        "z": "a4694e56.1df578",
        "name": "Automatisch Schalten",
        "info": "",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "cae88192.bda8",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 1m",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "ab0c2540.1e09d8"
            ]
        ]
    },
    {
        "id": "eb44ddba.0435f",
        "type": "comment",
        "z": "a4694e56.1df578",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "e35cf263.5322d",
        "type": "comment",
        "z": "a4694e56.1df578",
        "name": "Steckdosen -> Wohnzimmer: Fernsehtisch",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "2359c962.3fecbe",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "995adc09.9e4e48"
            ]
        ]
    },
    {
        "id": "995adc09.9e4e48",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "47ec3a3e.b31254"
            ]
        ]
    },
    {
        "id": "47ec3a3e.b31254",
        "type": "fritz-outlet",
        "z": "a4694e56.1df578",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Verbindungsstatus",
        "action": "getSwitchPresence",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "232544c8.88cf44"
            ]
        ]
    },
    {
        "id": "232544c8.88cf44",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Merke Verbindungsstatus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isConnected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "eecde384.da5f",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Beim Start",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "cd1e545a.779618"
            ]
        ]
    },
    {
        "id": "cd1e545a.779618",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Merke AIN",
        "rules": [
            {
                "t": "set",
                "p": "plug.ain",
                "pt": "flow",
                "to": "087610300838",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc8e211.5af08e",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "3b8f12de.490b96"
            ]
        ]
    },
    {
        "id": "3b8f12de.490b96",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "1505cab1.9b6cd5"
            ]
        ]
    },
    {
        "id": "1505cab1.9b6cd5",
        "type": "fritz-outlet",
        "z": "a4694e56.1df578",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Leistung",
        "action": "getSwitchPower",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "dbd68895.25155"
            ]
        ]
    },
    {
        "id": "dbd68895.25155",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Merke Leistung",
        "rules": [
            {
                "t": "set",
                "p": "plug.power",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c69173c2.4b802",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "71b5e0cb.4a3f38"
            ]
        ]
    },
    {
        "id": "71b5e0cb.4a3f38",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "ab163496.4623f"
            ]
        ]
    },
    {
        "id": "ab163496.4623f",
        "type": "fritz-thermostat",
        "z": "a4694e56.1df578",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Temperatur",
        "action": "getTemperature",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "41eb43ce.929264"
            ]
        ]
    },
    {
        "id": "41eb43ce.929264",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Merke Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "plug.temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c9a834d4.13b4b",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "103d7478.d2d9dc"
            ]
        ]
    },
    {
        "id": "103d7478.d2d9dc",
        "type": "ui_template",
        "z": "a4694e56.1df578",
        "group": "4587520c.baf024",
        "name": "Zeige Status",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"flow.plug.isConnected\" class=\"fa fa-link\" ng-class=\"icon\"></i>\n    <i ng-if=\"!flow.plug.isConnected\" class=\"fa fa-chain-broken\" ng-class=\"icon\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 490,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "bf37dde1.a82a2",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 680,
        "wires": [
            [
                "1ab8b5fe.98cb7a"
            ]
        ]
    },
    {
        "id": "1ab8b5fe.98cb7a",
        "type": "ui_text",
        "z": "a4694e56.1df578",
        "group": "4587520c.baf024",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Zeige Temperatur",
        "label": "<i class=\"fa fa-thermometer-half\"></i>",
        "format": "{{flow.plug.temperature}}°C",
        "layout": "row-center",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "d9cb4dbc.cce23",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 740,
        "wires": [
            [
                "e0ef11.5ab160f"
            ]
        ]
    },
    {
        "id": "e0ef11.5ab160f",
        "type": "ui_text",
        "z": "a4694e56.1df578",
        "group": "4587520c.baf024",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige Leistungsaufnahme",
        "label": "<i class=\"fa fa-bolt\"></i>",
        "format": "{{flow.plug.power}}W",
        "layout": "row-center",
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "b0527f2d.cc4d",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 800,
        "wires": [
            [
                "364fea2.71ba816"
            ]
        ]
    },
    {
        "id": "796e901b.7a6d88",
        "type": "rbe",
        "z": "a4694e56.1df578",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "90631c64.8174d"
            ]
        ]
    },
    {
        "id": "364fea2.71ba816",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "3028c078.d3f3e"
            ]
        ]
    },
    {
        "id": "cc5e44f3.19111",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "9cc1a0b5.94b818"
            ]
        ]
    },
    {
        "id": "9cc1a0b5.94b818",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "f04abec.e4b39c"
            ]
        ]
    },
    {
        "id": "f04abec.e4b39c",
        "type": "fritz-outlet",
        "z": "a4694e56.1df578",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Schaltzustand",
        "action": "getSwitchState",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "f0435fb9.74a5f8"
            ]
        ]
    },
    {
        "id": "f0435fb9.74a5f8",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Merke Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3028c078.d3f3e",
        "type": "ui_switch",
        "z": "a4694e56.1df578",
        "name": "Interaktion Schaltzustand",
        "label": "<i class=\"fa fa-plug\"></i> An? / Aus?",
        "tooltip": "",
        "group": "4587520c.baf024",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch-plug",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "ed8dee41.e66038"
            ]
        ]
    },
    {
        "id": "8a2cfb94.4b6a58",
        "type": "inject",
        "z": "a4694e56.1df578",
        "name": "Alle 5s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "5787e85f.e541a"
            ]
        ]
    },
    {
        "id": "5787e85f.e541a",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "796e901b.7a6d88"
            ]
        ]
    },
    {
        "id": "90631c64.8174d",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 480,
        "wires": [
            [
                "1db8327d.dec1de"
            ]
        ]
    },
    {
        "id": "1db8327d.dec1de",
        "type": "fritz-outlet",
        "z": "a4694e56.1df578",
        "connection": "1f1ed453.c0771c",
        "name": "Setze Schaltzustand",
        "action": "setSwitchState",
        "x": 860,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca3e613.6e6cb",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Setze Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "2ff3b34e.f6c52c",
        "type": "delay",
        "z": "a4694e56.1df578",
        "name": "30m Bedenkzeit",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 500,
        "y": 1040,
        "wires": [
            [
                "72b84630.73fce"
            ]
        ]
    },
    {
        "id": "b24ef9d4.92036",
        "type": "trigger",
        "z": "a4694e56.1df578",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "30m Cooldown",
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "2ff3b34e.f6c52c"
            ]
        ]
    },
    {
        "id": "ab0c2540.1e09d8",
        "type": "switch",
        "z": "a4694e56.1df578",
        "name": "< 7W ?",
        "property": "plug.power",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 1000,
        "wires": [
            [
                "b24ef9d4.92036"
            ],
            [
                "eac417d2.90ae8"
            ]
        ]
    },
    {
        "id": "eac417d2.90ae8",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Setze zurück",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "any value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "b24ef9d4.92036",
                "2ff3b34e.f6c52c"
            ]
        ]
    },
    {
        "id": "72b84630.73fce",
        "type": "change",
        "z": "a4694e56.1df578",
        "name": "Schalte aus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "8afae5a4.3ca4a8",
        "type": "comment",
        "z": "3966eecb.418ed2",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 560,
        "wires": []
    },
    {
        "id": "c81da780.52162",
        "type": "trigger",
        "z": "3966eecb.418ed2",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "5",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "5s Cooldown",
        "x": 610,
        "y": 840,
        "wires": [
            [
                "f7840e76.dd693"
            ]
        ]
    },
    {
        "id": "f7840e76.dd693",
        "type": "rbe",
        "z": "3966eecb.418ed2",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 630,
        "y": 880,
        "wires": [
            [
                "4ce1d930.5a6b7"
            ]
        ]
    },
    {
        "id": "6f0349a1.89b6b",
        "type": "comment",
        "z": "3966eecb.418ed2",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "3be2a5c2.3bbce2",
        "type": "comment",
        "z": "3966eecb.418ed2",
        "name": "Steckdosen -> Schlafzimmer: Nachttische",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "7e932689.83f02",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "63824269.5772c4"
            ]
        ]
    },
    {
        "id": "63824269.5772c4",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "a18e1d6d.bce298"
            ]
        ]
    },
    {
        "id": "a18e1d6d.bce298",
        "type": "fritz-outlet",
        "z": "3966eecb.418ed2",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Verbindungsstatus",
        "action": "getSwitchPresence",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "4bb32640.b87f78"
            ]
        ]
    },
    {
        "id": "4bb32640.b87f78",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Merke Verbindungsstatus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isConnected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f5186d03.f68bb8",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Beim Start",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "88e4c2de.08d998"
            ]
        ]
    },
    {
        "id": "88e4c2de.08d998",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Merke AIN",
        "rules": [
            {
                "t": "set",
                "p": "plug.ain",
                "pt": "flow",
                "to": "087610268064",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1535d20b.66afce",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 300,
        "wires": [
            [
                "f7d94e03.5b53d"
            ]
        ]
    },
    {
        "id": "f7d94e03.5b53d",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "ed3bbc2e.242d08"
            ]
        ]
    },
    {
        "id": "ed3bbc2e.242d08",
        "type": "fritz-outlet",
        "z": "3966eecb.418ed2",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Leistung",
        "action": "getSwitchPower",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "f71ff3fe.c9c528"
            ]
        ]
    },
    {
        "id": "f71ff3fe.c9c528",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Merke Leistung",
        "rules": [
            {
                "t": "set",
                "p": "plug.power",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d589df2c.0dad7",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "d945728f.ddf2a"
            ]
        ]
    },
    {
        "id": "d945728f.ddf2a",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "ea7a9df.43fa9e"
            ]
        ]
    },
    {
        "id": "ea7a9df.43fa9e",
        "type": "fritz-thermostat",
        "z": "3966eecb.418ed2",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Temperatur",
        "action": "getTemperature",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "8cb673d2.381c98"
            ]
        ]
    },
    {
        "id": "8cb673d2.381c98",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Merke Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "plug.temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6cc910ef.6249f8",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "f54e3d9a.4511d8"
            ]
        ]
    },
    {
        "id": "f54e3d9a.4511d8",
        "type": "ui_template",
        "z": "3966eecb.418ed2",
        "group": "412fbf62.1e1d9",
        "name": "Zeige Status",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"flow.plug.isConnected\" class=\"fa fa-link\" ng-class=\"icon\"></i>\n    <i ng-if=\"!flow.plug.isConnected\" class=\"fa fa-chain-broken\" ng-class=\"icon\"></i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 490,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "24739403.76a32c",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 680,
        "wires": [
            [
                "da89e487.a2b788"
            ]
        ]
    },
    {
        "id": "da89e487.a2b788",
        "type": "ui_text",
        "z": "3966eecb.418ed2",
        "group": "412fbf62.1e1d9",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Zeige Temperatur",
        "label": "<i class=\"fa fa-thermometer-half\"></i>",
        "format": "{{flow.plug.temperature}}°C",
        "layout": "row-center",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "c22ae623.3b298",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 740,
        "wires": [
            [
                "24705aa5.f0a986"
            ]
        ]
    },
    {
        "id": "24705aa5.f0a986",
        "type": "ui_text",
        "z": "3966eecb.418ed2",
        "group": "412fbf62.1e1d9",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige Leistungsaufnahme",
        "label": "<i class=\"fa fa-bolt\"></i>",
        "format": "{{flow.plug.power}}W",
        "layout": "row-center",
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "5335484c.42aaf8",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 15s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 800,
        "wires": [
            [
                "95d8c16.43d764"
            ]
        ]
    },
    {
        "id": "85bd2e4c.f87ff8",
        "type": "rbe",
        "z": "3966eecb.418ed2",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "bbeb1d6e.fda2c"
            ]
        ]
    },
    {
        "id": "95d8c16.43d764",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 800,
        "wires": [
            [
                "1ef33988.d35f9e"
            ]
        ]
    },
    {
        "id": "4b8ff565.62a2fc",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 10s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 420,
        "wires": [
            [
                "5e4841f2.41f7b"
            ]
        ]
    },
    {
        "id": "5e4841f2.41f7b",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "9df8ac5a.2d8bf"
            ]
        ]
    },
    {
        "id": "9df8ac5a.2d8bf",
        "type": "fritz-outlet",
        "z": "3966eecb.418ed2",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Schaltzustand",
        "action": "getSwitchState",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "893ab9c3.76122"
            ]
        ]
    },
    {
        "id": "893ab9c3.76122",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Merke Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1ef33988.d35f9e",
        "type": "ui_switch",
        "z": "3966eecb.418ed2",
        "name": "Interaktion Schaltzustand",
        "label": "<i class=\"fa fa-plug\"></i> An? / Aus?",
        "tooltip": "",
        "group": "412fbf62.1e1d9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch-plug",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 800,
        "wires": [
            [
                "c81da780.52162"
            ]
        ]
    },
    {
        "id": "d780e3ce.6f10c8",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "Alle 5s",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "6809d11d.8410d"
            ]
        ]
    },
    {
        "id": "6809d11d.8410d",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "85bd2e4c.f87ff8"
            ]
        ]
    },
    {
        "id": "bbeb1d6e.fda2c",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "plug.ain",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 480,
        "wires": [
            [
                "bfe23b9f.23b9b"
            ]
        ]
    },
    {
        "id": "bfe23b9f.23b9b",
        "type": "fritz-outlet",
        "z": "3966eecb.418ed2",
        "connection": "1f1ed453.c0771c",
        "name": "Setze Schaltzustand",
        "action": "setSwitchState",
        "x": 860,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4ce1d930.5a6b7",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Setze Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "2c0133f5.eace84",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Schalte an",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "1a5c772e.b60f99",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Schalte an",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "1bdf9201.38227e",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Schalte aus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a49d133a.d34738",
        "type": "change",
        "z": "3966eecb.418ed2",
        "name": "Schalte aus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1120,
        "wires": [
            []
        ]
    }
]