flows.json
[
    {
        "id": "5d6d9515.0c3bc4",
        "type": "tab",
        "label": "Heizkörper",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3966eecb.418ed2",
        "type": "tab",
        "label": "Steckdosen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "daddeffe.066c5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Smart Home :: HB-AWF3-3R",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1f1ed453.c0771c",
        "type": "fritz-api",
        "z": "",
        "name": "FB7580--AWF3-3R",
        "host": "http://fritz.box",
        "strictSSL": true
    },
    {
        "id": "40c17f7e.3d5e8",
        "type": "comment",
        "z": "3966eecb.418ed2",
        "name": "Schlafzimmer: Nachttische",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb33e033.a147a",
        "type": "inject",
        "z": "3966eecb.418ed2",
        "name": "ain",
        "topic": "087610268064",
        "payload": "",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "3846ef85.95a5d",
                "5827767f.cf6a88"
            ]
        ]
    },
    {
        "id": "3846ef85.95a5d",
        "type": "fritz-outlet",
        "z": "3966eecb.418ed2",
        "connection": "1f1ed453.c0771c",
        "name": "get state",
        "action": "getSwitchState",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "a98c0add.464e88"
            ]
        ]
    },
    {
        "id": "5827767f.cf6a88",
        "type": "fritz-outlet",
        "z": "3966eecb.418ed2",
        "connection": "1f1ed453.c0771c",
        "name": "get power",
        "action": "getSwitchPower",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "b18a1b77.1c0878"
            ]
        ]
    },
    {
        "id": "a98c0add.464e88",
        "type": "debug",
        "z": "3966eecb.418ed2",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "b18a1b77.1c0878",
        "type": "debug",
        "z": "3966eecb.418ed2",
        "name": "power",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 440,
        "y": 160,
        "wires": []
    }
]