subflows/Berechne_Fritz-Thermostat Ziel-Temperatur.json
[
  {
    "id": "824afeed.e518a8",
    "type": "subflow",
    "name": "Berechne_Fritz-Thermostat Ziel-Temperatur",
    "info": "### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        contactSensor1Topic\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        Topic used to identify messages from contact sensor #1.\n    </dd>\n    <dt>\n        contactSensor2Topic\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        Topic used to identify messages from contact sensor #2. If only 1 sensor exists, provide topic for contact sensor #1 again here.\n    </dd>\n    <dt>\n        targetTemperatureTopic\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        Topic used to identify messages about desired temperature.\n    </dd>\n    <dt>\n        msg.payload\n    </dt>\n    <dd>\n        See msg.topic\n    </dd>\n    <dt>\n        msg.topic\n    </dt>\n    <dd>\n        Expects 3-4 different messages with unique topics. Topics can be specified by static input fields. Only \"radiator/mainSwitch\" is a fixed required topic.\n    </dd>\n</dl>\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "953367fc.1af7f"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1320,
        "y": 280,
        "wires": [
          {
            "id": "f9b3f37f.d94d88",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "contactSensor1Topic",
        "type": "str",
        "value": "-TODO: contactSensor1Topic-",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "contactSensor2Topic",
        "type": "str",
        "value": "-TODO: contactSensor2Topic-",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "desiredTemperatureTopic",
        "type": "str",
        "value": "-TODO: desiredTemperatureTopic-",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "color": "#DDAA99",
    "icon": "font-awesome/fa-thermometer-half"
  },
  {
    "id": "27985b75.685a1c",
    "type": "comment",
    "z": "824afeed.e518a8",
    "name": "Berechne Fritz-Thermostat Ziel-Temperatur",
    "info": "",
    "x": 180,
    "y": 40,
    "wires": []
  },
  {
    "id": "953367fc.1af7f",
    "type": "join",
    "z": "824afeed.e518a8",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 170,
    "y": 120,
    "wires": [
      [
        "b88abf2b.aadf",
        "820ae2a4.f4096"
      ]
    ]
  },
  {
    "id": "828d49ee.2b3a18",
    "type": "switch",
    "z": "824afeed.e518a8",
    "name": "Hat Wunsch-Temperatur-Info?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "desiredTemperatureTopic",
        "vt": "env"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 250,
    "y": 360,
    "wires": [
      [
        "ebea32c.93d175"
      ],
      []
    ]
  },
  {
    "id": "b88abf2b.aadf",
    "type": "switch",
    "z": "824afeed.e518a8",
    "name": "Hat Hzg.-Hauptschalter-Info?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "radiator/mainSwitch",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 240,
    "y": 180,
    "wires": [
      [
        "263a6b6f.705364"
      ],
      []
    ]
  },
  {
    "id": "263a6b6f.705364",
    "type": "switch",
    "z": "824afeed.e518a8",
    "name": "Hat Kontakt-Sensor-1-Info?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "contactSensor1Topic",
        "vt": "env"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 240,
    "y": 240,
    "wires": [
      [
        "a2c95b23.f4c1f8"
      ],
      []
    ]
  },
  {
    "id": "591c596f.ed5388",
    "type": "switch",
    "z": "824afeed.e518a8",
    "name": "Hat Kontak-Sensor-2-Info?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "contactSensor2Topic",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 240,
    "y": 300,
    "wires": [
      [
        "a23faa40.d932f8"
      ],
      []
    ]
  },
  {
    "id": "4d6a6c30.b08a94",
    "type": "switch",
    "z": "824afeed.e518a8",
    "name": "Ist Heizung an?",
    "property": "payload['radiator/mainSwitch']",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 340,
    "wires": [
      [
        "e52beb35.302808"
      ],
      [
        "8167db1d.102458"
      ]
    ]
  },
  {
    "id": "8167db1d.102458",
    "type": "change",
    "z": "824afeed.e518a8",
    "name": "Setze Ziel-Temperatur auf \"aus\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1030,
    "y": 280,
    "wires": [
      [
        "f9b3f37f.d94d88"
      ]
    ]
  },
  {
    "id": "e52beb35.302808",
    "type": "switch",
    "z": "824afeed.e518a8",
    "name": "Ist Fenster/Tür #1 zu?",
    "property": "isClosed1",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 720,
    "y": 280,
    "wires": [
      [
        "7c7de960.cb5ad8"
      ],
      [
        "8167db1d.102458"
      ]
    ]
  },
  {
    "id": "7c7de960.cb5ad8",
    "type": "switch",
    "z": "824afeed.e518a8",
    "name": "Ist Fenster/Tür #2 zu?",
    "property": "isClosed2",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 720,
    "y": 220,
    "wires": [
      [
        "c01133d2.bf1638"
      ],
      [
        "8167db1d.102458"
      ]
    ]
  },
  {
    "id": "c01133d2.bf1638",
    "type": "change",
    "z": "824afeed.e518a8",
    "name": "Setze Ziel- auf Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "desiredTemperature",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 220,
    "wires": [
      [
        "f9b3f37f.d94d88"
      ]
    ]
  },
  {
    "id": "a2c95b23.f4c1f8",
    "type": "change",
    "z": "824afeed.e518a8",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "isClosed1",
        "pt": "msg",
        "to": "msg[$env('contactSensor1Topic')]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 240,
    "wires": [
      [
        "591c596f.ed5388"
      ]
    ]
  },
  {
    "id": "a23faa40.d932f8",
    "type": "change",
    "z": "824afeed.e518a8",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "isClosed2",
        "pt": "msg",
        "to": "msg[$env('contactSensor2Topic')]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 300,
    "wires": [
      [
        "828d49ee.2b3a18"
      ]
    ]
  },
  {
    "id": "ebea32c.93d175",
    "type": "change",
    "z": "824afeed.e518a8",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "desiredTemperature",
        "pt": "msg",
        "to": "msg[$env('desiredTemperatureTopic')]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 490,
    "y": 360,
    "wires": [
      [
        "4d6a6c30.b08a94",
        "74341054.72f1e8"
      ]
    ]
  },
  {
    "id": "f9b3f37f.d94d88",
    "type": "change",
    "z": "824afeed.e518a8",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "desiredTemperature",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "isClosed1",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "isClosed2",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1280,
    "y": 220,
    "wires": [
      [
        "e9e00371.08e718"
      ]
    ]
  },
  {
    "id": "820ae2a4.f4096",
    "type": "debug",
    "z": "824afeed.e518a8",
    "name": "Logge Post-merge",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 380,
    "y": 120,
    "wires": []
  },
  {
    "id": "74341054.72f1e8",
    "type": "debug",
    "z": "824afeed.e518a8",
    "name": "Logge Pre-Abfragen",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 400,
    "wires": []
  },
  {
    "id": "e9e00371.08e718",
    "type": "debug",
    "z": "824afeed.e518a8",
    "name": "Logge Resultat",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1310,
    "y": 160,
    "wires": []
  }
]