subflows/Lese_Wetter-Daten_fuer_HB.json
[
  {
    "id": "f421e682.173de",
    "type": "subflow",
    "name": "Lese_Wetter-Daten_fuer_HB",
    "info": "### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        msg.payload\n    </dt>\n    <dd>\n        Only if type is historical! Timestamp from the previous 5 days.\n    </dd>\n    <dt>\n        type\n    </dt>\n    <dd>\n        Select which type of weather data should be pulled: Current weather or historical weather.\n    </dd>\n</dl>\n",
    "category": "",
    "in": [
      {
        "x": 40,
        "y": 120,
        "wires": [
          {
            "id": "275acd35.9cde82"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 580,
        "y": 300,
        "wires": [
          {
            "id": "457961ea.e9049",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "type",
        "type": "str",
        "value": "-TODO: select weather-",
        "ui": {
          "type": "select",
          "opts": {
            "opts": [
              {
                "l": {
                  "en-US": "Current weather"
                },
                "v": "current"
              },
              {
                "l": {
                  "en-US": "Previous 5 days weather"
                },
                "v": "historical"
              }
            ]
          }
        }
      }
    ],
    "color": "#DDAA99",
    "icon": "font-awesome/fa-cloud"
  },
  {
    "id": "4848d9a2.700f38",
    "type": "comment",
    "z": "f421e682.173de",
    "name": "Lese Wetter-Daten f端r Bremen",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "2e37d6a8.957c22",
    "type": "credentials",
    "z": "f421e682.173de",
    "name": "F端ge Geheimdaten ein",
    "props": [
      {
        "value": "payload.appid",
        "type": "msg"
      },
      {
        "value": "payload.lat",
        "type": "msg"
      },
      {
        "value": "payload.lon",
        "type": "msg"
      }
    ],
    "x": 660,
    "y": 120,
    "wires": [
      [
        "dfe34b50.d60298"
      ]
    ]
  },
  {
    "id": "1b100f38.887989",
    "type": "http request",
    "z": "f421e682.173de",
    "name": "Rufe OpenWeatherMap-API",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "query",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 680,
    "y": 200,
    "wires": [
      [
        "457961ea.e9049"
      ]
    ]
  },
  {
    "id": "275acd35.9cde82",
    "type": "change",
    "z": "f421e682.173de",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "datetime",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "weather",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 170,
    "y": 120,
    "wires": [
      [
        "be39378.69d4f48"
      ]
    ]
  },
  {
    "id": "be39378.69d4f48",
    "type": "change",
    "z": "f421e682.173de",
    "name": "F端gen Daten ein",
    "rules": [
      {
        "t": "set",
        "p": "payload.lang",
        "pt": "msg",
        "to": "en",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload.units",
        "pt": "msg",
        "to": "metric",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 180,
    "y": 160,
    "wires": [
      [
        "b9c8627a.4f8458"
      ]
    ]
  },
  {
    "id": "457961ea.e9049",
    "type": "change",
    "z": "f421e682.173de",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "headers",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload.daily",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload.hourly",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload.minutely",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "redirectList",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "responseUrl",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "url",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "b9c8627a.4f8458",
    "type": "switch",
    "z": "f421e682.173de",
    "name": "Welcher Zeitraum?",
    "property": "type",
    "propertyType": "env",
    "rules": [
      {
        "t": "eq",
        "v": "current",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "historical",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 190,
    "y": 200,
    "wires": [
      [
        "70264f6f.4e958"
      ],
      [
        "a810b9d8.a8d6d8"
      ]
    ]
  },
  {
    "id": "70264f6f.4e958",
    "type": "change",
    "z": "f421e682.173de",
    "name": "Setze URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://api.openweathermap.org/data/2.5/onecall",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 140,
    "wires": [
      [
        "2e37d6a8.957c22"
      ]
    ]
  },
  {
    "id": "a810b9d8.a8d6d8",
    "type": "change",
    "z": "f421e682.173de",
    "name": "Setze URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://api.openweathermap.org/data/2.5/onecall/timemachine",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 220,
    "wires": [
      [
        "dab49ee6.8c81"
      ]
    ]
  },
  {
    "id": "dab49ee6.8c81",
    "type": "change",
    "z": "f421e682.173de",
    "name": "F端gen Daten ein",
    "rules": [
      {
        "t": "set",
        "p": "payload.dt",
        "pt": "msg",
        "to": "datetime",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 260,
    "wires": [
      [
        "2e37d6a8.957c22"
      ]
    ]
  },
  {
    "id": "dfe34b50.d60298",
    "type": "change",
    "z": "f421e682.173de",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "datetime",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 160,
    "wires": [
      [
        "1b100f38.887989"
      ]
    ]
  }
]