subflows/Verstehe_Fritz_Thermostat-Daten.json
[
  {
    "id": "390d8418.7506d4",
    "type": "subflow",
    "name": "Verstehe_Fritz_Thermostat-Daten",
    "info": "### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        room\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        Location of the smart radiator control. Used as a `msg.topic` prefix.\n    </dd>\n</dl>\n",
    "category": "",
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "4bcd59b0.ace93"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 660,
        "y": 440,
        "wires": [
          {
            "id": "68e0631d.a26704",
            "port": 0
          }
        ]
      },
      {
        "x": 660,
        "y": 480,
        "wires": [
          {
            "id": "e182957f.77614",
            "port": 0
          }
        ]
      },
      {
        "x": 660,
        "y": 520,
        "wires": [
          {
            "id": "2cb5b465.f66fac",
            "port": 0
          }
        ]
      },
      {
        "x": 660,
        "y": 560,
        "wires": [
          {
            "id": "29bb857a.754732",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "room",
        "type": "str",
        "value": "-TODO: room-",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "color": "#DDAA99",
    "outputLabels": [
      "battery",
      "currentTemperature",
      "isConnected",
      "targetTemperature"
    ],
    "icon": "font-awesome/fa-thermometer-half"
  },
  {
    "id": "866a8b28.5f7418",
    "type": "comment",
    "z": "390d8418.7506d4",
    "name": "Verstehe Fritz Thermostat-Daten",
    "info": "",
    "x": 150,
    "y": 40,
    "wires": []
  },
  {
    "id": "4bcd59b0.ace93",
    "type": "split",
    "z": "390d8418.7506d4",
    "name": "Zerlege",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "topic",
    "x": 180,
    "y": 120,
    "wires": [
      [
        "1c245c99.29dad3"
      ]
    ]
  },
  {
    "id": "8444f8ea.fe9388",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "parts",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "timestamp",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 180,
    "y": 200,
    "wires": [
      [
        "2f461fa1.57caf8"
      ]
    ]
  },
  {
    "id": "e80226e4.53ead",
    "type": "switch",
    "z": "390d8418.7506d4",
    "name": "Ist \"Ist verbunden?\"?",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "present",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 220,
    "y": 340,
    "wires": [
      [
        "6e19bcb1.8208ac"
      ],
      [
        "5aacaf8a.e9af3"
      ]
    ]
  },
  {
    "id": "6e19bcb1.8208ac",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "Ersetze topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "isConnected",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 340,
    "wires": [
      [
        "df378d7e.83d26"
      ]
    ]
  },
  {
    "id": "df378d7e.83d26",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "Formatiere",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload = '1' ? true : false",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 340,
    "wires": [
      [
        "5fdab932.1a2b38"
      ]
    ]
  },
  {
    "id": "1c245c99.29dad3",
    "type": "switch",
    "z": "390d8418.7506d4",
    "name": "Ist Ist-/Soll-Temperatur?",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "hkr",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 230,
    "y": 160,
    "wires": [
      [
        "f0bdbb2a.86cca"
      ],
      [
        "8444f8ea.fe9388"
      ]
    ]
  },
  {
    "id": "f0bdbb2a.86cca",
    "type": "split",
    "z": "390d8418.7506d4",
    "name": "Zerlege",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "topic",
    "x": 440,
    "y": 160,
    "wires": [
      [
        "72f808ff.abc03"
      ]
    ]
  },
  {
    "id": "72f808ff.abc03",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "Ergänze topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "$join(['hkr', topic], '/')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 160,
    "wires": [
      [
        "24b9af89.2dc298"
      ]
    ]
  },
  {
    "id": "53b1e83d.f77d",
    "type": "switch",
    "z": "390d8418.7506d4",
    "name": "Ist Ist-Temperatur?",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "hkr/tist",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 210,
    "y": 300,
    "wires": [
      [
        "4c158499.40019c"
      ],
      [
        "e80226e4.53ead"
      ]
    ]
  },
  {
    "id": "5aacaf8a.e9af3",
    "type": "switch",
    "z": "390d8418.7506d4",
    "name": "Ist Soll-Temperatur?",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "hkr/tsoll",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 220,
    "y": 380,
    "wires": [
      [
        "d3472210.960de"
      ],
      []
    ]
  },
  {
    "id": "4c158499.40019c",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "Ersetze topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "currentTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 300,
    "wires": [
      [
        "37c4acad.d226e4"
      ]
    ]
  },
  {
    "id": "d3472210.960de",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "Ersetze topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "targetTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 380,
    "wires": [
      [
        "acc79644.f22008"
      ]
    ]
  },
  {
    "id": "24b9af89.2dc298",
    "type": "function",
    "z": "390d8418.7506d4",
    "name": "Rechne um",
    "func": "if (msg.payload === 253) msg.payload = false;\nelse if (msg.payload === 254) msg.payload = true;\nelse msg.payload = parseInt(msg.payload)/2;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 810,
    "y": 160,
    "wires": [
      [
        "8444f8ea.fe9388"
      ]
    ]
  },
  {
    "id": "a0440118.244d88",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "Ergänze topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "$join([$env('room'), 'radiator', topic], '/')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 380,
    "wires": [
      [
        "917e1056.73b9d8"
      ]
    ]
  },
  {
    "id": "e182957f.77614",
    "type": "rbe",
    "z": "390d8418.7506d4",
    "name": "Datum geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 530,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "74403e0d.f4e628",
    "type": "switch",
    "z": "390d8418.7506d4",
    "name": "Unterscheide",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "battery",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "currentTemperature",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "isConnected",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "targetTemperature",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 330,
    "y": 500,
    "wires": [
      [
        "68e0631d.a26704"
      ],
      [
        "e182957f.77614"
      ],
      [
        "2cb5b465.f66fac"
      ],
      [
        "29bb857a.754732"
      ]
    ]
  },
  {
    "id": "2cb5b465.f66fac",
    "type": "rbe",
    "z": "390d8418.7506d4",
    "name": "Datum geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 530,
    "y": 520,
    "wires": [
      []
    ]
  },
  {
    "id": "29bb857a.754732",
    "type": "rbe",
    "z": "390d8418.7506d4",
    "name": "Datum geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 530,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "2f461fa1.57caf8",
    "type": "switch",
    "z": "390d8418.7506d4",
    "name": "Ist Batterie?",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "battery",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 190,
    "y": 260,
    "wires": [
      [
        "64a78223.08b21c"
      ],
      [
        "53b1e83d.f77d"
      ]
    ]
  },
  {
    "id": "64a78223.08b21c",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "NOP",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 260,
    "wires": [
      [
        "a0440118.244d88"
      ]
    ]
  },
  {
    "id": "37c4acad.d226e4",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "NOP",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 300,
    "wires": [
      [
        "a0440118.244d88"
      ]
    ]
  },
  {
    "id": "5fdab932.1a2b38",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "NOP",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 340,
    "wires": [
      [
        "a0440118.244d88"
      ]
    ]
  },
  {
    "id": "acc79644.f22008",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "NOP",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 380,
    "wires": [
      [
        "a0440118.244d88"
      ]
    ]
  },
  {
    "id": "68e0631d.a26704",
    "type": "rbe",
    "z": "390d8418.7506d4",
    "name": "Datum geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 530,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "917e1056.73b9d8",
    "type": "change",
    "z": "390d8418.7506d4",
    "name": "NOP",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 170,
    "y": 440,
    "wires": [
      [
        "74403e0d.f4e628"
      ]
    ]
  }
]