subflows/Warte_auf_Fritz-Thermostat-Datum.json
[
  {
    "id": "809ad1e7.8ae618",
    "type": "subflow",
    "name": "Warte_auf_Fritz-Thermostat-Datum",
    "info": "### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n    <dt>\n        function\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        See [fritzapi General functions](https://www.npmjs.com/package/fritzapi#general-functions) and [fritzapi Thermostat functions](https://www.npmjs.com/package/fritzapi#fritzdect-300-301-and-cometdect-thermostat-functions).\n    </dd>\n    <dt>\n        topic\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        Node-RED topic\n    </dd>\n</dl>\n",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 700,
        "y": 300,
        "wires": [
          {
            "id": "e1470e98.4b546",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ain",
        "type": "str",
        "value": "-TODO: AIN-",
        "ui": {
          "icon": "font-awesome/fa-id-card-o",
          "label": {
            "en-US": "AIN"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "env"
            ]
          }
        }
      },
      {
        "name": "function",
        "type": "str",
        "value": "-TODO: function-",
        "ui": {
          "icon": "font-awesome/fa-asterisk",
          "type": "select",
          "opts": {
            "opts": [
              {
                "l": {
                  "en-US": "get presence"
                },
                "v": "getPresence"
              },
              {
                "l": {
                  "en-US": "get current temperature"
                },
                "v": "getTemperature"
              },
              {
                "l": {
                  "en-US": "get target temperature"
                },
                "v": "getTempTarget"
              }
            ]
          }
        }
      },
      {
        "name": "topic",
        "type": "str",
        "value": "-TODO: topic-",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "color": "#DDAA99",
    "icon": "font-awesome/fa-thermometer-half"
  },
  {
    "id": "b5b67508.f5f6",
    "type": "fritz-thermostat",
    "z": "809ad1e7.8ae618",
    "connection": "1f1ed453.c0771c",
    "name": "Lese Datum",
    "action": "",
    "x": 750,
    "y": 120,
    "wires": [
      [
        "696b4f16.883b68"
      ]
    ]
  },
  {
    "id": "79f3c0.a06d0c4",
    "type": "inject",
    "z": "809ad1e7.8ae618",
    "name": "Alle 30s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "inject",
    "payload": "",
    "payloadType": "str",
    "x": 100,
    "y": 120,
    "wires": [
      [
        "1a6a4bb1.463a34"
      ]
    ]
  },
  {
    "id": "c578a6d1.1b615",
    "type": "status",
    "z": "809ad1e7.8ae618",
    "name": "Warte auf Status",
    "scope": [
      "b5b67508.f5f6"
    ],
    "x": 120,
    "y": 180,
    "wires": [
      [
        "e0add72b.7cd2e"
      ]
    ]
  },
  {
    "id": "e0add72b.7cd2e",
    "type": "change",
    "z": "809ad1e7.8ae618",
    "name": "Markiere",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 180,
    "wires": [
      [
        "ab3eecba.03b978"
      ]
    ]
  },
  {
    "id": "746db603.aaa4a",
    "type": "change",
    "z": "809ad1e7.8ae618",
    "name": "Hole Daten",
    "rules": [
      {
        "t": "set",
        "p": "action",
        "pt": "msg",
        "to": "function",
        "tot": "env"
      },
      {
        "t": "set",
        "p": "ain",
        "pt": "msg",
        "to": "ain",
        "tot": "env"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 200,
    "wires": [
      [
        "b5b67508.f5f6"
      ]
    ]
  },
  {
    "id": "1a6a4bb1.463a34",
    "type": "join",
    "z": "809ad1e7.8ae618",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 490,
    "y": 120,
    "wires": [
      [
        "978f45a3.4577c"
      ]
    ]
  },
  {
    "id": "ab3eecba.03b978",
    "type": "switch",
    "z": "809ad1e7.8ae618",
    "name": "Ist verbunden?",
    "property": "status.text",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "connected",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 320,
    "y": 220,
    "wires": [
      [
        "1a6a4bb1.463a34"
      ],
      []
    ]
  },
  {
    "id": "696b4f16.883b68",
    "type": "change",
    "z": "809ad1e7.8ae618",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "action",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "ain",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 160,
    "wires": [
      [
        "407ab8a7.0aa77"
      ]
    ]
  },
  {
    "id": "14af14d0.605403",
    "type": "comment",
    "z": "809ad1e7.8ae618",
    "name": "Lese Fritz-Thermostat-Datum",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "e1470e98.4b546",
    "type": "rbe",
    "z": "809ad1e7.8ae618",
    "name": "Datum geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 770,
    "y": 240,
    "wires": [
      [
        "61d7b30c.96ad84"
      ]
    ]
  },
  {
    "id": "f617df54.6fb29",
    "type": "debug",
    "z": "809ad1e7.8ae618",
    "d": true,
    "name": "Logge Datum",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 200,
    "wires": []
  },
  {
    "id": "61d7b30c.96ad84",
    "type": "debug",
    "z": "809ad1e7.8ae618",
    "d": true,
    "name": "Logge Datumsänderung",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "978f45a3.4577c",
    "type": "change",
    "z": "809ad1e7.8ae618",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "status",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "topic",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 160,
    "wires": [
      [
        "746db603.aaa4a"
      ]
    ]
  },
  {
    "id": "407ab8a7.0aa77",
    "type": "change",
    "z": "809ad1e7.8ae618",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "topic",
        "tot": "env"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 200,
    "wires": [
      [
        "f617df54.6fb29",
        "e1470e98.4b546"
      ]
    ]
  }
]