subflows/Warte_auf_Fritz-Steckdosen-Datum.json
[
  {
    "id": "537a7282.35c514",
    "type": "subflow",
    "name": "Warte_auf_Fritz-Steckdosen-Datum",
    "info": "### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n    <dt>\n        function\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        See links below.\n    </dd>\n    <dt>\n        topic\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        Node-RED topic\n    </dd>\n</dl>\n\n### Resources\n\n - [fritzapi General functions](https://www.npmjs.com/package/fritzapi#general-functions)\n - [fritzapi Outlet functions](https://www.npmjs.com/package/fritzapi#fritzdect-200-and-210-outlet-functions-includes-fritzpowerline-546e)",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 700,
        "y": 300,
        "wires": [
          {
            "id": "29b0627e.69d7b6",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ain",
        "type": "str",
        "value": "-TODO: AIN-",
        "ui": {
          "icon": "font-awesome/fa-id-card-o",
          "label": {
            "en-US": "AIN"
          },
          "type": "input",
          "opts": {
            "types": [
              "str",
              "env"
            ]
          }
        }
      },
      {
        "name": "function",
        "type": "str",
        "value": "-TODO: function-",
        "ui": {
          "icon": "font-awesome/fa-asterisk",
          "type": "select",
          "opts": {
            "opts": [
              {
                "l": {
                  "en-US": "get presence"
                },
                "v": "getSwitchPresence"
              }
            ]
          }
        }
      },
      {
        "name": "topic",
        "type": "str",
        "value": "-TODO: topic-",
        "ui": {
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "color": "#DDAA99",
    "icon": "font-awesome/fa-plug"
  },
  {
    "id": "fbba766f.03a558",
    "type": "inject",
    "z": "537a7282.35c514",
    "name": "Alle 10s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "inject",
    "payload": "",
    "payloadType": "str",
    "x": 100,
    "y": 120,
    "wires": [
      [
        "e60510aa.8a79f"
      ]
    ]
  },
  {
    "id": "b96d24ed.093dc8",
    "type": "status",
    "z": "537a7282.35c514",
    "name": "Warte auf Status",
    "scope": [
      "7f14e24f.4eac84"
    ],
    "x": 120,
    "y": 180,
    "wires": [
      [
        "f5468669.cddbf"
      ]
    ]
  },
  {
    "id": "f5468669.cddbf",
    "type": "change",
    "z": "537a7282.35c514",
    "name": "Markiere",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 180,
    "wires": [
      [
        "e5089b71.bc42c"
      ]
    ]
  },
  {
    "id": "afc8b067.f557f",
    "type": "change",
    "z": "537a7282.35c514",
    "name": "Hole Daten",
    "rules": [
      {
        "t": "set",
        "p": "action",
        "pt": "msg",
        "to": "function",
        "tot": "env"
      },
      {
        "t": "set",
        "p": "ain",
        "pt": "msg",
        "to": "ain",
        "tot": "env"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 200,
    "wires": [
      [
        "7f14e24f.4eac84"
      ]
    ]
  },
  {
    "id": "e60510aa.8a79f",
    "type": "join",
    "z": "537a7282.35c514",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "useparts": true,
    "accumulate": true,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 490,
    "y": 120,
    "wires": [
      [
        "d3a893c6.2158e"
      ]
    ]
  },
  {
    "id": "e5089b71.bc42c",
    "type": "switch",
    "z": "537a7282.35c514",
    "name": "Ist verbunden?",
    "property": "status.text",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "connected",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 320,
    "y": 220,
    "wires": [
      [
        "e60510aa.8a79f"
      ],
      []
    ]
  },
  {
    "id": "d17919ef.76095",
    "type": "change",
    "z": "537a7282.35c514",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "action",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "ain",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 160,
    "wires": [
      [
        "9c726e0a.40ee68"
      ]
    ]
  },
  {
    "id": "52ee0c33.6b64ec",
    "type": "comment",
    "z": "537a7282.35c514",
    "name": "Lese Fritz-Steckdosen-Datum",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "29b0627e.69d7b6",
    "type": "rbe",
    "z": "537a7282.35c514",
    "name": "Datum geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 770,
    "y": 240,
    "wires": [
      [
        "899dc69c.9649e"
      ]
    ]
  },
  {
    "id": "f02e8f66.e2b28",
    "type": "debug",
    "z": "537a7282.35c514",
    "d": true,
    "name": "Logge Datum",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 200,
    "wires": []
  },
  {
    "id": "899dc69c.9649e",
    "type": "debug",
    "z": "537a7282.35c514",
    "d": true,
    "name": "Logge Datumsänderung",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 240,
    "wires": []
  },
  {
    "id": "d3a893c6.2158e",
    "type": "change",
    "z": "537a7282.35c514",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "status",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "topic",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 160,
    "wires": [
      [
        "afc8b067.f557f"
      ]
    ]
  },
  {
    "id": "9c726e0a.40ee68",
    "type": "change",
    "z": "537a7282.35c514",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "topic",
        "tot": "env"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 200,
    "wires": [
      [
        "f02e8f66.e2b28",
        "29b0627e.69d7b6"
      ]
    ]
  },
  {
    "id": "7f14e24f.4eac84",
    "type": "fritz-outlet",
    "z": "537a7282.35c514",
    "connection": "1f1ed453.c0771c",
    "name": "Lese Datum",
    "action": "",
    "x": 750,
    "y": 120,
    "wires": [
      [
        "d17919ef.76095"
      ]
    ]
  }
]