subflows/Warte_auf_Fritz-Rohdaten.json
[
  {
    "id": "12050788.44a868",
    "type": "subflow",
    "name": "Warte_auf_Fritz-Rohdaten",
    "info": "### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n</dl>\n",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 760,
        "y": 260,
        "wires": [
          {
            "id": "d932510f.83b0d8",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ain",
        "type": "str",
        "value": "-TODO: AIN-",
        "ui": {
          "icon": "font-awesome/fa-id-card-o",
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "color": "#DDAA99",
    "icon": "node-red-contrib-fritzapi/fritz.png"
  },
  {
    "id": "7ebaa369.505fd4",
    "type": "comment",
    "z": "12050788.44a868",
    "name": "Warte auf Fritz-Rohdaten",
    "info": "",
    "x": 130,
    "y": 40,
    "wires": []
  },
  {
    "id": "e1811ab8.7951",
    "type": "inject",
    "z": "12050788.44a868",
    "name": "Alle 10s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "0.1",
    "topic": "inject",
    "payload": "",
    "payloadType": "str",
    "x": 100,
    "y": 120,
    "wires": [
      [
        "77f79beafb456023"
      ]
    ]
  },
  {
    "id": "ce3c0dc.853c2f",
    "type": "fritz-thermostat",
    "z": "12050788.44a868",
    "connection": "1f1ed453.c0771c",
    "name": "Lese Daten",
    "action": "getDevice",
    "x": 790,
    "y": 120,
    "wires": [
      [
        "f9f3c7a2.9afc5"
      ]
    ]
  },
  {
    "id": "d932510f.83b0d8",
    "type": "change",
    "z": "12050788.44a868",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "ain",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 200,
    "wires": [
      [
        "3973f25d.c66e06"
      ]
    ]
  },
  {
    "id": "f9f3c7a2.9afc5",
    "type": "change",
    "z": "12050788.44a868",
    "name": "Ersetze topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "ain",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 160,
    "wires": [
      [
        "d932510f.83b0d8"
      ]
    ]
  },
  {
    "id": "3973f25d.c66e06",
    "type": "debug",
    "z": "12050788.44a868",
    "d": true,
    "name": "Debugge \"Warte auf Fritz-Rohdaten (out)\"",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1080,
    "y": 200,
    "wires": []
  },
  {
    "id": "3ca166d3.524032",
    "type": "change",
    "z": "12050788.44a868",
    "name": "Setze AIN",
    "rules": [
      {
        "t": "set",
        "p": "ain",
        "pt": "msg",
        "to": "ain",
        "tot": "env"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 200,
    "wires": [
      [
        "36a62119.d0dcbe"
      ]
    ]
  },
  {
    "id": "36a62119.d0dcbe",
    "type": "change",
    "z": "12050788.44a868",
    "name": "Setze Zeitstempel",
    "rules": [
      {
        "t": "set",
        "p": "timestamp",
        "pt": "msg",
        "to": "",
        "tot": "date"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 570,
    "y": 240,
    "wires": [
      [
        "ce3c0dc.853c2f"
      ]
    ]
  },
  {
    "id": "b4d69d1a786a5e2c",
    "type": "status",
    "z": "12050788.44a868",
    "name": "Warte auf Status",
    "scope": [
      "ce3c0dc.853c2f"
    ],
    "x": 120,
    "y": 180,
    "wires": [
      [
        "89e4efa031eb3059"
      ]
    ]
  },
  {
    "id": "89e4efa031eb3059",
    "type": "change",
    "z": "12050788.44a868",
    "name": "Markiere",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 180,
    "wires": [
      [
        "cb2c689081c7a1a4"
      ]
    ]
  },
  {
    "id": "cb2c689081c7a1a4",
    "type": "switch",
    "z": "12050788.44a868",
    "name": "Ist verbunden?",
    "property": "status.text",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "connected",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 320,
    "y": 220,
    "wires": [
      [
        "77f79beafb456023"
      ],
      []
    ]
  },
  {
    "id": "c3031550f2cd912e",
    "type": "change",
    "z": "12050788.44a868",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "status",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "topic",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 160,
    "wires": [
      [
        "3ca166d3.524032"
      ]
    ]
  },
  {
    "id": "77f79beafb456023",
    "type": "join",
    "z": "12050788.44a868",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "useparts": true,
    "accumulate": true,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 520,
    "y": 120,
    "wires": [
      [
        "c3031550f2cd912e"
      ]
    ]
  }
]