subflows/Warte_auf_aktuelles_Wetter_fuer_Ort.json
[
  {
    "id": "1dd94cb5.93a4f3",
    "type": "subflow",
    "name": "Warte_auf_aktuelles_Wetter_fuer_Ort",
    "info": "",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 1000,
        "y": 380,
        "wires": [
          {
            "id": "a8154467.eb4728",
            "port": 0
          }
        ]
      },
      {
        "x": 1000,
        "y": 420,
        "wires": [
          {
            "id": "1eaed633.52acfa",
            "port": 0
          }
        ]
      },
      {
        "x": 1000,
        "y": 460,
        "wires": [
          {
            "id": "20f69145.7d0d7e",
            "port": 0
          }
        ]
      },
      {
        "x": 1000,
        "y": 500,
        "wires": [
          {
            "id": "748b370.ae6b548",
            "port": 0
          }
        ]
      }
    ],
    "env": [],
    "meta": {},
    "color": "#DDAA99",
    "outputLabels": [
      "icon",
      "temperature",
      "wind direction",
      "wind speed"
    ],
    "icon": "font-awesome/fa-cloud"
  },
  {
    "id": "444e85c8.a85a6c",
    "type": "comment",
    "z": "1dd94cb5.93a4f3",
    "name": "Warte auf aktuelles Wetter für <Ort>",
    "info": "",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "30875f3b.b97dc",
    "type": "inject",
    "z": "1dd94cb5.93a4f3",
    "name": "Alle 15m",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "900",
    "crontab": "",
    "once": true,
    "onceDelay": "0.2",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 100,
    "y": 120,
    "wires": [
      [
        "30b975a6.a07fb2"
      ]
    ]
  },
  {
    "id": "30b975a6.a07fb2",
    "type": "subflow:f421e682.173de",
    "z": "1dd94cb5.93a4f3",
    "name": "Lese aktuelle Wetter-Daten für <Ort>",
    "env": [
      {
        "name": "type",
        "value": "current",
        "type": "str"
      }
    ],
    "x": 350,
    "y": 120,
    "wires": [
      [
        "dafb304a.334168"
      ]
    ]
  },
  {
    "id": "dafb304a.334168",
    "type": "change",
    "z": "1dd94cb5.93a4f3",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "raw",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 160,
    "wires": [
      [
        "67ab74a.297d48c"
      ]
    ]
  },
  {
    "id": "10292771.b673c9",
    "type": "change",
    "z": "1dd94cb5.93a4f3",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "raw",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 240,
    "wires": [
      [
        "68e86f46.a75598"
      ]
    ]
  },
  {
    "id": "68e86f46.a75598",
    "type": "split",
    "z": "1dd94cb5.93a4f3",
    "name": "Teile auf",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "topic",
    "x": 260,
    "y": 280,
    "wires": [
      [
        "ea1de345.eeb078"
      ]
    ]
  },
  {
    "id": "cc970877.dbfb88",
    "type": "switch",
    "z": "1dd94cb5.93a4f3",
    "name": "Welcher Wert?",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "icon",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "temperature",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "direction",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "speed",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 4,
    "x": 280,
    "y": 440,
    "wires": [
      [
        "a8154467.eb4728"
      ],
      [
        "39bb4d32.8df28a"
      ],
      [
        "df21b259.5c3a7"
      ],
      [
        "c548d6ce.3c9f98"
      ]
    ]
  },
  {
    "id": "1eaed633.52acfa",
    "type": "range",
    "z": "1dd94cb5.93a4f3",
    "minin": "-100",
    "maxin": "100",
    "minout": "-100",
    "maxout": "100",
    "action": "scale",
    "round": true,
    "property": "payload",
    "name": "Runde",
    "x": 790,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "ea1de345.eeb078",
    "type": "change",
    "z": "1dd94cb5.93a4f3",
    "name": "Setze Topic",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "$join(['weather', 'current', topic], '/')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 320,
    "wires": [
      [
        "c9f11da8.84004"
      ]
    ]
  },
  {
    "id": "c9f11da8.84004",
    "type": "change",
    "z": "1dd94cb5.93a4f3",
    "name": "Bereinige",
    "rules": [
      {
        "t": "delete",
        "p": "parts",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 360,
    "wires": [
      [
        "cc970877.dbfb88"
      ]
    ]
  },
  {
    "id": "a8154467.eb4728",
    "type": "rbe",
    "z": "1dd94cb5.93a4f3",
    "name": "Symbol geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 490,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "39bb4d32.8df28a",
    "type": "rbe",
    "z": "1dd94cb5.93a4f3",
    "name": "Temperatur geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 500,
    "y": 420,
    "wires": [
      [
        "1eaed633.52acfa"
      ]
    ]
  },
  {
    "id": "67ab74a.297d48c",
    "type": "change",
    "z": "1dd94cb5.93a4f3",
    "name": "Hole Daten",
    "rules": [
      {
        "t": "set",
        "p": "payload.icon",
        "pt": "msg",
        "to": "raw.current.weather[0].icon",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.temperature",
        "pt": "msg",
        "to": "raw.current.temp",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload['wind/direction']",
        "pt": "msg",
        "to": "raw.current.wind_deg",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload['wind/speed']",
        "pt": "msg",
        "to": "raw.current.wind_speed",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 200,
    "wires": [
      [
        "10292771.b673c9"
      ]
    ]
  },
  {
    "id": "df21b259.5c3a7",
    "type": "rbe",
    "z": "1dd94cb5.93a4f3",
    "name": "Wind-Richtung geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 510,
    "y": 460,
    "wires": [
      [
        "fbd2c2ed.4572c"
      ]
    ]
  },
  {
    "id": "c548d6ce.3c9f98",
    "type": "rbe",
    "z": "1dd94cb5.93a4f3",
    "name": "Wind-Geschw. geändert?",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 510,
    "y": 500,
    "wires": [
      [
        "748b370.ae6b548"
      ]
    ]
  },
  {
    "id": "fbd2c2ed.4572c",
    "type": "compass-point",
    "z": "1dd94cb5.93a4f3",
    "direction": "toCompass",
    "subset": "secondary",
    "language": "en",
    "inputField": "payload",
    "outputField": "payload",
    "name": "Rechne um",
    "x": 710,
    "y": 460,
    "wires": [
      [
        "20f69145.7d0d7e"
      ]
    ]
  },
  {
    "id": "20f69145.7d0d7e",
    "type": "change",
    "z": "1dd94cb5.93a4f3",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.direction",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "748b370.ae6b548",
    "type": "unit-converter",
    "z": "1dd94cb5.93a4f3",
    "category": "speed",
    "inputUnit": "m/s",
    "outputUnit": "km/h",
    "inputField": "payload",
    "outputField": "payload",
    "inputFieldType": "msg",
    "outputFieldType": "msg",
    "roundOutputField": true,
    "outputFieldDecimals": "0",
    "name": "Rechne in km/h um",
    "x": 790,
    "y": 500,
    "wires": [
      []
    ]
  }
]