subflows/Warte_auf_Fritz-Thermostat-Daten.json
[
  {
    "id": "2757b690.6da392",
    "type": "subflow",
    "name": "Warte_auf_Fritz-Thermostat-Daten",
    "info": "### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n    <dt>\n        topic prefix\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        Prefix for Node-RED topic. Will be appended to, e.g., `radiator/currentTemperature`.\n    </dd>\n</dl>\n",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 500,
        "y": 120,
        "wires": [
          {
            "id": "78f8225e.097454",
            "port": 0
          }
        ]
      },
      {
        "x": 500,
        "y": 180,
        "wires": [
          {
            "id": "fa931594.66b7a",
            "port": 0
          }
        ]
      },
      {
        "x": 500,
        "y": 240,
        "wires": [
          {
            "id": "7bd3520a.d88464",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "ain",
        "type": "str",
        "value": "-TODO: AIN-",
        "ui": {
          "icon": "font-awesome/fa-id-card-o",
          "label": {
            "en-US": "AIN"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      },
      {
        "name": "topicPrefix",
        "type": "str",
        "value": "-TODO: topicPrefix-",
        "ui": {
          "label": {
            "en-US": "topic prefix"
          },
          "type": "input",
          "opts": {
            "types": [
              "str"
            ]
          }
        }
      }
    ],
    "color": "#DDAA99",
    "outputLabels": [
      "isConnected",
      "currentTemperature",
      "targetTemperature"
    ],
    "icon": "font-awesome/fa-thermometer-half"
  },
  {
    "id": "11bca51d.5ca6db",
    "type": "comment",
    "z": "2757b690.6da392",
    "name": "Lese Fritz-Thermostat-Daten",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "3c72e6d0.e87b6a",
    "type": "subflow:809ad1e7.8ae618",
    "z": "2757b690.6da392",
    "name": "Warte auf Ist-Temperatur",
    "env": [
      {
        "name": "ain",
        "value": "ain",
        "type": "env"
      },
      {
        "name": "function",
        "value": "getTemperature",
        "type": "str"
      },
      {
        "name": "topic",
        "value": "radiator/currentTemperature",
        "type": "str"
      }
    ],
    "x": 150,
    "y": 180,
    "wires": [
      [
        "fa931594.66b7a"
      ]
    ]
  },
  {
    "id": "5c70ee2e.e5936",
    "type": "subflow:809ad1e7.8ae618",
    "z": "2757b690.6da392",
    "name": "Warte auf Soll-Temperatur",
    "env": [
      {
        "name": "ain",
        "value": "ain",
        "type": "env"
      },
      {
        "name": "function",
        "value": "getTempTarget",
        "type": "str"
      },
      {
        "name": "topic",
        "value": "radiator/targetTemperature",
        "type": "str"
      }
    ],
    "x": 150,
    "y": 240,
    "wires": [
      [
        "7bd3520a.d88464"
      ]
    ]
  },
  {
    "id": "78f8225e.097454",
    "type": "change",
    "z": "2757b690.6da392",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "$join([$env('topicPrefix'), topic], '/')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "fa931594.66b7a",
    "type": "change",
    "z": "2757b690.6da392",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "$join([$env('topicPrefix'), topic], '/')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "7bd3520a.d88464",
    "type": "change",
    "z": "2757b690.6da392",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "$join([$env('topicPrefix'), topic], '/')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "c8322344.47aac8",
    "type": "subflow:537a7282.35c514",
    "z": "2757b690.6da392",
    "name": "Warte auf \"Ist verbunden?\"",
    "env": [
      {
        "name": "ain",
        "value": "ain",
        "type": "env"
      },
      {
        "name": "function",
        "value": "getSwitchPresence",
        "type": "str"
      },
      {
        "name": "topic",
        "value": "radiator/isConnected",
        "type": "str"
      }
    ],
    "x": 150,
    "y": 120,
    "wires": [
      [
        "78f8225e.097454"
      ]
    ]
  }
]