flows/Hyg_Saugroboter.json
[
  {
    "id": "ef9247c6.cadc28",
    "type": "tab",
    "label": "Hyg_Saugroboter",
    "disabled": false,
    "info": ""
  },
  {
    "id": "271e6d2e.ff86c2",
    "type": "comment",
    "z": "ef9247c6.cadc28",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 820,
    "wires": []
  },
  {
    "id": "a35f26f0.c061c8",
    "type": "inject",
    "z": "ef9247c6.cadc28",
    "name": "💼 Mo.&Do., 07:15 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "15 07 * * 1,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 880,
    "wires": [
      [
        "545ada08.831764"
      ]
    ]
  },
  {
    "id": "545ada08.831764",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Setze Startbefehl",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "start",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 900,
    "wires": [
      [
        "3ffc6d98.40fbb2"
      ]
    ]
  },
  {
    "id": "3ffc6d98.40fbb2",
    "type": "basic",
    "z": "ef9247c6.cadc28",
    "connection": "f438956c.669a58",
    "name": "Befolge Befehl",
    "x": 600,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "b0ecc46f.5d45a8",
    "type": "comment",
    "z": "ef9247c6.cadc28",
    "name": "Hygiene -> Saugroboter",
    "info": "",
    "x": 120,
    "y": 40,
    "wires": []
  },
  {
    "id": "735a40f.e5c28c",
    "type": "comment",
    "z": "ef9247c6.cadc28",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 380,
    "wires": []
  },
  {
    "id": "86f19070.867f28",
    "type": "get",
    "z": "ef9247c6.cadc28",
    "connection": "f438956c.669a58",
    "method": "getMission",
    "name": "Lese Missionsinfos",
    "x": 290,
    "y": 180,
    "wires": [
      [
        "d8790c6e.9747c8"
      ]
    ]
  },
  {
    "id": "48650c74.dc33cc",
    "type": "comment",
    "z": "ef9247c6.cadc28",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "5b1279f6.cd4d28",
    "type": "inject",
    "z": "ef9247c6.cadc28",
    "name": "Alle 15s",
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 100,
    "y": 180,
    "wires": [
      [
        "86f19070.867f28"
      ]
    ]
  },
  {
    "id": "d8790c6e.9747c8",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Merke Zustand",
    "rules": [
      {
        "t": "set",
        "p": "vacuum.state",
        "pt": "flow",
        "to": "payload.cleanMissionStatus.phase",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "a332c723.19fcf",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Hole Zustand",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "vacuum.state",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 540,
    "wires": [
      [
        "e5a0cbf2.4dbfd8"
      ]
    ]
  },
  {
    "id": "dc736450.6aad88",
    "type": "inject",
    "z": "ef9247c6.cadc28",
    "name": "Alle 15s",
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 100,
    "y": 300,
    "wires": [
      [
        "6b5b9d4f.9b1a94"
      ]
    ]
  },
  {
    "id": "6b5b9d4f.9b1a94",
    "type": "get",
    "z": "ef9247c6.cadc28",
    "connection": "f438956c.669a58",
    "method": "getMission",
    "name": "Lese Missionsinfos",
    "x": 290,
    "y": 300,
    "wires": [
      [
        "ba96084e.5182f8"
      ]
    ]
  },
  {
    "id": "ba96084e.5182f8",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Merke Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "vacuum.batteryPercentage",
        "pt": "flow",
        "to": "payload.batPct",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "b9d52c6e.119a6",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Hole Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "vacuum.batteryPercentage",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 740,
    "wires": [
      [
        "1a790fd6.9727f"
      ]
    ]
  },
  {
    "id": "1a790fd6.9727f",
    "type": "ui_text",
    "z": "ef9247c6.cadc28",
    "group": "e76cc3b6.096b9",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 1050,
    "y": 740,
    "wires": []
  },
  {
    "id": "a7fd3791.d9bb3",
    "type": "inject",
    "z": "ef9247c6.cadc28",
    "name": "Alle 15s",
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 100,
    "y": 240,
    "wires": [
      [
        "83e76e99.6ad918"
      ]
    ]
  },
  {
    "id": "83e76e99.6ad918",
    "type": "get",
    "z": "ef9247c6.cadc28",
    "connection": "f438956c.669a58",
    "method": "getMission",
    "name": "Lese Missionsinfos",
    "x": 290,
    "y": 240,
    "wires": [
      [
        "15cdfb2b.5431b5"
      ]
    ]
  },
  {
    "id": "15cdfb2b.5431b5",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Merke Behälter-Füllstand",
    "rules": [
      {
        "t": "set",
        "p": "vacuum.isBinFull",
        "pt": "flow",
        "to": "payload.bin.full",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "2acf08ca.71e5a",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Hole Behälter-Füllstand",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "vacuum.isBinFull",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 660,
    "wires": [
      [
        "e96d8d2c.ff80b8"
      ]
    ]
  },
  {
    "id": "d99cc27e.8c823",
    "type": "ui_text",
    "z": "ef9247c6.cadc28",
    "group": "e76cc3b6.096b9",
    "order": 3,
    "width": "1",
    "height": 1,
    "name": "Zeige Behälter-Füllstand",
    "label": "<i class=\"material-icons\">delete</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 1070,
    "y": 660,
    "wires": []
  },
  {
    "id": "e5a0cbf2.4dbfd8",
    "type": "switch",
    "z": "ef9247c6.cadc28",
    "name": "switch",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "charge",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "run",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 630,
    "y": 540,
    "wires": [
      [
        "19a7cc04.7b3fbc"
      ],
      [
        "f4d89f9.0d57c6"
      ],
      [
        "3ec36234.7ffb9e"
      ]
    ]
  },
  {
    "id": "a8c3ca2e.522968",
    "type": "complete",
    "z": "ef9247c6.cadc28",
    "name": "Warte auf Zustand",
    "scope": [
      "d8790c6e.9747c8"
    ],
    "uncaught": false,
    "x": 130,
    "y": 540,
    "wires": [
      [
        "a332c723.19fcf"
      ]
    ]
  },
  {
    "id": "53dc9a4f.ebaa64",
    "type": "complete",
    "z": "ef9247c6.cadc28",
    "name": "Warte auf Behälter-Füllstand",
    "scope": [
      "15cdfb2b.5431b5"
    ],
    "uncaught": false,
    "x": 160,
    "y": 660,
    "wires": [
      [
        "2acf08ca.71e5a"
      ]
    ]
  },
  {
    "id": "90863f37.7b4af8",
    "type": "complete",
    "z": "ef9247c6.cadc28",
    "name": "Warte auf Batterie-%",
    "scope": [
      "ba96084e.5182f8"
    ],
    "uncaught": false,
    "x": 130,
    "y": 740,
    "wires": [
      [
        "b9d52c6e.119a6"
      ]
    ]
  },
  {
    "id": "19a7cc04.7b3fbc",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Setze Lade-Icon",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "battery_charging_full",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 500,
    "wires": [
      [
        "8d5dcde3.e22098"
      ]
    ]
  },
  {
    "id": "f4d89f9.0d57c6",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Setze Säubern-Icon",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "local_laundry_service",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 540,
    "wires": [
      [
        "8d5dcde3.e22098"
      ]
    ]
  },
  {
    "id": "3ec36234.7ffb9e",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Setze Unbekannt-Icon",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "help",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 580,
    "wires": [
      [
        "8d5dcde3.e22098"
      ]
    ]
  },
  {
    "id": "8d5dcde3.e22098",
    "type": "ui_text",
    "z": "ef9247c6.cadc28",
    "group": "e76cc3b6.096b9",
    "order": 4,
    "width": 2,
    "height": "2",
    "name": "Zeige Zustand",
    "label": "",
    "format": "<i class=\"material-icons\">{{msg.payload}}</i>",
    "layout": "row-center",
    "x": 1040,
    "y": 540,
    "wires": []
  },
  {
    "id": "e96d8d2c.ff80b8",
    "type": "switch",
    "z": "ef9247c6.cadc28",
    "name": "switch",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 630,
    "y": 660,
    "wires": [
      [
        "e9e383ed.04dba"
      ],
      [
        "f606586.1259b28"
      ]
    ]
  },
  {
    "id": "e9e383ed.04dba",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Setze \"Voll\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Voll",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 640,
    "wires": [
      [
        "d99cc27e.8c823"
      ]
    ]
  },
  {
    "id": "f606586.1259b28",
    "type": "change",
    "z": "ef9247c6.cadc28",
    "name": "Setze \"Nicht voll\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Nicht voll",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 680,
    "wires": [
      [
        "d99cc27e.8c823"
      ]
    ]
  },
  {
    "id": "e7031231.27e5f8",
    "type": "inject",
    "z": "ef9247c6.cadc28",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 440,
    "wires": [
      [
        "229b42e5.dfec5e"
      ]
    ]
  },
  {
    "id": "229b42e5.dfec5e",
    "type": "ui_template",
    "z": "ef9247c6.cadc28",
    "group": "e76cc3b6.096b9",
    "name": "Zeige Icon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        gesture\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 1030,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "a0d8b23864a66eff",
    "type": "inject",
    "z": "ef9247c6.cadc28",
    "d": true,
    "name": "🌴 Mo.&Do., 09:15 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "15 09 * * 1,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 920,
    "wires": [
      [
        "545ada08.831764"
      ]
    ]
  }
]