flows/Hzg_F1.json
[
  {
    "id": "d3be81f2.b4ce68",
    "type": "tab",
    "label": "Hzg_F1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a63a85bf.5e93a",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "Heizkörper -> Flur 1",
    "info": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "9ac20dcf.f229a8",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "13f8c8e5.b5923f",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 560,
    "wires": []
  },
  {
    "id": "b36ca882.994a88",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "9b918e0c.a4ae18"
    ],
    "uncaught": false,
    "x": 150,
    "y": 680,
    "wires": [
      [
        "eab1c183.dd9628"
      ]
    ]
  },
  {
    "id": "161ca051.4bf72",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "c7ae9af7.f0f148"
    ],
    "uncaught": false,
    "x": 150,
    "y": 740,
    "wires": [
      [
        "aebc2402.b037b8"
      ]
    ]
  },
  {
    "id": "273a1996.496e06",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "11166591.9c60b2"
    ],
    "uncaught": false,
    "x": 150,
    "y": 860,
    "wires": [
      [
        "5ab4f7f.544e108"
      ]
    ]
  },
  {
    "id": "eab1c183.dd9628",
    "type": "ui_template",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": 2,
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 400,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "aebc2402.b037b8",
    "type": "ui_text",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-left",
    "x": 400,
    "y": 740,
    "wires": []
  },
  {
    "id": "5ab4f7f.544e108",
    "type": "ui_slider",
    "z": "d3be81f2.b4ce68",
    "name": "Zeige Soll-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "964aeb18.79a868",
    "order": 6,
    "width": 4,
    "height": 2,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 400,
    "y": 860,
    "wires": [
      [
        "22a03621.f5e7a2"
      ]
    ]
  },
  {
    "id": "5813db41.5ab5a4",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 620,
    "wires": [
      [
        "950d53d4.aa95d8"
      ]
    ]
  },
  {
    "id": "950d53d4.aa95d8",
    "type": "ui_template",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": 2,
    "height": 4,
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 390,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "de2022b6.336178",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1000,
    "wires": []
  },
  {
    "id": "31354252.1e004e",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Werktags, 05:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 05 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1060,
    "wires": [
      [
        "19b73a69.25d41e"
      ]
    ]
  },
  {
    "id": "767c5dd6.ab73ac",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Wochenende, 07:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 07 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "19b73a69.25d41e"
      ]
    ]
  },
  {
    "id": "19b73a69.25d41e",
    "type": "change",
    "z": "d3be81f2.b4ce68",
    "name": "Setze Wunsch-Temperatur auf 21°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "21",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "hallway1/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "6d8e34b1.b30484",
    "type": "change",
    "z": "d3be81f2.b4ce68",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "hallway1/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "3d25e1d5.cb6046",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "19b73a69.25d41e",
      "6d8e34b1.b30484",
      "22a03621.f5e7a2"
    ],
    "uncaught": false,
    "x": 160,
    "y": 300,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ]
  },
  {
    "id": "f873c688.34efd8",
    "type": "link in",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 340,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ],
    "l": true
  },
  {
    "id": "dff69076.060b48",
    "type": "link in",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "bce06698.58666"
    ],
    "x": 180,
    "y": 380,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ],
    "l": true
  },
  {
    "id": "22a03621.f5e7a2",
    "type": "change",
    "z": "d3be81f2.b4ce68",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "hallway1/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "2fe60c9.04cf974",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "e3da38d6.4068b"
    ],
    "uncaught": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "fa1e2518.47efa8"
      ]
    ]
  },
  {
    "id": "9b918e0c.a4ae18",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 420,
    "y": 160,
    "wires": [],
    "l": true
  },
  {
    "id": "c7ae9af7.f0f148",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 410,
    "y": 200,
    "wires": [],
    "l": true
  },
  {
    "id": "11166591.9c60b2",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 420,
    "y": 240,
    "wires": [],
    "l": true
  },
  {
    "id": "c60a8190.659ac",
    "type": "subflow:2757b690.6da392",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Thermostat-Daten",
    "env": [
      {
        "name": "ain",
        "value": "119610736776",
        "type": "str"
      },
      {
        "name": "topicPrefix",
        "value": "hallway1",
        "type": "str"
      }
    ],
    "x": 160,
    "y": 200,
    "wires": [
      [
        "9b918e0c.a4ae18"
      ],
      [
        "c7ae9af7.f0f148"
      ],
      [
        "11166591.9c60b2"
      ]
    ]
  },
  {
    "id": "fa1e2518.47efa8",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "d3be81f2.b4ce68",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "119610736776",
        "type": "str"
      }
    ],
    "x": 390,
    "y": 480,
    "wires": []
  },
  {
    "id": "fcec6789.830d38",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "So.-Do., 21:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 21 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1160,
    "wires": [
      [
        "6d8e34b1.b30484"
      ]
    ]
  },
  {
    "id": "78b12fc8.1ee178",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Fr.-Sa., 23:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 23 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1200,
    "wires": [
      [
        "6d8e34b1.b30484"
      ]
    ]
  },
  {
    "id": "3889bf19.a16908",
    "type": "link in",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "903b9330.0275"
    ],
    "x": 180,
    "y": 420,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ],
    "l": true
  },
  {
    "id": "9703819d.3e3c98",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Vollautomatisch zeit- & sensorbasiert",
    "payloadType": "str",
    "x": 110,
    "y": 920,
    "wires": [
      [
        "964bca26.418dc8"
      ]
    ]
  },
  {
    "id": "964bca26.418dc8",
    "type": "ui_text",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "order": 7,
    "width": 6,
    "height": 1,
    "name": "Zeige Automatisierungsinfo",
    "label": "<i class=\"material-icons\">info</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 420,
    "y": 920,
    "wires": []
  },
  {
    "id": "a194b88d.3d4858",
    "type": "subflow:824afeed.e518a8",
    "z": "d3be81f2.b4ce68",
    "name": "Berechne Ziel-Temperatur",
    "env": [
      {
        "name": "contactSensor1Topic",
        "value": "living-kitchenArea/balconyDoors/large/isClosed",
        "type": "str"
      },
      {
        "name": "contactSensor2Topic",
        "value": "living-kitchenArea/balconyDoors/small/isClosed",
        "type": "str"
      },
      {
        "name": "desiredTemperatureTopic",
        "value": "hallway1/radiator/desiredTemperature",
        "type": "str"
      },
      {
        "name": "targetTemperatureTopic",
        "value": "hallway1/radiator/targetTemperature",
        "type": "str"
      }
    ],
    "x": 510,
    "y": 340,
    "wires": [
      [
        "e3da38d6.4068b"
      ]
    ]
  },
  {
    "id": "88f74ee9.3c457",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "e3da38d6.4068b"
    ],
    "uncaught": false,
    "x": 150,
    "y": 800,
    "wires": [
      [
        "13996a62.e81b66"
      ]
    ]
  },
  {
    "id": "13996a62.e81b66",
    "type": "ui_text",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "order": 4,
    "width": 2,
    "height": 1,
    "name": "Zeige Ziel-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-left",
    "x": 400,
    "y": 800,
    "wires": []
  },
  {
    "id": "e3da38d6.4068b",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile Ziel-Temperatur",
    "links": [],
    "x": 760,
    "y": 340,
    "wires": [],
    "l": true
  }
]