flows/Hzg_ALG.json
[
  {
    "id": "be8a6639.d3183",
    "type": "tab",
    "label": "Hzg_ALG",
    "disabled": false,
    "info": ""
  },
  {
    "id": "9915d3a9.2c1dd8",
    "type": "comment",
    "z": "be8a6639.d3183",
    "name": "Heizkörper allgemein",
    "info": "",
    "x": 120,
    "y": 40,
    "wires": []
  },
  {
    "id": "dbf63089.6ff7f8",
    "type": "comment",
    "z": "be8a6639.d3183",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "b0e48110.60dd9",
    "type": "openweathermap in",
    "z": "be8a6639.d3183",
    "name": "Warte auf OpenWeatherMap",
    "wtype": "forecast",
    "lon": "",
    "lat": "",
    "city": "Bremen",
    "country": "Germany",
    "language": "en",
    "x": 160,
    "y": 180,
    "wires": [
      [
        "1e66ce6a.0cb022"
      ]
    ]
  },
  {
    "id": "1e66ce6a.0cb022",
    "type": "split",
    "z": "be8a6639.d3183",
    "name": "Teile Vorhersage in Einzel-Nachrichten",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 490,
    "y": 180,
    "wires": [
      [
        "c0c1ae63.1ba438"
      ]
    ]
  },
  {
    "id": "c0c1ae63.1ba438",
    "type": "switch",
    "z": "be8a6639.d3183",
    "name": "Filtere auf Vorhersage für 21 Uhr",
    "property": "payload.dt_txt",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "\\d{4}-\\d{2}-\\d{2} 21:00:00",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 480,
    "y": 220,
    "wires": [
      [
        "c2f16c5f.b1c8d8"
      ]
    ]
  },
  {
    "id": "c2f16c5f.b1c8d8",
    "type": "change",
    "z": "be8a6639.d3183",
    "name": "Beschränke auf Min.-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.main.temp_min",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 260,
    "wires": [
      [
        "f63e07b9.f5aa68"
      ]
    ]
  },
  {
    "id": "f63e07b9.f5aa68",
    "type": "join",
    "z": "be8a6639.d3183",
    "name": "Kombiniere 3-Tages-Vorhersage",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 470,
    "y": 300,
    "wires": [
      [
        "2282350e.97f30a"
      ]
    ]
  },
  {
    "id": "ae8dfb0d.ed6b38",
    "type": "link out",
    "z": "be8a6639.d3183",
    "name": "Teile Heizung-Hauptschalter-Zustand",
    "links": [
      "ea9b1bb3.5ea688"
    ],
    "x": 830,
    "y": 520,
    "wires": [],
    "l": true
  },
  {
    "id": "2282350e.97f30a",
    "type": "change",
    "z": "be8a6639.d3183",
    "name": "Hole Max.-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$max(msg.payload)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 340,
    "wires": [
      [
        "54a4d01e.d04f3"
      ]
    ]
  },
  {
    "id": "54a4d01e.d04f3",
    "type": "change",
    "z": "be8a6639.d3183",
    "name": "<12°C?",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload < 12",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 380,
    "wires": [
      [
        "6ea9951a.442e4c"
      ]
    ]
  },
  {
    "id": "6ea9951a.442e4c",
    "type": "change",
    "z": "be8a6639.d3183",
    "name": "Merke Hauptschalter-Zustand",
    "rules": [
      {
        "t": "set",
        "p": "radiator.mainSwitch",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "7ba8cd.bdb64f34",
    "type": "comment",
    "z": "be8a6639.d3183",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 600,
    "wires": []
  },
  {
    "id": "c05ee1e5.e82b68",
    "type": "complete",
    "z": "be8a6639.d3183",
    "name": "Warte auf Zustand",
    "scope": [
      "6ea9951a.442e4c"
    ],
    "uncaught": false,
    "x": 130,
    "y": 660,
    "wires": [
      [
        "4299bed5.28f2d8"
      ]
    ]
  },
  {
    "id": "4299bed5.28f2d8",
    "type": "change",
    "z": "be8a6639.d3183",
    "name": "Hole Hauptschalter-Zustand",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "radiator.mainSwitch",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 660,
    "wires": [
      [
        "7ee7f66d.c32d08"
      ]
    ]
  },
  {
    "id": "7ee7f66d.c32d08",
    "type": "ui_text",
    "z": "be8a6639.d3183",
    "group": "22abfc75.b9b2e4",
    "order": 9,
    "width": "2",
    "height": "1",
    "name": "Zeige Zustand",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? 'An' : 'Aus'}}",
    "layout": "row-spread",
    "x": 660,
    "y": 660,
    "wires": []
  },
  {
    "id": "58a41c45.e34d04",
    "type": "complete",
    "z": "be8a6639.d3183",
    "name": "Warte auf Hauptschalter-Zustand",
    "scope": [
      "6ea9951a.442e4c"
    ],
    "uncaught": false,
    "x": 170,
    "y": 480,
    "wires": [
      [
        "ed88f4b6.8f5f2"
      ]
    ]
  },
  {
    "id": "29256d13.123e82",
    "type": "change",
    "z": "be8a6639.d3183",
    "name": "Hole Hauptschalter-Zustand",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "radiator.mainSwitch",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "radiator/mainSwitch",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 520,
    "wires": [
      [
        "ae8dfb0d.ed6b38"
      ]
    ]
  },
  {
    "id": "ed88f4b6.8f5f2",
    "type": "change",
    "z": "be8a6639.d3183",
    "name": "Bereinige Nachricht",
    "rules": [
      {
        "t": "delete",
        "p": "data",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "location",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "title",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 480,
    "wires": [
      [
        "29256d13.123e82"
      ]
    ]
  }
]