flows/Hzg_AZ.json
[
  {
    "id": "750f0705.13d438",
    "type": "tab",
    "label": "Hzg_AZ",
    "disabled": false,
    "info": ""
  },
  {
    "id": "5c1e7e68.c489d8",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "Heizkörper -> Arbeitszimmer",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "a6c16df.0028e1",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "6ee9581b.02019",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 540,
    "wires": []
  },
  {
    "id": "e74ac8b2.79a94",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "6ee04ba2.15d37c"
    ],
    "uncaught": false,
    "x": 150,
    "y": 720,
    "wires": [
      [
        "1f1accaa.3aabe3"
      ]
    ]
  },
  {
    "id": "79bd5985.e6d3c8",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "61c78d3d.472da4"
    ],
    "uncaught": false,
    "x": 150,
    "y": 780,
    "wires": [
      [
        "b8b05a47.fff86"
      ]
    ]
  },
  {
    "id": "3c7a0c4b.eb232c",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "52bf7b5b.10e544",
      "5ee9c1c6.e4224",
      "d53df6ae.7d8718"
    ],
    "uncaught": false,
    "x": 160,
    "y": 900,
    "wires": [
      [
        "e58b0cfd.d909d8"
      ]
    ]
  },
  {
    "id": "1f1accaa.3aabe3",
    "type": "ui_template",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": "1",
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 420,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "b8b05a47.fff86",
    "type": "ui_text",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "order": 4,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 420,
    "y": 780,
    "wires": []
  },
  {
    "id": "b30a89bc.7e666",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 600,
    "wires": [
      [
        "73d3a176.b41ce8"
      ]
    ]
  },
  {
    "id": "73d3a176.b41ce8",
    "type": "ui_template",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 410,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "fcdf8b2c.6b78f",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1040,
    "wires": []
  },
  {
    "id": "fc295b31.460b6",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Werktags, 06:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 06 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1100,
    "wires": [
      [
        "52bf7b5b.10e544"
      ]
    ]
  },
  {
    "id": "79058b27.6ef6b4",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Wochenende, 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1140,
    "wires": [
      [
        "52bf7b5b.10e544"
      ]
    ]
  },
  {
    "id": "5a5276b8.6aaa3",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "So.-Do., 21:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 21 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1240,
    "wires": [
      [
        "5ee9c1c6.e4224"
      ]
    ]
  },
  {
    "id": "6e172ac2.19de3c",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Fr.-Sa., 23:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 23 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1280,
    "wires": [
      [
        "5ee9c1c6.e4224"
      ]
    ]
  },
  {
    "id": "52bf7b5b.10e544",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunsch-Temperatur auf 21°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "21",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1120,
    "wires": [
      []
    ]
  },
  {
    "id": "5ee9c1c6.e4224",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1240,
    "wires": [
      []
    ]
  },
  {
    "id": "4dfa9944.a11738",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "52bf7b5b.10e544",
      "5ee9c1c6.e4224",
      "d53df6ae.7d8718"
    ],
    "uncaught": false,
    "x": 160,
    "y": 280,
    "wires": [
      [
        "b09c5330.09bd98"
      ]
    ]
  },
  {
    "id": "ea9b1bb3.5ea688",
    "type": "link in",
    "z": "750f0705.13d438",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 320,
    "wires": [
      [
        "b09c5330.09bd98"
      ]
    ],
    "l": true
  },
  {
    "id": "df46be69.47718",
    "type": "link in",
    "z": "750f0705.13d438",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "2f16b6fc.b3acca"
    ],
    "x": 180,
    "y": 360,
    "wires": [
      [
        "b09c5330.09bd98"
      ]
    ],
    "l": true
  },
  {
    "id": "d53df6ae.7d8718",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "5b2febea.5001b4",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "b09aefbb.5bd438"
    ],
    "uncaught": false,
    "x": 150,
    "y": 460,
    "wires": [
      [
        "b0f9b2ed.135dc"
      ]
    ]
  },
  {
    "id": "6ee04ba2.15d37c",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 780,
    "y": 220,
    "wires": [],
    "l": true
  },
  {
    "id": "61c78d3d.472da4",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 770,
    "y": 180,
    "wires": [],
    "l": true
  },
  {
    "id": "2903c3ad.ebb914",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 780,
    "y": 260,
    "wires": [],
    "l": true
  },
  {
    "id": "b0f9b2ed.135dc",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "750f0705.13d438",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "109710426496",
        "type": "str"
      }
    ],
    "x": 490,
    "y": 460,
    "wires": []
  },
  {
    "id": "92464dbf.0b0f08",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 960,
    "wires": [
      [
        "cab333c0.19be5"
      ]
    ]
  },
  {
    "id": "be92cd9.c12433",
    "type": "ui_text",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "order": 5,
    "width": 2,
    "height": 1,
    "name": "Zeige Soll-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-center",
    "x": 420,
    "y": 840,
    "wires": []
  },
  {
    "id": "7d307e29.87d5c",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "2903c3ad.ebb914"
    ],
    "uncaught": false,
    "x": 150,
    "y": 840,
    "wires": [
      [
        "be92cd9.c12433"
      ]
    ]
  },
  {
    "id": "cab333c0.19be5",
    "type": "ui_button",
    "z": "750f0705.13d438",
    "name": "Interaktion Automatisierungsinfo",
    "group": "cd94108d.1e556",
    "order": 6,
    "width": "1",
    "height": "1",
    "passthru": false,
    "label": "",
    "tooltip": "",
    "color": "",
    "bgcolor": "transparent",
    "icon": "info",
    "payload": "Schaltet vollautomatisch zeit- & sensorbasiert.",
    "payloadType": "str",
    "topic": "",
    "x": 450,
    "y": 960,
    "wires": [
      [
        "d30423ec.517ac"
      ]
    ]
  },
  {
    "id": "d30423ec.517ac",
    "type": "ui_toast",
    "z": "750f0705.13d438",
    "position": "bottom right",
    "displayTime": "5",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Arbeitszimmer: Heizkörper",
    "name": "Zeige Benachrichtigung",
    "x": 730,
    "y": 960,
    "wires": []
  },
  {
    "id": "e58b0cfd.d909d8",
    "type": "ui_numeric",
    "z": "750f0705.13d438",
    "name": "Interaktion Wunsch-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "cd94108d.1e556",
    "order": 7,
    "width": "2",
    "height": "1",
    "wrap": false,
    "passthru": false,
    "topic": "",
    "format": "{{value}}°C",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 450,
    "y": 900,
    "wires": [
      [
        "e0209734.6e00c"
      ]
    ]
  },
  {
    "id": "e0209734.6e00c",
    "type": "debounce",
    "z": "750f0705.13d438",
    "time": "5000",
    "name": "5s debounce",
    "x": 690,
    "y": 900,
    "wires": [
      [
        "d53df6ae.7d8718"
      ]
    ]
  },
  {
    "id": "b09c5330.09bd98",
    "type": "subflow:824afeed.e518a8",
    "z": "750f0705.13d438",
    "name": "Berechne Ziel-Temperatur",
    "env": [
      {
        "name": "contactSensor1Topic",
        "value": "study/balconyDoor/isClosed",
        "type": "str"
      },
      {
        "name": "contactSensor2Topic",
        "value": "study/balconyDoor/isClosed",
        "type": "str"
      },
      {
        "name": "desiredTemperatureTopic",
        "value": "study/radiator/desiredTemperature",
        "type": "str"
      },
      {
        "name": "targetTemperatureTopic",
        "value": "study/radiator/targetTemperature",
        "type": "str"
      }
    ],
    "x": 510,
    "y": 320,
    "wires": [
      [
        "b09aefbb.5bd438"
      ]
    ]
  },
  {
    "id": "b09aefbb.5bd438",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile Ziel-Temperatur",
    "links": [],
    "x": 780,
    "y": 320,
    "wires": [],
    "l": true
  },
  {
    "id": "d13597d2.e221d8",
    "type": "link in",
    "z": "750f0705.13d438",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "2f16b6fc.b3acca"
    ],
    "x": 180,
    "y": 400,
    "wires": [
      [
        "b09c5330.09bd98"
      ]
    ],
    "l": true
  },
  {
    "id": "3409e205.bccb06",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 1200,
    "wires": [
      [
        "5ee9c1c6.e4224"
      ]
    ]
  },
  {
    "id": "54274897.3a0528",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Replay-Daten",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"identifier\":\"109710426496\",\"id\":\"21\",\"functionbitmask\":\"320\",\"fwversion\":\"03.68\",\"manufacturer\":\"AVM\",\"productname\":\"Comet DECT\",\"present\":\"1\",\"txbusy\":\"0\",\"name\":\"Arbeitszimmer: Heizkörper\",\"battery\":\"40\",\"batterylow\":\"0\",\"temperature\":{\"celsius\":\"230\",\"offset\":\"-5\"},\"hkr\":{\"tist\":\"46\",\"tsoll\":\"43\",\"absenk\":\"253\",\"komfort\":\"253\",\"lock\":\"0\",\"devicelock\":\"1\",\"errorcode\":\"0\",\"windowopenactiv\":\"0\",\"windowopenactiveendtime\":\"0\",\"boostactive\":\"0\",\"boostactiveendtime\":\"0\",\"batterylow\":\"0\",\"battery\":\"40\",\"nextchange\":{\"endperiod\":\"0\",\"tchange\":\"253\"},\"summeractive\":\"0\",\"holidayactive\":\"0\"}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "timestamp",
        "pt": "msg",
        "to": "1612879791074",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "109710421016",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 220,
    "wires": [
      [
        "6b254f4e.738f6"
      ]
    ]
  },
  {
    "id": "7ab772dd.5ec514",
    "type": "link in",
    "z": "750f0705.13d438",
    "name": "",
    "links": [
      "24e48711.9609f"
    ],
    "x": 55,
    "y": 220,
    "wires": [
      [
        "54274897.3a0528"
      ]
    ]
  },
  {
    "id": "d257f647.d62c6",
    "type": "subflow:12050788.44a868",
    "z": "750f0705.13d438",
    "name": "Warte auf Fritz-Rohdaten",
    "env": [
      {
        "name": "ain",
        "value": "109710426496",
        "type": "str"
      }
    ],
    "x": 150,
    "y": 180,
    "wires": [
      [
        "6b254f4e.738f6"
      ]
    ]
  },
  {
    "id": "6b254f4e.738f6",
    "type": "subflow:390d8418.7506d4",
    "z": "750f0705.13d438",
    "name": "Verstehe Thermostat-Daten",
    "env": [
      {
        "name": "room",
        "value": "study",
        "type": "str"
      }
    ],
    "x": 520,
    "y": 200,
    "wires": [
      [
        "67cd6f34.0088f8"
      ],
      [
        "61c78d3d.472da4"
      ],
      [
        "6ee04ba2.15d37c"
      ],
      [
        "2903c3ad.ebb914"
      ]
    ]
  },
  {
    "id": "67cd6f34.0088f8",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile Batterie-%",
    "links": [],
    "x": 760,
    "y": 140,
    "wires": [],
    "l": true
  },
  {
    "id": "122ef9fd.cb470e",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Batterie-%",
    "scope": [
      "67cd6f34.0088f8"
    ],
    "uncaught": false,
    "x": 130,
    "y": 660,
    "wires": [
      [
        "d920e837.cbbab8"
      ]
    ]
  },
  {
    "id": "d920e837.cbbab8",
    "type": "ui_text",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "order": 2,
    "width": "2",
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 410,
    "y": 660,
    "wires": []
  }
]