flows/Hzg_SZ.json
[
  {
    "id": "ecee5153.6f2368",
    "type": "tab",
    "label": "Hzg_SZ",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ba4c0b77.fd47a",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "Heizkörper -> Schlafzimmer",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "aaaeb868.3945b",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "accfdfc1.ff2ff",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 520,
    "wires": []
  },
  {
    "id": "35570931.76039e",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "cc22b036.984bd"
    ],
    "uncaught": false,
    "x": 150,
    "y": 640,
    "wires": [
      [
        "577b5271.e38e54"
      ]
    ]
  },
  {
    "id": "6bb926dd.582ec8",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "88cf38f7.8e6a"
    ],
    "uncaught": false,
    "x": 150,
    "y": 700,
    "wires": [
      [
        "a81dabaa.a85338"
      ]
    ]
  },
  {
    "id": "53501838.7035b",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "d7b9c738.c9fa7"
    ],
    "uncaught": false,
    "x": 150,
    "y": 820,
    "wires": [
      [
        "87b798c3.500528"
      ]
    ]
  },
  {
    "id": "577b5271.e38e54",
    "type": "ui_template",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": 2,
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 400,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "a81dabaa.a85338",
    "type": "ui_text",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-left",
    "x": 400,
    "y": 700,
    "wires": []
  },
  {
    "id": "87b798c3.500528",
    "type": "ui_slider",
    "z": "ecee5153.6f2368",
    "name": "Zeige Soll-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "7b8abfe6.0e9dd8",
    "order": 6,
    "width": 4,
    "height": 2,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 400,
    "y": 820,
    "wires": [
      [
        "d20a9dc5.e2e3d8"
      ]
    ]
  },
  {
    "id": "2ccbe24a.29d6b6",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 580,
    "wires": [
      [
        "5df501f.d1a2c8"
      ]
    ]
  },
  {
    "id": "5df501f.d1a2c8",
    "type": "ui_template",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": 2,
    "height": 4,
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 390,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "9cfc0c56.e03b6",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 960,
    "wires": []
  },
  {
    "id": "c8605b28.b9c0b8",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Werktags, 04:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 04 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1020,
    "wires": [
      [
        "d98b1423.c395f"
      ]
    ]
  },
  {
    "id": "108d6033.b4365",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Wochenende, 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "d98b1423.c395f"
      ]
    ]
  },
  {
    "id": "d98b1423.c395f",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Wunschtemperatur auf 19,5°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "19.5",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "f9b8ffbc.8ebb",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Wunschtemperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 440,
    "y": 1260,
    "wires": [
      []
    ]
  },
  {
    "id": "7c6c52b1.bb4404",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "d98b1423.c395f",
      "f9b8ffbc.8ebb",
      "9a076e88.c5ff4",
      "d20a9dc5.e2e3d8"
    ],
    "uncaught": false,
    "x": 160,
    "y": 300,
    "wires": [
      [
        "13a8fecb.c24ec1"
      ]
    ]
  },
  {
    "id": "934f99dc.9dffb",
    "type": "link in",
    "z": "ecee5153.6f2368",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 340,
    "wires": [
      [
        "13a8fecb.c24ec1"
      ]
    ],
    "l": true
  },
  {
    "id": "70342958.a0c09",
    "type": "link in",
    "z": "ecee5153.6f2368",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "c3ac0285.66ce2"
    ],
    "x": 180,
    "y": 380,
    "wires": [
      [
        "13a8fecb.c24ec1"
      ]
    ],
    "l": true
  },
  {
    "id": "d20a9dc5.e2e3d8",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Wunschtemperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 820,
    "wires": [
      []
    ]
  },
  {
    "id": "13a8fecb.c24ec1",
    "type": "join",
    "z": "ecee5153.6f2368",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 450,
    "y": 340,
    "wires": [
      [
        "a725e689.cfa3c"
      ]
    ]
  },
  {
    "id": "a725e689.cfa3c",
    "type": "switch",
    "z": "ecee5153.6f2368",
    "name": "Ist Heizung an?",
    "property": "payload[\"radiator/mainSwitch\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 340,
    "wires": [
      [
        "6ea64bc3.f27eac"
      ],
      [
        "1a6f3b2.38ce6c5"
      ]
    ]
  },
  {
    "id": "6ea64bc3.f27eac",
    "type": "switch",
    "z": "ecee5153.6f2368",
    "name": "Ist Fenster zu?",
    "property": "payload[\"bedroom/windows/right/isClosed\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 780,
    "y": 320,
    "wires": [
      [
        "cecdbd18.8b9f4"
      ],
      [
        "1a6f3b2.38ce6c5"
      ]
    ]
  },
  {
    "id": "1a6f3b2.38ce6c5",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Ziel-Temperatur auf \"aus\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1030,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "b7ca2f71.13cd08",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "1a6f3b2.38ce6c5",
      "cecdbd18.8b9f4"
    ],
    "uncaught": false,
    "x": 150,
    "y": 440,
    "wires": [
      [
        "cb54205f.b1e5f8"
      ]
    ]
  },
  {
    "id": "cecdbd18.8b9f4",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Ziel- auf Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[\"bedroom/radiator/desiredTemperature\"]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1040,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "cc22b036.984bd",
    "type": "link out",
    "z": "ecee5153.6f2368",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 420,
    "y": 160,
    "wires": [],
    "l": true
  },
  {
    "id": "88cf38f7.8e6a",
    "type": "link out",
    "z": "ecee5153.6f2368",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 410,
    "y": 200,
    "wires": [],
    "l": true
  },
  {
    "id": "d7b9c738.c9fa7",
    "type": "link out",
    "z": "ecee5153.6f2368",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 420,
    "y": 240,
    "wires": [],
    "l": true
  },
  {
    "id": "c74049d4.0856e",
    "type": "subflow:2757b690.6da392",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Thermostat-Daten",
    "env": [
      {
        "name": "ain",
        "value": "117950400584",
        "type": "str"
      },
      {
        "name": "topicPrefix",
        "value": "bedroom",
        "type": "str"
      }
    ],
    "x": 160,
    "y": 200,
    "wires": [
      [
        "cc22b036.984bd"
      ],
      [
        "88cf38f7.8e6a"
      ],
      [
        "d7b9c738.c9fa7"
      ]
    ]
  },
  {
    "id": "cb54205f.b1e5f8",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "ecee5153.6f2368",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "117950400584",
        "type": "str"
      }
    ],
    "x": 390,
    "y": 440,
    "wires": []
  },
  {
    "id": "48ab0947.81f79",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Werktags, 06:15 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "15 06 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1200,
    "wires": [
      [
        "f9b8ffbc.8ebb"
      ]
    ]
  },
  {
    "id": "2ee5196a.deee46",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "So.-Do., 22:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 22 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1240,
    "wires": [
      [
        "f9b8ffbc.8ebb"
      ]
    ]
  },
  {
    "id": "864e908a.0cae3",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Fr.-Sa., 23:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 23 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1320,
    "wires": [
      [
        "f9b8ffbc.8ebb"
      ]
    ]
  },
  {
    "id": "9ef93ae.b1f88c8",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Wochenende, 11:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 11 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1280,
    "wires": [
      [
        "f9b8ffbc.8ebb"
      ]
    ]
  },
  {
    "id": "b78f0a81.c98e3",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "So.-Do., 20:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 20 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1060,
    "wires": [
      [
        "d98b1423.c395f"
      ]
    ]
  },
  {
    "id": "dff98fc3.674d28",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Fr.-Sa., 21:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 21 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1140,
    "wires": [
      [
        "d98b1423.c395f"
      ]
    ]
  },
  {
    "id": "463ca20f.2f5444",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Vollautomatisch zeit- & sensorbasiert",
    "payloadType": "str",
    "x": 110,
    "y": 880,
    "wires": [
      [
        "1aae2861.49cfe"
      ]
    ]
  },
  {
    "id": "1aae2861.49cfe",
    "type": "ui_text",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "order": 7,
    "width": 6,
    "height": 1,
    "name": "Zeige Automatisierungsinfo",
    "label": "<i class=\"material-icons\">info</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 420,
    "y": 880,
    "wires": []
  },
  {
    "id": "7534fdaf.a58c3c",
    "type": "ui_text",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "order": 4,
    "width": 2,
    "height": 1,
    "name": "Zeige Ziel-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-left",
    "x": 400,
    "y": 760,
    "wires": []
  },
  {
    "id": "3696d6d2.43653a",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "1a6f3b2.38ce6c5",
      "cecdbd18.8b9f4"
    ],
    "uncaught": false,
    "x": 150,
    "y": 760,
    "wires": [
      [
        "7534fdaf.a58c3c"
      ]
    ]
  }
]