flows/Hzg_Wohnkueche.json
[
  {
    "id": "c6075ab3.4abae8",
    "type": "tab",
    "label": "Hzg_Wohnkueche",
    "disabled": false,
    "info": ""
  },
  {
    "id": "9bde1f8b.224a9",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "Heizkörper -> Wohnküche",
    "info": "",
    "x": 130,
    "y": 40,
    "wires": []
  },
  {
    "id": "b38b2165.ca3a18",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "dbaa07b1.7bb4c8",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 580,
    "wires": []
  },
  {
    "id": "76ead5df.89af3c",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "b7f0c0b4.ad10e"
    ],
    "uncaught": false,
    "x": 150,
    "y": 700,
    "wires": [
      [
        "2fe9bc58.5f108c"
      ]
    ]
  },
  {
    "id": "d10dc170.c7a978",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "bc0b9bb2.978778"
    ],
    "uncaught": false,
    "x": 150,
    "y": 760,
    "wires": [
      [
        "ec91e2e5.e1d8e"
      ]
    ]
  },
  {
    "id": "49498df1.fbdb04",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "62fbdecd.d2f198",
      "dac19267.87c818",
      "74c05131.5a786"
    ],
    "uncaught": false,
    "x": 160,
    "y": 880,
    "wires": [
      [
        "7659190.6671f68"
      ]
    ]
  },
  {
    "id": "2fe9bc58.5f108c",
    "type": "ui_template",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": "1",
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 420,
    "y": 700,
    "wires": [
      []
    ]
  },
  {
    "id": "ec91e2e5.e1d8e",
    "type": "ui_text",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 420,
    "y": 760,
    "wires": []
  },
  {
    "id": "f793d74f.ae2f7",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 640,
    "wires": [
      [
        "30200dec.5f8c1a"
      ]
    ]
  },
  {
    "id": "30200dec.5f8c1a",
    "type": "ui_template",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 410,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "f089ac9b.84c6a8",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1020,
    "wires": []
  },
  {
    "id": "abc52df4.686828",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Werktags, 04:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 04 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1080,
    "wires": [
      [
        "62fbdecd.d2f198"
      ]
    ]
  },
  {
    "id": "f64ec319.a1a098",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Wochenende, 07:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 07 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1120,
    "wires": [
      [
        "62fbdecd.d2f198"
      ]
    ]
  },
  {
    "id": "62fbdecd.d2f198",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Wunsch-Temperatur auf 21°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "21",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "living-kitchenArea/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "dac19267.87c818",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "living-kitchenArea/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1220,
    "wires": [
      []
    ]
  },
  {
    "id": "dc09ef27.30e07",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "62fbdecd.d2f198",
      "dac19267.87c818",
      "74c05131.5a786"
    ],
    "uncaught": false,
    "x": 160,
    "y": 320,
    "wires": [
      [
        "f61025fc.baf58"
      ]
    ]
  },
  {
    "id": "14676758.37e3c9",
    "type": "link in",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 360,
    "wires": [
      [
        "f61025fc.baf58"
      ]
    ],
    "l": true
  },
  {
    "id": "a658b425.99c048",
    "type": "link in",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "bce06698.58666"
    ],
    "x": 180,
    "y": 400,
    "wires": [
      [
        "f61025fc.baf58"
      ]
    ],
    "l": true
  },
  {
    "id": "74c05131.5a786",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "living-kitchenArea/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "8b1a415b.184ad8",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "632266af.d39608",
      "d114edb8.654ab",
      "c09499bc.84bd4"
    ],
    "uncaught": false,
    "x": 150,
    "y": 500,
    "wires": [
      [
        "d74400e.24956"
      ]
    ]
  },
  {
    "id": "b7f0c0b4.ad10e",
    "type": "link out",
    "z": "c6075ab3.4abae8",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 780,
    "y": 220,
    "wires": [],
    "l": true
  },
  {
    "id": "bc0b9bb2.978778",
    "type": "link out",
    "z": "c6075ab3.4abae8",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 770,
    "y": 180,
    "wires": [],
    "l": true
  },
  {
    "id": "31aa7a4e.5dfed6",
    "type": "link out",
    "z": "c6075ab3.4abae8",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 780,
    "y": 260,
    "wires": [],
    "l": true
  },
  {
    "id": "d74400e.24956",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "c6075ab3.4abae8",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "092951003504",
        "type": "str"
      }
    ],
    "x": 490,
    "y": 500,
    "wires": []
  },
  {
    "id": "5e33a23.7c1385c",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "So.-Do., 21:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 21 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1220,
    "wires": [
      [
        "dac19267.87c818"
      ]
    ]
  },
  {
    "id": "d8eedea9.ff165",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Fr.-Sa., 23:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 23 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1260,
    "wires": [
      [
        "dac19267.87c818"
      ]
    ]
  },
  {
    "id": "76dbdf8c.89a1f",
    "type": "link in",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "903b9330.0275"
    ],
    "x": 180,
    "y": 440,
    "wires": [
      [
        "f61025fc.baf58"
      ]
    ],
    "l": true
  },
  {
    "id": "88db9fe5.144088",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 940,
    "wires": [
      [
        "d05ac9ae.580d2"
      ]
    ]
  },
  {
    "id": "d8189e0a.400ea",
    "type": "ui_text",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "order": 5,
    "width": 2,
    "height": 1,
    "name": "Zeige Soll-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-center",
    "x": 420,
    "y": 820,
    "wires": []
  },
  {
    "id": "58aee969.382cf",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "31aa7a4e.5dfed6"
    ],
    "uncaught": false,
    "x": 150,
    "y": 820,
    "wires": [
      [
        "d8189e0a.400ea"
      ]
    ]
  },
  {
    "id": "d05ac9ae.580d2",
    "type": "ui_button",
    "z": "c6075ab3.4abae8",
    "name": "Interaktion Automatisierungsinfo",
    "group": "2fe0f099.995658",
    "order": 6,
    "width": "1",
    "height": "1",
    "passthru": false,
    "label": "",
    "tooltip": "",
    "color": "",
    "bgcolor": "transparent",
    "icon": "info",
    "payload": "Schaltet vollautomatisch zeit- & sensorbasiert.",
    "payloadType": "str",
    "topic": "",
    "x": 450,
    "y": 940,
    "wires": [
      [
        "c41f65e0.36ef5"
      ]
    ]
  },
  {
    "id": "7659190.6671f68",
    "type": "ui_numeric",
    "z": "c6075ab3.4abae8",
    "name": "Interaktion Wunsch-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "2fe0f099.995658",
    "order": 4,
    "width": "2",
    "height": "2",
    "wrap": false,
    "passthru": false,
    "topic": "",
    "format": "{{value}}°C",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 450,
    "y": 880,
    "wires": [
      [
        "939c62d0.0f2608"
      ]
    ]
  },
  {
    "id": "939c62d0.0f2608",
    "type": "debounce",
    "z": "c6075ab3.4abae8",
    "time": "5000",
    "name": "5s debounce",
    "x": 690,
    "y": 880,
    "wires": [
      [
        "74c05131.5a786"
      ]
    ]
  },
  {
    "id": "c41f65e0.36ef5",
    "type": "ui_toast",
    "z": "c6075ab3.4abae8",
    "position": "bottom right",
    "displayTime": "5",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Wohnküche: Heizkörper",
    "name": "Zeige Benachrichtigung",
    "x": 730,
    "y": 940,
    "wires": []
  },
  {
    "id": "f61025fc.baf58",
    "type": "subflow:824afeed.e518a8",
    "z": "c6075ab3.4abae8",
    "name": "Berechne Ziel-Temperatur",
    "env": [
      {
        "name": "contactSensor1Topic",
        "value": "living-kitchenArea/balconyDoors/large/isClosed",
        "type": "str"
      },
      {
        "name": "contactSensor2Topic",
        "value": "living-kitchenArea/balconyDoors/small/isClosed",
        "type": "str"
      },
      {
        "name": "desiredTemperatureTopic",
        "value": "living-kitchenArea/radiator/desiredTemperature",
        "type": "str"
      },
      {
        "name": "targetTemperatureTopic",
        "value": "living-kitchenArea/radiator/targetTemperature",
        "type": "str"
      }
    ],
    "x": 510,
    "y": 360,
    "wires": [
      [
        "c09499bc.84bd4"
      ]
    ]
  },
  {
    "id": "c09499bc.84bd4",
    "type": "link out",
    "z": "c6075ab3.4abae8",
    "name": "Teile Ziel-Temperatur",
    "links": [],
    "x": 780,
    "y": 360,
    "wires": [],
    "l": true
  },
  {
    "id": "c9d9822d.180058",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Vollautomatisch zeit- & sensorbasiert",
    "payloadType": "str",
    "x": 110,
    "y": 1180,
    "wires": [
      [
        "dac19267.87c818"
      ]
    ]
  },
  {
    "id": "ad539537.007478",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Replay-Daten",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"identifier\":\"092951003504\",\"id\":\"19\",\"functionbitmask\":\"320\",\"fwversion\":\"03.68\",\"manufacturer\":\"AVM\",\"productname\":\"Comet DECT\",\"present\":\"1\",\"txbusy\":\"0\",\"name\":\"Wohnküche: Heizkörper\",\"battery\":\"40\",\"batterylow\":\"0\",\"temperature\":{\"celsius\":\"170\",\"offset\":\"-15\"},\"hkr\":{\"tist\":\"34\",\"tsoll\":\"42\",\"absenk\":\"253\",\"komfort\":\"253\",\"lock\":\"0\",\"devicelock\":\"1\",\"errorcode\":\"0\",\"windowopenactiv\":\"0\",\"windowopenactiveendtime\":\"0\",\"boostactive\":\"0\",\"boostactiveendtime\":\"0\",\"batterylow\":\"0\",\"battery\":\"40\",\"nextchange\":{\"endperiod\":\"0\",\"tchange\":\"253\"},\"summeractive\":\"0\",\"holidayactive\":\"0\"}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "timestamp",
        "pt": "msg",
        "to": "1612879791137",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "092951003504",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 240,
    "wires": [
      [
        "739412d4.d1a0fc"
      ]
    ]
  },
  {
    "id": "22d0af67.b98ce8",
    "type": "link in",
    "z": "c6075ab3.4abae8",
    "name": "",
    "links": [
      "24e48711.9609f"
    ],
    "x": 55,
    "y": 240,
    "wires": [
      [
        "ad539537.007478"
      ]
    ]
  },
  {
    "id": "1025a4b9.26e413",
    "type": "subflow:12050788.44a868",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Fritz-Rohdaten",
    "env": [
      {
        "name": "ain",
        "value": "092951003504",
        "type": "str"
      }
    ],
    "x": 150,
    "y": 200,
    "wires": [
      [
        "739412d4.d1a0fc"
      ]
    ]
  },
  {
    "id": "739412d4.d1a0fc",
    "type": "subflow:390d8418.7506d4",
    "z": "c6075ab3.4abae8",
    "name": "Verstehe Thermostat-Daten",
    "env": [
      {
        "name": "room",
        "value": "living-kitchenArea",
        "type": "str"
      }
    ],
    "x": 520,
    "y": 220,
    "wires": [
      [
        "bc0b9bb2.978778"
      ],
      [
        "b7f0c0b4.ad10e"
      ],
      [
        "31aa7a4e.5dfed6"
      ]
    ]
  }
]
