flows/Hzg_Wohnkueche.json
[
  {
    "id": "c6075ab3.4abae8",
    "type": "tab",
    "label": "Hzg_Wohnkueche",
    "disabled": false,
    "info": ""
  },
  {
    "id": "9bde1f8b.224a9",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "Heizkörper -> Wohnküche",
    "info": "",
    "x": 130,
    "y": 40,
    "wires": []
  },
  {
    "id": "b38b2165.ca3a18",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "dbaa07b1.7bb4c8",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 560,
    "wires": []
  },
  {
    "id": "76ead5df.89af3c",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "b7f0c0b4.ad10e"
    ],
    "uncaught": false,
    "x": 150,
    "y": 680,
    "wires": [
      [
        "2fe9bc58.5f108c"
      ]
    ]
  },
  {
    "id": "d10dc170.c7a978",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "bc0b9bb2.978778"
    ],
    "uncaught": false,
    "x": 150,
    "y": 740,
    "wires": [
      [
        "ec91e2e5.e1d8e"
      ]
    ]
  },
  {
    "id": "49498df1.fbdb04",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "31aa7a4e.5dfed6"
    ],
    "uncaught": false,
    "x": 150,
    "y": 860,
    "wires": [
      [
        "77b08a5d.0c073c"
      ]
    ]
  },
  {
    "id": "2fe9bc58.5f108c",
    "type": "ui_template",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": 2,
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 400,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "ec91e2e5.e1d8e",
    "type": "ui_text",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-left",
    "x": 400,
    "y": 740,
    "wires": []
  },
  {
    "id": "77b08a5d.0c073c",
    "type": "ui_slider",
    "z": "c6075ab3.4abae8",
    "name": "Zeige Soll-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "2fe0f099.995658",
    "order": 6,
    "width": 4,
    "height": 2,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 400,
    "y": 860,
    "wires": [
      [
        "74c05131.5a786"
      ]
    ]
  },
  {
    "id": "f793d74f.ae2f7",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 620,
    "wires": [
      [
        "30200dec.5f8c1a"
      ]
    ]
  },
  {
    "id": "30200dec.5f8c1a",
    "type": "ui_template",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": 2,
    "height": 4,
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 390,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "f089ac9b.84c6a8",
    "type": "comment",
    "z": "c6075ab3.4abae8",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1000,
    "wires": []
  },
  {
    "id": "abc52df4.686828",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Werktags, 05:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 05 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1060,
    "wires": [
      [
        "62fbdecd.d2f198"
      ]
    ]
  },
  {
    "id": "f64ec319.a1a098",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Wochenende, 07:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 07 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "62fbdecd.d2f198"
      ]
    ]
  },
  {
    "id": "62fbdecd.d2f198",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Wunsch-Temperatur auf 21°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "21",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "living-kitchenArea/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1080,
    "wires": [
      []
    ]
  },
  {
    "id": "dac19267.87c818",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "living-kitchenArea/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1180,
    "wires": [
      []
    ]
  },
  {
    "id": "dc09ef27.30e07",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "62fbdecd.d2f198",
      "dac19267.87c818",
      "74c05131.5a786"
    ],
    "uncaught": false,
    "x": 160,
    "y": 300,
    "wires": [
      [
        "bd812e85.92a548"
      ]
    ]
  },
  {
    "id": "14676758.37e3c9",
    "type": "link in",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 340,
    "wires": [
      [
        "bd812e85.92a548"
      ]
    ],
    "l": true
  },
  {
    "id": "a658b425.99c048",
    "type": "link in",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "bce06698.58666"
    ],
    "x": 180,
    "y": 380,
    "wires": [
      [
        "bd812e85.92a548"
      ]
    ],
    "l": true
  },
  {
    "id": "74c05131.5a786",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "living-kitchenArea/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "bd812e85.92a548",
    "type": "join",
    "z": "c6075ab3.4abae8",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "4",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 450,
    "y": 340,
    "wires": [
      [
        "afc3443a.1753f8"
      ]
    ]
  },
  {
    "id": "afc3443a.1753f8",
    "type": "switch",
    "z": "c6075ab3.4abae8",
    "name": "Ist Heizung an?",
    "property": "payload[\"radiator/mainSwitch\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 340,
    "wires": [
      [
        "2ee37bb0.de9a94"
      ],
      [
        "632266af.d39608"
      ]
    ]
  },
  {
    "id": "2ee37bb0.de9a94",
    "type": "switch",
    "z": "c6075ab3.4abae8",
    "name": "Ist gr. Balkontür zu?",
    "property": "payload[\"living-kitchenArea/balconyDoors/large/isClosed\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 740,
    "y": 280,
    "wires": [
      [
        "7e8614cf.53ad84"
      ],
      [
        "632266af.d39608"
      ]
    ]
  },
  {
    "id": "632266af.d39608",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Ziel-Temperatur auf \"aus\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "8b1a415b.184ad8",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "632266af.d39608",
      "d114edb8.654ab"
    ],
    "uncaught": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "d74400e.24956"
      ]
    ]
  },
  {
    "id": "d114edb8.654ab",
    "type": "change",
    "z": "c6075ab3.4abae8",
    "name": "Setze Ziel- auf Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[\"living-kitchenArea/radiator/desiredTemperature\"]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "b7f0c0b4.ad10e",
    "type": "link out",
    "z": "c6075ab3.4abae8",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 420,
    "y": 160,
    "wires": [],
    "l": true
  },
  {
    "id": "bc0b9bb2.978778",
    "type": "link out",
    "z": "c6075ab3.4abae8",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 410,
    "y": 200,
    "wires": [],
    "l": true
  },
  {
    "id": "31aa7a4e.5dfed6",
    "type": "link out",
    "z": "c6075ab3.4abae8",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 420,
    "y": 240,
    "wires": [],
    "l": true
  },
  {
    "id": "17837c18.024dd4",
    "type": "subflow:2757b690.6da392",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Thermostat-Daten",
    "env": [
      {
        "name": "ain",
        "value": "092951003504",
        "type": "str"
      },
      {
        "name": "topicPrefix",
        "value": "living-kitchenArea",
        "type": "str"
      }
    ],
    "x": 160,
    "y": 200,
    "wires": [
      [
        "b7f0c0b4.ad10e"
      ],
      [
        "bc0b9bb2.978778"
      ],
      [
        "31aa7a4e.5dfed6"
      ]
    ]
  },
  {
    "id": "d74400e.24956",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "c6075ab3.4abae8",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "092951003504",
        "type": "str"
      }
    ],
    "x": 390,
    "y": 480,
    "wires": []
  },
  {
    "id": "5e33a23.7c1385c",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "So.-Do., 21:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 21 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1160,
    "wires": [
      [
        "dac19267.87c818"
      ]
    ]
  },
  {
    "id": "d8eedea9.ff165",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Fr.-Sa., 23:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 23 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1200,
    "wires": [
      [
        "dac19267.87c818"
      ]
    ]
  },
  {
    "id": "76dbdf8c.89a1f",
    "type": "link in",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "903b9330.0275"
    ],
    "x": 180,
    "y": 420,
    "wires": [
      [
        "bd812e85.92a548"
      ]
    ],
    "l": true
  },
  {
    "id": "7e8614cf.53ad84",
    "type": "switch",
    "z": "c6075ab3.4abae8",
    "name": "Ist kl. Balkontür zu?",
    "property": "payload[\"living-kitchenArea/balconyDoors/small/isClosed\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 220,
    "wires": [
      [
        "d114edb8.654ab"
      ],
      [
        "632266af.d39608"
      ]
    ]
  },
  {
    "id": "88db9fe5.144088",
    "type": "inject",
    "z": "c6075ab3.4abae8",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Vollautomatisch zeit- & sensorbasiert",
    "payloadType": "str",
    "x": 110,
    "y": 920,
    "wires": [
      [
        "ab3f32c4.401c"
      ]
    ]
  },
  {
    "id": "ab3f32c4.401c",
    "type": "ui_text",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "order": 7,
    "width": 6,
    "height": 1,
    "name": "Zeige Automatisierungsinfo",
    "label": "<i class=\"material-icons\">info</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 420,
    "y": 920,
    "wires": []
  },
  {
    "id": "d8189e0a.400ea",
    "type": "ui_text",
    "z": "c6075ab3.4abae8",
    "group": "2fe0f099.995658",
    "order": 4,
    "width": 2,
    "height": 1,
    "name": "Zeige Ziel-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-left",
    "x": 400,
    "y": 800,
    "wires": []
  },
  {
    "id": "58aee969.382cf",
    "type": "complete",
    "z": "c6075ab3.4abae8",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "632266af.d39608",
      "d114edb8.654ab"
    ],
    "uncaught": false,
    "x": 150,
    "y": 800,
    "wires": [
      [
        "d8189e0a.400ea"
      ]
    ]
  }
]