flows/Hzg_Bad.json
[
  {
    "id": "a7755eb4.60b0d8",
    "type": "tab",
    "label": "Hzg_Bad",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8996d731.308628",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "Heizkörper ➡ Badezimmer",
    "info": "",
    "x": 130,
    "y": 40,
    "wires": []
  },
  {
    "id": "c9ab55d1.6813e8",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "14ed5a34.9a1086",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 540,
    "wires": []
  },
  {
    "id": "508352c6.e06144",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "bcd42810.8b56e"
    ],
    "uncaught": false,
    "x": 150,
    "y": 720,
    "wires": [
      [
        "4143af40.80dae"
      ]
    ]
  },
  {
    "id": "50568e94.615f",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "e4aa3ab8.cc62"
    ],
    "uncaught": false,
    "x": 150,
    "y": 780,
    "wires": [
      [
        "a9737c00.736d28"
      ]
    ]
  },
  {
    "id": "5c6a3b6c.e09d84",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "254d6cfa.9e9e6c",
      "6a2c9246.71ceec",
      "366b58af.b68b"
    ],
    "uncaught": false,
    "x": 160,
    "y": 900,
    "wires": [
      [
        "af122838.b9394"
      ]
    ]
  },
  {
    "id": "4143af40.80dae",
    "type": "ui_template",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": "1",
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 420,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "a9737c00.736d28",
    "type": "ui_text",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "order": 4,
    "width": "2",
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 420,
    "y": 780,
    "wires": []
  },
  {
    "id": "9db7fddc.edf54",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 600,
    "wires": [
      [
        "521973aa.0f32d4"
      ]
    ]
  },
  {
    "id": "521973aa.0f32d4",
    "type": "ui_template",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 410,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "c9766a30.39681",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1040,
    "wires": []
  },
  {
    "id": "45adf42b.448e8c",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "💼 Mo.-Do., 05:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 05 * * 1,2,3,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "254d6cfa.9e9e6c"
      ]
    ]
  },
  {
    "id": "561409bc.10035",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "🏡 Fr.-So., 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 5,6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1140,
    "wires": [
      [
        "254d6cfa.9e9e6c"
      ]
    ]
  },
  {
    "id": "254d6cfa.9e9e6c",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Wunsch-Temperatur auf 22,5°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "22.5",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bathroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1120,
    "wires": [
      []
    ]
  },
  {
    "id": "6a2c9246.71ceec",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bathroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1460,
    "wires": [
      []
    ]
  },
  {
    "id": "c23a0f78.9167b",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "254d6cfa.9e9e6c",
      "6a2c9246.71ceec",
      "366b58af.b68b",
      "e5ec08aa.e1b548"
    ],
    "uncaught": false,
    "x": 160,
    "y": 280,
    "wires": [
      [
        "a0bada4a.358148"
      ]
    ]
  },
  {
    "id": "9d2fd886.a164e8",
    "type": "link in",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 320,
    "wires": [
      [
        "a0bada4a.358148"
      ]
    ],
    "l": true
  },
  {
    "id": "14ef395b.717947",
    "type": "link in",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "bce06698.58666"
    ],
    "x": 180,
    "y": 360,
    "wires": [
      [
        "a0bada4a.358148"
      ]
    ],
    "l": true
  },
  {
    "id": "366b58af.b68b",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bathroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "8355bc10.b027c",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "a44674de.313ff8"
    ],
    "uncaught": false,
    "x": 150,
    "y": 460,
    "wires": [
      [
        "e5eb264a.ed6de"
      ]
    ]
  },
  {
    "id": "bcd42810.8b56e",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 780,
    "y": 220,
    "wires": [],
    "l": true
  },
  {
    "id": "e4aa3ab8.cc62",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 770,
    "y": 180,
    "wires": [],
    "l": true
  },
  {
    "id": "53bc5fb4.0e50b8",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 780,
    "y": 260,
    "wires": [],
    "l": true
  },
  {
    "id": "e5eb264a.ed6de",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "a7755eb4.60b0d8",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "109710421016",
        "type": "str"
      }
    ],
    "x": 490,
    "y": 460,
    "wires": []
  },
  {
    "id": "6e8a7568.09ee74",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "💼 So.-Mi., 21:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 21 * * 1,2,3,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1460,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "d40e879e.0a6b78",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "🏡 Do.-Sa., 22:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 22 * * 4,5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1500,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "791586c1.6b365",
    "type": "link in",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "903b9330.0275"
    ],
    "x": 180,
    "y": 400,
    "wires": [
      [
        "a0bada4a.358148"
      ]
    ],
    "l": true
  },
  {
    "id": "8a7fe0db.39474",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 960,
    "wires": [
      [
        "3004f920.a561ae"
      ]
    ]
  },
  {
    "id": "1291ad75.617f93",
    "type": "ui_text",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "order": 5,
    "width": "2",
    "height": 1,
    "name": "Zeige Soll-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-center",
    "x": 420,
    "y": 840,
    "wires": []
  },
  {
    "id": "b40a8562.a5c918",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "53bc5fb4.0e50b8"
    ],
    "uncaught": false,
    "x": 150,
    "y": 840,
    "wires": [
      [
        "1291ad75.617f93"
      ]
    ]
  },
  {
    "id": "3004f920.a561ae",
    "type": "ui_button",
    "z": "a7755eb4.60b0d8",
    "name": "Interaktion Automatisierungsinfo",
    "group": "9298819a.21ca98",
    "order": 6,
    "width": "1",
    "height": "1",
    "passthru": false,
    "label": "",
    "tooltip": "",
    "color": "",
    "bgcolor": "transparent",
    "icon": "info",
    "payload": "Schaltet vollautomatisch zeit- & sensorbasiert.",
    "payloadType": "str",
    "topic": "",
    "x": 450,
    "y": 960,
    "wires": [
      [
        "c10db0d4.cde64"
      ]
    ]
  },
  {
    "id": "af122838.b9394",
    "type": "ui_numeric",
    "z": "a7755eb4.60b0d8",
    "name": "Interaktion Wunsch-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "9298819a.21ca98",
    "order": 7,
    "width": "2",
    "height": "1",
    "wrap": false,
    "passthru": false,
    "topic": "",
    "format": "{{value}}°C",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 450,
    "y": 900,
    "wires": [
      [
        "4f0610a2.838c88"
      ]
    ]
  },
  {
    "id": "4f0610a2.838c88",
    "type": "debounce",
    "z": "a7755eb4.60b0d8",
    "time": "5000",
    "name": "5s debounce",
    "x": 690,
    "y": 900,
    "wires": [
      [
        "366b58af.b68b"
      ]
    ]
  },
  {
    "id": "c10db0d4.cde64",
    "type": "ui_toast",
    "z": "a7755eb4.60b0d8",
    "position": "bottom right",
    "displayTime": "5",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Badezimmer: Heizkörper",
    "name": "Zeige Benachrichtigung",
    "x": 730,
    "y": 960,
    "wires": []
  },
  {
    "id": "a0bada4a.358148",
    "type": "subflow:824afeed.e518a8",
    "z": "a7755eb4.60b0d8",
    "name": "Berechne Ziel-Temperatur",
    "env": [
      {
        "name": "contactSensor1Topic",
        "value": "living-kitchenArea/balconyDoors/large/isClosed",
        "type": "str"
      },
      {
        "name": "contactSensor2Topic",
        "value": "living-kitchenArea/balconyDoors/small/isClosed",
        "type": "str"
      },
      {
        "name": "desiredTemperatureTopic",
        "value": "bathroom/radiator/desiredTemperature",
        "type": "str"
      },
      {
        "name": "targetTemperatureTopic",
        "value": "bathroom/radiator/targetTemperature",
        "type": "str"
      }
    ],
    "x": 510,
    "y": 320,
    "wires": [
      [
        "a44674de.313ff8"
      ]
    ]
  },
  {
    "id": "a44674de.313ff8",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile Ziel-Temperatur",
    "links": [],
    "x": 780,
    "y": 320,
    "wires": [],
    "l": true
  },
  {
    "id": "3796f3d6.7d9e44",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 1420,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "b2de5872.337ce",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Replay-Daten",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"identifier\":\"109710421016\",\"id\":\"20\",\"functionbitmask\":\"320\",\"fwversion\":\"03.68\",\"manufacturer\":\"AVM\",\"productname\":\"Comet DECT\",\"present\":\"1\",\"txbusy\":\"0\",\"name\":\"Badezimmer: Heizkörper\",\"battery\":\"20\",\"batterylow\":\"0\",\"temperature\":{\"celsius\":\"205\",\"offset\":\"-10\"},\"hkr\":{\"tist\":\"41\",\"tsoll\":\"46\",\"absenk\":\"253\",\"komfort\":\"253\",\"lock\":\"0\",\"devicelock\":\"1\",\"errorcode\":\"0\",\"windowopenactiv\":\"0\",\"windowopenactiveendtime\":\"0\",\"boostactive\":\"0\",\"boostactiveendtime\":\"0\",\"batterylow\":\"0\",\"battery\":\"20\",\"nextchange\":{\"endperiod\":\"0\",\"tchange\":\"253\"},\"summeractive\":\"0\",\"holidayactive\":\"0\"}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "timestamp",
        "pt": "msg",
        "to": "1612879791093",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "109710421016",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 220,
    "wires": [
      [
        "4fe3ab9b.026154"
      ]
    ]
  },
  {
    "id": "2527b321.d37fc4",
    "type": "link in",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Replay-Start",
    "links": [
      "24e48711.9609f"
    ],
    "x": 55,
    "y": 220,
    "wires": [
      [
        "b2de5872.337ce"
      ]
    ]
  },
  {
    "id": "ac2c0c02.dfcc7",
    "type": "subflow:12050788.44a868",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Fritz-Rohdaten",
    "env": [
      {
        "name": "ain",
        "value": "109710421016",
        "type": "str"
      }
    ],
    "x": 150,
    "y": 180,
    "wires": [
      [
        "4fe3ab9b.026154"
      ]
    ]
  },
  {
    "id": "4fe3ab9b.026154",
    "type": "subflow:390d8418.7506d4",
    "z": "a7755eb4.60b0d8",
    "name": "Verstehe Thermostat-Daten",
    "env": [
      {
        "name": "room",
        "value": "bathroom",
        "type": "str"
      }
    ],
    "x": 520,
    "y": 200,
    "wires": [
      [
        "1b81dade.6d862d"
      ],
      [
        "e4aa3ab8.cc62"
      ],
      [
        "bcd42810.8b56e"
      ],
      [
        "53bc5fb4.0e50b8"
      ]
    ]
  },
  {
    "id": "1b81dade.6d862d",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile Batterie-%",
    "links": [],
    "x": 760,
    "y": 140,
    "wires": [],
    "l": true
  },
  {
    "id": "7185df59.3504a8",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Batterie-%",
    "scope": [
      "1b81dade.6d862d"
    ],
    "uncaught": false,
    "x": 130,
    "y": 660,
    "wires": [
      [
        "62e7b533.fde5fc"
      ]
    ]
  },
  {
    "id": "62e7b533.fde5fc",
    "type": "ui_text",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "order": 2,
    "width": "2",
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 410,
    "y": 660,
    "wires": []
  },
  {
    "id": "e5ec08aa.e1b548",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Wunsch-Temperatur auf 19°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "19",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bathroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1260,
    "wires": [
      []
    ]
  },
  {
    "id": "42eaf0d9.8e4ac8",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "💼🏡 Mo.-Do., 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 1,2,3,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 1240,
    "wires": [
      [
        "e5ec08aa.e1b548"
      ]
    ]
  },
  {
    "id": "475d4df3.773c74",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "🏡 Fr.-So., 10:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 10 * * 5,6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1280,
    "wires": [
      [
        "e5ec08aa.e1b548"
      ]
    ]
  },
  {
    "id": "add30977107aadef",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "💼🏢 Mo.-Do., 16:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 16 * * 1,2,3,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 1320,
    "wires": [
      [
        "e5ec08aa.e1b548"
      ]
    ]
  },
  {
    "id": "7d6e8428d9356970",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "d": true,
    "name": "💼🏢 Mo.-Do., 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 1,2,3,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 1540,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "73e9e12e60a60e03",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "🌴🏡 Täglich, 05:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 05 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 1180,
    "wires": [
      [
        "254d6cfa.9e9e6c"
      ]
    ]
  },
  {
    "id": "2acd22a5a9c95352",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "🌴🏡 Täglich, 09:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 09 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 1360,
    "wires": [
      [
        "e5ec08aa.e1b548"
      ]
    ]
  },
  {
    "id": "070d0df63afb2d29",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "🌴🏡 Täglich, 21:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 21 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 1580,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  }
]