flows/Hzg_SZ.json
[
  {
    "id": "ecee5153.6f2368",
    "type": "tab",
    "label": "Hzg_SZ",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ba4c0b77.fd47a",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "Heizkörper -> Schlafzimmer",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "aaaeb868.3945b",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "accfdfc1.ff2ff",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 560,
    "wires": []
  },
  {
    "id": "35570931.76039e",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "cc22b036.984bd"
    ],
    "uncaught": false,
    "x": 150,
    "y": 680,
    "wires": [
      [
        "577b5271.e38e54"
      ]
    ]
  },
  {
    "id": "6bb926dd.582ec8",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "88cf38f7.8e6a"
    ],
    "uncaught": false,
    "x": 150,
    "y": 740,
    "wires": [
      [
        "a81dabaa.a85338"
      ]
    ]
  },
  {
    "id": "53501838.7035b",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "d7b9c738.c9fa7"
    ],
    "uncaught": false,
    "x": 150,
    "y": 860,
    "wires": [
      [
        "47602b66.7ff3d4"
      ]
    ]
  },
  {
    "id": "577b5271.e38e54",
    "type": "ui_template",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": "1",
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 400,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "a81dabaa.a85338",
    "type": "ui_text",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 400,
    "y": 740,
    "wires": []
  },
  {
    "id": "2ccbe24a.29d6b6",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 620,
    "wires": [
      [
        "5df501f.d1a2c8"
      ]
    ]
  },
  {
    "id": "5df501f.d1a2c8",
    "type": "ui_template",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 390,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "9cfc0c56.e03b6",
    "type": "comment",
    "z": "ecee5153.6f2368",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1000,
    "wires": []
  },
  {
    "id": "c8605b28.b9c0b8",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Werktags, 05:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 05 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1060,
    "wires": [
      [
        "d98b1423.c395f"
      ]
    ]
  },
  {
    "id": "108d6033.b4365",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Wochenende, 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "d98b1423.c395f"
      ]
    ]
  },
  {
    "id": "d98b1423.c395f",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Wunsch-Temperatur auf 19,5°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "19.5",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "f9b8ffbc.8ebb",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1240,
    "wires": [
      []
    ]
  },
  {
    "id": "7c6c52b1.bb4404",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "d98b1423.c395f",
      "f9b8ffbc.8ebb",
      "d20a9dc5.e2e3d8"
    ],
    "uncaught": false,
    "x": 160,
    "y": 300,
    "wires": [
      [
        "c3ab2ad3.9f4f5"
      ]
    ]
  },
  {
    "id": "934f99dc.9dffb",
    "type": "link in",
    "z": "ecee5153.6f2368",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 340,
    "wires": [
      [
        "c3ab2ad3.9f4f5"
      ]
    ],
    "l": true
  },
  {
    "id": "70342958.a0c09",
    "type": "link in",
    "z": "ecee5153.6f2368",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "c3ac0285.66ce2"
    ],
    "x": 180,
    "y": 380,
    "wires": [
      [
        "c3ab2ad3.9f4f5"
      ]
    ],
    "l": true
  },
  {
    "id": "d20a9dc5.e2e3d8",
    "type": "change",
    "z": "ecee5153.6f2368",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "b7ca2f71.13cd08",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "1a6f3b2.38ce6c5",
      "cecdbd18.8b9f4",
      "3d5ab2d1.88722e"
    ],
    "uncaught": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "cb54205f.b1e5f8"
      ]
    ]
  },
  {
    "id": "cc22b036.984bd",
    "type": "link out",
    "z": "ecee5153.6f2368",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 420,
    "y": 160,
    "wires": [],
    "l": true
  },
  {
    "id": "88cf38f7.8e6a",
    "type": "link out",
    "z": "ecee5153.6f2368",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 410,
    "y": 200,
    "wires": [],
    "l": true
  },
  {
    "id": "d7b9c738.c9fa7",
    "type": "link out",
    "z": "ecee5153.6f2368",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 420,
    "y": 240,
    "wires": [],
    "l": true
  },
  {
    "id": "c74049d4.0856e",
    "type": "subflow:2757b690.6da392",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Thermostat-Daten",
    "env": [
      {
        "name": "ain",
        "value": "117950400584",
        "type": "str"
      },
      {
        "name": "topicPrefix",
        "value": "bedroom",
        "type": "str"
      }
    ],
    "x": 160,
    "y": 200,
    "wires": [
      [
        "cc22b036.984bd"
      ],
      [
        "88cf38f7.8e6a"
      ],
      [
        "d7b9c738.c9fa7"
      ]
    ]
  },
  {
    "id": "cb54205f.b1e5f8",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "ecee5153.6f2368",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "117950400584",
        "type": "str"
      }
    ],
    "x": 390,
    "y": 480,
    "wires": []
  },
  {
    "id": "48ab0947.81f79",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Werktags, 06:15 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "15 06 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1200,
    "wires": [
      [
        "f9b8ffbc.8ebb"
      ]
    ]
  },
  {
    "id": "2ee5196a.deee46",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Täglich, 23:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 23 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1280,
    "wires": [
      [
        "f9b8ffbc.8ebb"
      ]
    ]
  },
  {
    "id": "9ef93ae.b1f88c8",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Wochenende, 11:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 11 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1240,
    "wires": [
      [
        "f9b8ffbc.8ebb"
      ]
    ]
  },
  {
    "id": "b78f0a81.c98e3",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Täglich, 21:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 21 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1140,
    "wires": [
      [
        "d98b1423.c395f"
      ]
    ]
  },
  {
    "id": "463ca20f.2f5444",
    "type": "inject",
    "z": "ecee5153.6f2368",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 920,
    "wires": [
      [
        "8083cc30.038e98"
      ]
    ]
  },
  {
    "id": "7534fdaf.a58c3c",
    "type": "ui_text",
    "z": "ecee5153.6f2368",
    "group": "7b8abfe6.0e9dd8",
    "order": 5,
    "width": 2,
    "height": 1,
    "name": "Zeige Ziel-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-center",
    "x": 400,
    "y": 800,
    "wires": []
  },
  {
    "id": "3696d6d2.43653a",
    "type": "complete",
    "z": "ecee5153.6f2368",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "1a6f3b2.38ce6c5",
      "cecdbd18.8b9f4"
    ],
    "uncaught": false,
    "x": 150,
    "y": 800,
    "wires": [
      [
        "7534fdaf.a58c3c"
      ]
    ]
  },
  {
    "id": "8083cc30.038e98",
    "type": "ui_button",
    "z": "ecee5153.6f2368",
    "name": "Interaktion Automatisierungsinfo",
    "group": "7b8abfe6.0e9dd8",
    "order": 6,
    "width": "1",
    "height": "1",
    "passthru": false,
    "label": "",
    "tooltip": "",
    "color": "",
    "bgcolor": "transparent",
    "icon": "info",
    "payload": "Schaltet vollautomatisch zeit- & sensorbasiert.",
    "payloadType": "str",
    "topic": "",
    "x": 430,
    "y": 920,
    "wires": [
      [
        "e2ef774e.d02f2"
      ]
    ]
  },
  {
    "id": "47602b66.7ff3d4",
    "type": "ui_numeric",
    "z": "ecee5153.6f2368",
    "name": "Interaktion Soll-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "7b8abfe6.0e9dd8",
    "order": 4,
    "width": "2",
    "height": "2",
    "wrap": false,
    "passthru": false,
    "topic": "",
    "format": "{{value}}°C",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 420,
    "y": 860,
    "wires": [
      [
        "9e099faa.e8719"
      ]
    ]
  },
  {
    "id": "9e099faa.e8719",
    "type": "debounce",
    "z": "ecee5153.6f2368",
    "time": "5000",
    "name": "5s debounce",
    "x": 650,
    "y": 860,
    "wires": [
      [
        "d20a9dc5.e2e3d8"
      ]
    ]
  },
  {
    "id": "e2ef774e.d02f2",
    "type": "ui_toast",
    "z": "ecee5153.6f2368",
    "position": "bottom right",
    "displayTime": "5",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Schlafzimmer: Heizkörper",
    "name": "Zeige Benachrichtigung",
    "x": 710,
    "y": 920,
    "wires": []
  },
  {
    "id": "a3aeb4fa.bbb6c",
    "type": "link in",
    "z": "ecee5153.6f2368",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "c3ac0285.66ce2"
    ],
    "x": 180,
    "y": 420,
    "wires": [
      [
        "c3ab2ad3.9f4f5"
      ]
    ],
    "l": true
  },
  {
    "id": "c3ab2ad3.9f4f5",
    "type": "subflow:824afeed.e518a8",
    "z": "ecee5153.6f2368",
    "name": "Berechne Ziel-Temperatur",
    "env": [
      {
        "name": "contactSensor1Topic",
        "value": "bedroom/windows/right/isClosed",
        "type": "str"
      },
      {
        "name": "contactSensor2Topic",
        "value": "bedroom/windows/right/isClosed",
        "type": "str"
      },
      {
        "name": "desiredTemperatureTopic",
        "value": "bedroom/radiator/desiredTemperature",
        "type": "str"
      },
      {
        "name": "targetTemperatureTopic",
        "value": "bedroom/radiator/targetTemperature",
        "type": "str"
      }
    ],
    "x": 510,
    "y": 340,
    "wires": [
      [
        "3d5ab2d1.88722e"
      ]
    ]
  },
  {
    "id": "3d5ab2d1.88722e",
    "type": "link out",
    "z": "ecee5153.6f2368",
    "name": "Teile Ziel-Temperatur",
    "links": [],
    "x": 760,
    "y": 340,
    "wires": [],
    "l": true
  }
]