flows/Hzg_F1.json
[
  {
    "id": "d3be81f2.b4ce68",
    "type": "tab",
    "label": "Hzg_F1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a63a85bf.5e93a",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "Heizkörper -> Flur 1",
    "info": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "9ac20dcf.f229a8",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "13f8c8e5.b5923f",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 540,
    "wires": []
  },
  {
    "id": "b36ca882.994a88",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "9b918e0c.a4ae18"
    ],
    "uncaught": false,
    "x": 150,
    "y": 720,
    "wires": [
      [
        "eab1c183.dd9628"
      ]
    ]
  },
  {
    "id": "161ca051.4bf72",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "c7ae9af7.f0f148"
    ],
    "uncaught": false,
    "x": 150,
    "y": 780,
    "wires": [
      [
        "aebc2402.b037b8"
      ]
    ]
  },
  {
    "id": "273a1996.496e06",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "19b73a69.25d41e",
      "6d8e34b1.b30484",
      "22a03621.f5e7a2"
    ],
    "uncaught": false,
    "x": 160,
    "y": 900,
    "wires": [
      [
        "1e3770f6.41f8ff"
      ]
    ]
  },
  {
    "id": "eab1c183.dd9628",
    "type": "ui_template",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": "1",
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 420,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "aebc2402.b037b8",
    "type": "ui_text",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "order": 4,
    "width": "2",
    "height": "1",
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 420,
    "y": 780,
    "wires": []
  },
  {
    "id": "5813db41.5ab5a4",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 600,
    "wires": [
      [
        "950d53d4.aa95d8"
      ]
    ]
  },
  {
    "id": "950d53d4.aa95d8",
    "type": "ui_template",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 410,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "de2022b6.336178",
    "type": "comment",
    "z": "d3be81f2.b4ce68",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1040,
    "wires": []
  },
  {
    "id": "31354252.1e004e",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "d": true,
    "name": "💼 Mo.-Do., 05:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 05 * * 1,2,3,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "19b73a69.25d41e"
      ]
    ]
  },
  {
    "id": "767c5dd6.ab73ac",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "d": true,
    "name": "🏡 Fr.-So., 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 5,6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1140,
    "wires": [
      [
        "19b73a69.25d41e"
      ]
    ]
  },
  {
    "id": "19b73a69.25d41e",
    "type": "change",
    "z": "d3be81f2.b4ce68",
    "name": "Setze Wunsch-Temperatur auf 18°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "18",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "hallway1/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1120,
    "wires": [
      []
    ]
  },
  {
    "id": "6d8e34b1.b30484",
    "type": "change",
    "z": "d3be81f2.b4ce68",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "hallway1/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 1240,
    "wires": [
      []
    ]
  },
  {
    "id": "3d25e1d5.cb6046",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "19b73a69.25d41e",
      "6d8e34b1.b30484",
      "22a03621.f5e7a2"
    ],
    "uncaught": false,
    "x": 160,
    "y": 280,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ]
  },
  {
    "id": "f873c688.34efd8",
    "type": "link in",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 320,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ],
    "l": true
  },
  {
    "id": "dff69076.060b48",
    "type": "link in",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "bce06698.58666"
    ],
    "x": 180,
    "y": 360,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ],
    "l": true
  },
  {
    "id": "22a03621.f5e7a2",
    "type": "change",
    "z": "d3be81f2.b4ce68",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "hallway1/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 920,
    "y": 900,
    "wires": [
      []
    ]
  },
  {
    "id": "2fe60c9.04cf974",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "e3da38d6.4068b"
    ],
    "uncaught": false,
    "x": 150,
    "y": 460,
    "wires": [
      [
        "fa1e2518.47efa8"
      ]
    ]
  },
  {
    "id": "9b918e0c.a4ae18",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 780,
    "y": 220,
    "wires": [],
    "l": true
  },
  {
    "id": "c7ae9af7.f0f148",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 770,
    "y": 180,
    "wires": [],
    "l": true
  },
  {
    "id": "11166591.9c60b2",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 780,
    "y": 260,
    "wires": [],
    "l": true
  },
  {
    "id": "fa1e2518.47efa8",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "d3be81f2.b4ce68",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "119610736776",
        "type": "str"
      }
    ],
    "x": 490,
    "y": 460,
    "wires": []
  },
  {
    "id": "fcec6789.830d38",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "💼 Mo.-Do., 07:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 1,2,3,4",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1240,
    "wires": [
      [
        "6d8e34b1.b30484"
      ]
    ]
  },
  {
    "id": "78b12fc8.1ee178",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Fr.-So., 09:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 09 * * 5,6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1280,
    "wires": [
      [
        "6d8e34b1.b30484"
      ]
    ]
  },
  {
    "id": "3889bf19.a16908",
    "type": "link in",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "903b9330.0275"
    ],
    "x": 180,
    "y": 400,
    "wires": [
      [
        "a194b88d.3d4858"
      ]
    ],
    "l": true
  },
  {
    "id": "9703819d.3e3c98",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 960,
    "wires": [
      [
        "41d505ec.a09fac"
      ]
    ]
  },
  {
    "id": "a194b88d.3d4858",
    "type": "subflow:824afeed.e518a8",
    "z": "d3be81f2.b4ce68",
    "name": "Berechne Ziel-Temperatur",
    "env": [
      {
        "name": "contactSensor1Topic",
        "value": "living-kitchenArea/balconyDoors/large/isClosed",
        "type": "str"
      },
      {
        "name": "contactSensor2Topic",
        "value": "living-kitchenArea/balconyDoors/small/isClosed",
        "type": "str"
      },
      {
        "name": "desiredTemperatureTopic",
        "value": "hallway1/radiator/desiredTemperature",
        "type": "str"
      },
      {
        "name": "targetTemperatureTopic",
        "value": "hallway1/radiator/targetTemperature",
        "type": "str"
      }
    ],
    "x": 510,
    "y": 320,
    "wires": [
      [
        "e3da38d6.4068b"
      ]
    ]
  },
  {
    "id": "88f74ee9.3c457",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "11166591.9c60b2"
    ],
    "uncaught": false,
    "x": 150,
    "y": 840,
    "wires": [
      [
        "13996a62.e81b66"
      ]
    ]
  },
  {
    "id": "13996a62.e81b66",
    "type": "ui_text",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "order": 5,
    "width": "2",
    "height": 1,
    "name": "Zeige Soll-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-center",
    "x": 420,
    "y": 840,
    "wires": []
  },
  {
    "id": "e3da38d6.4068b",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile Ziel-Temperatur",
    "links": [],
    "x": 780,
    "y": 320,
    "wires": [],
    "l": true
  },
  {
    "id": "41d505ec.a09fac",
    "type": "ui_button",
    "z": "d3be81f2.b4ce68",
    "name": "Interaktion Automatisierungsinfo",
    "group": "964aeb18.79a868",
    "order": 6,
    "width": "1",
    "height": "1",
    "passthru": false,
    "label": "",
    "tooltip": "",
    "color": "",
    "bgcolor": "transparent",
    "icon": "info",
    "payload": "Schaltet vollautomatisch zeit- & sensorbasiert.",
    "payloadType": "str",
    "topic": "",
    "x": 450,
    "y": 960,
    "wires": [
      [
        "c361f9ea.f15ed"
      ]
    ]
  },
  {
    "id": "c361f9ea.f15ed",
    "type": "ui_toast",
    "z": "d3be81f2.b4ce68",
    "position": "bottom right",
    "displayTime": "5",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Flur 1: Heizkörper",
    "name": "Zeige Benachrichtigung",
    "x": 730,
    "y": 960,
    "wires": []
  },
  {
    "id": "1e3770f6.41f8ff",
    "type": "ui_numeric",
    "z": "d3be81f2.b4ce68",
    "name": "Interaktion Wunsch-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "964aeb18.79a868",
    "order": 7,
    "width": "2",
    "height": "1",
    "wrap": false,
    "passthru": false,
    "topic": "",
    "format": "{{value}}°C",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 450,
    "y": 900,
    "wires": [
      [
        "bb680ed0.d890e"
      ]
    ]
  },
  {
    "id": "bb680ed0.d890e",
    "type": "debounce",
    "z": "d3be81f2.b4ce68",
    "time": "5000",
    "name": "5s debounce",
    "x": 690,
    "y": 900,
    "wires": [
      [
        "22a03621.f5e7a2"
      ]
    ]
  },
  {
    "id": "ad266305.338bf8",
    "type": "inject",
    "z": "d3be81f2.b4ce68",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 1200,
    "wires": [
      [
        "6d8e34b1.b30484"
      ]
    ]
  },
  {
    "id": "30c8b99b.ee13a6",
    "type": "change",
    "z": "d3be81f2.b4ce68",
    "name": "Setze Replay-Daten",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"identifier\":\"119610736776\",\"id\":\"23\",\"functionbitmask\":\"320\",\"fwversion\":\"03.54\",\"manufacturer\":\"AVM\",\"productname\":\"Comet DECT\",\"present\":\"1\",\"txbusy\":\"0\",\"name\":\"Flur 1: Heizkörper\",\"battery\":\"20\",\"batterylow\":\"0\",\"temperature\":{\"celsius\":\"190\",\"offset\":\"0\"},\"hkr\":{\"tist\":\"38\",\"tsoll\":\"42\",\"absenk\":\"253\",\"komfort\":\"253\",\"lock\":\"0\",\"devicelock\":\"1\",\"errorcode\":\"0\",\"windowopenactiv\":\"0\",\"windowopenactiveendtime\":\"0\",\"boostactive\":\"0\",\"boostactiveendtime\":\"0\",\"batterylow\":\"0\",\"battery\":\"20\",\"nextchange\":{\"endperiod\":\"0\",\"tchange\":\"253\"},\"summeractive\":\"0\",\"holidayactive\":\"0\"}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "timestamp",
        "pt": "msg",
        "to": "1612879791109",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "119610736776",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 220,
    "wires": [
      [
        "1d74e9b1.aee156"
      ]
    ]
  },
  {
    "id": "5fbba12b.626c3",
    "type": "link in",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Replay-Start",
    "links": [
      "24e48711.9609f"
    ],
    "x": 55,
    "y": 220,
    "wires": [
      [
        "30c8b99b.ee13a6"
      ]
    ]
  },
  {
    "id": "657feb83.a16c7c",
    "type": "subflow:12050788.44a868",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Fritz-Rohdaten",
    "env": [
      {
        "name": "ain",
        "value": "119610736776",
        "type": "str"
      }
    ],
    "x": 150,
    "y": 180,
    "wires": [
      [
        "1d74e9b1.aee156"
      ]
    ]
  },
  {
    "id": "1d74e9b1.aee156",
    "type": "subflow:390d8418.7506d4",
    "z": "d3be81f2.b4ce68",
    "name": "Verstehe Thermostat-Daten",
    "env": [
      {
        "name": "room",
        "value": "hallway1",
        "type": "str"
      }
    ],
    "x": 520,
    "y": 200,
    "wires": [
      [
        "b0432455.e51f38"
      ],
      [
        "c7ae9af7.f0f148"
      ],
      [
        "9b918e0c.a4ae18"
      ],
      [
        "11166591.9c60b2"
      ]
    ]
  },
  {
    "id": "b0432455.e51f38",
    "type": "link out",
    "z": "d3be81f2.b4ce68",
    "name": "Teile Batterie-%",
    "links": [],
    "x": 760,
    "y": 140,
    "wires": [],
    "l": true
  },
  {
    "id": "e83f84cc.3c586",
    "type": "complete",
    "z": "d3be81f2.b4ce68",
    "name": "Warte auf Batterie-%",
    "scope": [
      "b0432455.e51f38"
    ],
    "uncaught": false,
    "x": 130,
    "y": 660,
    "wires": [
      [
        "2501566.2d3632a"
      ]
    ]
  },
  {
    "id": "2501566.2d3632a",
    "type": "ui_text",
    "z": "d3be81f2.b4ce68",
    "group": "964aeb18.79a868",
    "order": 2,
    "width": "2",
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 410,
    "y": 660,
    "wires": []
  }
]