flows/Hzg_AZ.json
[
  {
    "id": "750f0705.13d438",
    "type": "tab",
    "label": "Hzg_AZ",
    "disabled": false,
    "info": ""
  },
  {
    "id": "5c1e7e68.c489d8",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "Heizkörper -> Arbeitszimmer",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "a6c16df.0028e1",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 400,
    "wires": []
  },
  {
    "id": "6ee9581b.02019",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 800,
    "wires": []
  },
  {
    "id": "e74ac8b2.79a94",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "6ee04ba2.15d37c"
    ],
    "uncaught": false,
    "x": 150,
    "y": 920,
    "wires": [
      [
        "1f1accaa.3aabe3"
      ]
    ]
  },
  {
    "id": "79bd5985.e6d3c8",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "61c78d3d.472da4"
    ],
    "uncaught": false,
    "x": 150,
    "y": 980,
    "wires": [
      [
        "b8b05a47.fff86"
      ]
    ]
  },
  {
    "id": "3c7a0c4b.eb232c",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "2903c3ad.ebb914"
    ],
    "uncaught": false,
    "x": 150,
    "y": 1040,
    "wires": [
      [
        "90fe56a5.193b8"
      ]
    ]
  },
  {
    "id": "1f1accaa.3aabe3",
    "type": "ui_template",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": 2,
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 400,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "b8b05a47.fff86",
    "type": "ui_text",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-left",
    "x": 400,
    "y": 980,
    "wires": []
  },
  {
    "id": "90fe56a5.193b8",
    "type": "ui_slider",
    "z": "750f0705.13d438",
    "name": "Zeige Soll-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "cd94108d.1e556",
    "order": 4,
    "width": 4,
    "height": 2,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 400,
    "y": 1040,
    "wires": [
      [
        "d53df6ae.7d8718"
      ]
    ]
  },
  {
    "id": "b30a89bc.7e666",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 860,
    "wires": [
      [
        "73d3a176.b41ce8"
      ]
    ]
  },
  {
    "id": "73d3a176.b41ce8",
    "type": "ui_template",
    "z": "750f0705.13d438",
    "group": "cd94108d.1e556",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": 2,
    "height": 3,
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 390,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "fcdf8b2c.6b78f",
    "type": "comment",
    "z": "750f0705.13d438",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 120,
    "wires": []
  },
  {
    "id": "fc295b31.460b6",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Werktags, 6 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 06 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "28b16d73.0a60ca"
      ]
    ]
  },
  {
    "id": "79058b27.6ef6b4",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Wochenende, 7 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 07 * * 2,6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 220,
    "wires": [
      [
        "52bf7b5b.10e544"
      ]
    ]
  },
  {
    "id": "5a5276b8.6aaa3",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "So.-Do., 21 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 21 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 280,
    "wires": [
      [
        "9645804f.6e3928"
      ]
    ]
  },
  {
    "id": "6e172ac2.19de3c",
    "type": "inject",
    "z": "750f0705.13d438",
    "name": "Fr.-Sa., 23 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 23 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 120,
    "y": 320,
    "wires": [
      [
        "5ee9c1c6.e4224"
      ]
    ]
  },
  {
    "id": "28b16d73.0a60ca",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunschtemperatur auf 21°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "21",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "52bf7b5b.10e544",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunschtemperatur auf 21°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "21",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "9645804f.6e3928",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunschtemperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "5ee9c1c6.e4224",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunschtemperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "4dfa9944.a11738",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "28b16d73.0a60ca",
      "52bf7b5b.10e544",
      "9645804f.6e3928",
      "5ee9c1c6.e4224",
      "d53df6ae.7d8718"
    ],
    "uncaught": false,
    "x": 160,
    "y": 580,
    "wires": [
      [
        "a3d751d5.c43ee"
      ]
    ]
  },
  {
    "id": "ea9b1bb3.5ea688",
    "type": "link in",
    "z": "750f0705.13d438",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 620,
    "wires": [
      [
        "a3d751d5.c43ee"
      ]
    ],
    "l": true
  },
  {
    "id": "df46be69.47718",
    "type": "link in",
    "z": "750f0705.13d438",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "2f16b6fc.b3acca"
    ],
    "x": 180,
    "y": 660,
    "wires": [
      [
        "a3d751d5.c43ee"
      ]
    ],
    "l": true
  },
  {
    "id": "d53df6ae.7d8718",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Wunschtemperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "study/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 1040,
    "wires": [
      []
    ]
  },
  {
    "id": "a3d751d5.c43ee",
    "type": "join",
    "z": "750f0705.13d438",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 450,
    "y": 620,
    "wires": [
      [
        "ee845e4d.aa71b"
      ]
    ]
  },
  {
    "id": "ee845e4d.aa71b",
    "type": "switch",
    "z": "750f0705.13d438",
    "name": "Ist Heizung an?",
    "property": "payload[\"radiator/mainSwitch\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 620,
    "wires": [
      [
        "6ca51d8c.7fb86c"
      ],
      [
        "78262459.f9221c"
      ]
    ]
  },
  {
    "id": "6ca51d8c.7fb86c",
    "type": "switch",
    "z": "750f0705.13d438",
    "name": "Ist Fenster zu?",
    "property": "payload[\"study/balconyDoor/isClosed\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 780,
    "y": 600,
    "wires": [
      [
        "e333ee2a.0cbc9"
      ],
      [
        "78262459.f9221c"
      ]
    ]
  },
  {
    "id": "78262459.f9221c",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Ziel-Temperatur auf \"aus\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1010,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "5b2febea.5001b4",
    "type": "complete",
    "z": "750f0705.13d438",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "78262459.f9221c",
      "e333ee2a.0cbc9"
    ],
    "uncaught": false,
    "x": 150,
    "y": 720,
    "wires": [
      [
        "8d8415e9.e5121"
      ]
    ]
  },
  {
    "id": "8d8415e9.e5121",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Hole Daten",
    "rules": [
      {
        "t": "set",
        "p": "ain",
        "pt": "msg",
        "to": "109710426496",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 720,
    "wires": [
      [
        "ea404df4.305a5"
      ]
    ]
  },
  {
    "id": "ea404df4.305a5",
    "type": "fritz-thermostat",
    "z": "750f0705.13d438",
    "connection": "1f1ed453.c0771c",
    "name": "Regle Soll-Temperatur",
    "action": "setTempTarget",
    "x": 580,
    "y": 720,
    "wires": [
      []
    ]
  },
  {
    "id": "e333ee2a.0cbc9",
    "type": "change",
    "z": "750f0705.13d438",
    "name": "Setze Ziel- auf Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[\"study/radiator/desiredTemperature\"]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "6ee04ba2.15d37c",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 440,
    "y": 440,
    "wires": [],
    "l": true
  },
  {
    "id": "61c78d3d.472da4",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 430,
    "y": 480,
    "wires": [],
    "l": true
  },
  {
    "id": "2903c3ad.ebb914",
    "type": "link out",
    "z": "750f0705.13d438",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 440,
    "y": 520,
    "wires": [],
    "l": true
  },
  {
    "id": "3409c9be.09d6ae",
    "type": "subflow:2757b690.6da392",
    "z": "750f0705.13d438",
    "name": "Warte auf Fritz-Thermostat-Daten",
    "env": [
      {
        "name": "ain",
        "value": "109710426496",
        "type": "str"
      },
      {
        "name": "topicPrefix",
        "value": "study",
        "type": "str"
      }
    ],
    "x": 170,
    "y": 480,
    "wires": [
      [
        "6ee04ba2.15d37c"
      ],
      [
        "61c78d3d.472da4"
      ],
      [
        "2903c3ad.ebb914"
      ]
    ]
  }
]