flows/Hzg_Bad.json
[
  {
    "id": "a7755eb4.60b0d8",
    "type": "tab",
    "label": "Hzg_Bad",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8996d731.308628",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "Heizkörper -> Badezimmer",
    "info": "",
    "x": 130,
    "y": 40,
    "wires": []
  },
  {
    "id": "c9ab55d1.6813e8",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "14ed5a34.9a1086",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 560,
    "wires": []
  },
  {
    "id": "508352c6.e06144",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist verbunden?\"",
    "scope": [
      "bcd42810.8b56e"
    ],
    "uncaught": false,
    "x": 150,
    "y": 680,
    "wires": [
      [
        "4143af40.80dae"
      ]
    ]
  },
  {
    "id": "50568e94.615f",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Ist-Temperatur",
    "scope": [
      "e4aa3ab8.cc62"
    ],
    "uncaught": false,
    "x": 150,
    "y": 740,
    "wires": [
      [
        "a9737c00.736d28"
      ]
    ]
  },
  {
    "id": "5c6a3b6c.e09d84",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Soll-Temperatur",
    "scope": [
      "53bc5fb4.0e50b8"
    ],
    "uncaught": false,
    "x": 150,
    "y": 860,
    "wires": [
      [
        "467f9e17.b451a8"
      ]
    ]
  },
  {
    "id": "4143af40.80dae",
    "type": "ui_template",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": 2,
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 400,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "a9737c00.736d28",
    "type": "ui_text",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Ist-Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-left",
    "x": 400,
    "y": 740,
    "wires": []
  },
  {
    "id": "467f9e17.b451a8",
    "type": "ui_slider",
    "z": "a7755eb4.60b0d8",
    "name": "Zeige Soll-Temperatur",
    "label": "",
    "tooltip": "",
    "group": "9298819a.21ca98",
    "order": 6,
    "width": 4,
    "height": 2,
    "passthru": false,
    "outs": "end",
    "topic": "",
    "min": "8",
    "max": "28",
    "step": "0.5",
    "x": 400,
    "y": 860,
    "wires": [
      [
        "366b58af.b68b"
      ]
    ]
  },
  {
    "id": "9db7fddc.edf54",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 620,
    "wires": [
      [
        "521973aa.0f32d4"
      ]
    ]
  },
  {
    "id": "521973aa.0f32d4",
    "type": "ui_template",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "name": "Zeige Heizungsicon",
    "order": 1,
    "width": 2,
    "height": 4,
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 390,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "c9766a30.39681",
    "type": "comment",
    "z": "a7755eb4.60b0d8",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 1000,
    "wires": []
  },
  {
    "id": "45adf42b.448e8c",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Werktags, 05:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 05 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1060,
    "wires": [
      [
        "254d6cfa.9e9e6c"
      ]
    ]
  },
  {
    "id": "561409bc.10035",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Wochenende, 07:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 07 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "254d6cfa.9e9e6c"
      ]
    ]
  },
  {
    "id": "254d6cfa.9e9e6c",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Wunsch-Temperatur auf 23°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "23",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bathroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1100,
    "wires": [
      []
    ]
  },
  {
    "id": "6a2c9246.71ceec",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Wunsch-Temperatur auf 17°C",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "17",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bathroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 1260,
    "wires": [
      []
    ]
  },
  {
    "id": "c23a0f78.9167b",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Wunsch-Temperatur",
    "scope": [
      "254d6cfa.9e9e6c",
      "6a2c9246.71ceec",
      "9a076e88.c5ff4",
      "366b58af.b68b"
    ],
    "uncaught": false,
    "x": 160,
    "y": 300,
    "wires": [
      [
        "e79481f5.678d78"
      ]
    ]
  },
  {
    "id": "9d2fd886.a164e8",
    "type": "link in",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist Heizung eingeschaltet?\"",
    "links": [
      "ae8dfb0d.ed6b38"
    ],
    "x": 190,
    "y": 340,
    "wires": [
      [
        "e79481f5.678d78"
      ]
    ],
    "l": true
  },
  {
    "id": "14ef395b.717947",
    "type": "link in",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "bce06698.58666"
    ],
    "x": 180,
    "y": 380,
    "wires": [
      [
        "e79481f5.678d78"
      ]
    ],
    "l": true
  },
  {
    "id": "366b58af.b68b",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bathroom/radiator/desiredTemperature",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "e79481f5.678d78",
    "type": "join",
    "z": "a7755eb4.60b0d8",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "4",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 450,
    "y": 340,
    "wires": [
      [
        "4796237f.2c67e4"
      ]
    ]
  },
  {
    "id": "4796237f.2c67e4",
    "type": "switch",
    "z": "a7755eb4.60b0d8",
    "name": "Ist Heizung an?",
    "property": "payload[\"radiator/mainSwitch\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 340,
    "wires": [
      [
        "62048396.a1cba4"
      ],
      [
        "dbb3f0dc.2ec51"
      ]
    ]
  },
  {
    "id": "62048396.a1cba4",
    "type": "switch",
    "z": "a7755eb4.60b0d8",
    "name": "Ist gr. Balkontür zu?",
    "property": "payload[\"living-kitchenArea/balconyDoors/large/isClosed\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 740,
    "y": 280,
    "wires": [
      [
        "5905de1.b237ea"
      ],
      [
        "dbb3f0dc.2ec51"
      ]
    ]
  },
  {
    "id": "dbb3f0dc.2ec51",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Ziel-Temperatur auf \"aus\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1090,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "8355bc10.b027c",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "dbb3f0dc.2ec51",
      "38b5f445.738c7c"
    ],
    "uncaught": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "e5eb264a.ed6de"
      ]
    ]
  },
  {
    "id": "38b5f445.738c7c",
    "type": "change",
    "z": "a7755eb4.60b0d8",
    "name": "Setze Ziel- auf Wunsch-Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[\"bathroom/radiator/desiredTemperature\"]",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1100,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "bcd42810.8b56e",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile \"Ist verbunden?\"",
    "links": [],
    "x": 420,
    "y": 160,
    "wires": [],
    "l": true
  },
  {
    "id": "e4aa3ab8.cc62",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile Ist-Temperatur",
    "links": [],
    "x": 410,
    "y": 200,
    "wires": [],
    "l": true
  },
  {
    "id": "53bc5fb4.0e50b8",
    "type": "link out",
    "z": "a7755eb4.60b0d8",
    "name": "Teile Soll-Temperatur",
    "links": [],
    "x": 420,
    "y": 240,
    "wires": [],
    "l": true
  },
  {
    "id": "1006f708.927d61",
    "type": "subflow:2757b690.6da392",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Thermostat-Daten",
    "env": [
      {
        "name": "ain",
        "value": "109710421016",
        "type": "str"
      },
      {
        "name": "topicPrefix",
        "value": "bathroom",
        "type": "str"
      }
    ],
    "x": 160,
    "y": 200,
    "wires": [
      [
        "bcd42810.8b56e"
      ],
      [
        "e4aa3ab8.cc62"
      ],
      [
        "53bc5fb4.0e50b8"
      ]
    ]
  },
  {
    "id": "e5eb264a.ed6de",
    "type": "subflow:2b4929ba.ee20e6",
    "z": "a7755eb4.60b0d8",
    "name": "Regle Thermostat",
    "env": [
      {
        "name": "ain",
        "value": "109710421016",
        "type": "str"
      }
    ],
    "x": 390,
    "y": 480,
    "wires": []
  },
  {
    "id": "840fc4b5.8cc3a",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Werktags, 06:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 06 * * 1,2,3,4,5",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1200,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "6e8a7568.09ee74",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "So.-Do., 21:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 21 * * 1,2,3,4,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 140,
    "y": 1280,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "d40e879e.0a6b78",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Fr.-Sa., 23:30 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "30 23 * * 5,6",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1320,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "d92e1960.73c5b",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Wochenende, 11:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 11 * * 6,0",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 150,
    "y": 1240,
    "wires": [
      [
        "6a2c9246.71ceec"
      ]
    ]
  },
  {
    "id": "d4c0db0c.82e3d8",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Täglich, 18:00 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 18 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 130,
    "y": 1140,
    "wires": [
      [
        "254d6cfa.9e9e6c"
      ]
    ]
  },
  {
    "id": "791586c1.6b365",
    "type": "link in",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf \"Ist Fenster geschlossen?\"",
    "links": [
      "903b9330.0275"
    ],
    "x": 180,
    "y": 420,
    "wires": [
      [
        "e79481f5.678d78"
      ]
    ],
    "l": true
  },
  {
    "id": "5905de1.b237ea",
    "type": "switch",
    "z": "a7755eb4.60b0d8",
    "name": "Ist kl. Balkontür zu?",
    "property": "payload[\"living-kitchenArea/balconyDoors/small/isClosed\"]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 220,
    "wires": [
      [
        "38b5f445.738c7c"
      ],
      [
        "dbb3f0dc.2ec51"
      ]
    ]
  },
  {
    "id": "8a7fe0db.39474",
    "type": "inject",
    "z": "a7755eb4.60b0d8",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Vollautomatisch zeit- & sensorbasiert",
    "payloadType": "str",
    "x": 110,
    "y": 920,
    "wires": [
      [
        "496bce6f.f60f9"
      ]
    ]
  },
  {
    "id": "496bce6f.f60f9",
    "type": "ui_text",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "order": 7,
    "width": 6,
    "height": 1,
    "name": "Zeige Automatisierungsinfo",
    "label": "<i class=\"material-icons\">info</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 420,
    "y": 920,
    "wires": []
  },
  {
    "id": "1291ad75.617f93",
    "type": "ui_text",
    "z": "a7755eb4.60b0d8",
    "group": "9298819a.21ca98",
    "order": 4,
    "width": 2,
    "height": 1,
    "name": "Zeige Ziel-Temperatur",
    "label": "<i class=\"material-icons\">whatshot</i>",
    "format": "{{msg.payload ? msg.payload + '°C' : 'Aus'}}",
    "layout": "row-left",
    "x": 400,
    "y": 800,
    "wires": []
  },
  {
    "id": "b40a8562.a5c918",
    "type": "complete",
    "z": "a7755eb4.60b0d8",
    "name": "Warte auf Ziel-Temperatur",
    "scope": [
      "dbb3f0dc.2ec51",
      "38b5f445.738c7c"
    ],
    "uncaught": false,
    "x": 150,
    "y": 800,
    "wires": [
      [
        "1291ad75.617f93"
      ]
    ]
  }
]