flows/KS_SZ_Tür.json
[
  {
    "id": "5b7d4da2fd6c182a",
    "type": "tab",
    "label": "KS_SZ_Tür",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "3863cf5a3e9f7531",
    "type": "comment",
    "z": "5b7d4da2fd6c182a",
    "name": "Kontakt-Sensor -> Schlafzimmer -> Tür",
    "info": "",
    "x": 170,
    "y": 40,
    "wires": []
  },
  {
    "id": "84a26d5b778b6318",
    "type": "comment",
    "z": "5b7d4da2fd6c182a",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "2bd74ee967f6cb15",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Merke Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "contact.batteryPercentage",
        "pt": "flow",
        "to": "payload.battery",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "1b29b30414eb730e",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Merke LQI",
    "rules": [
      {
        "t": "set",
        "p": "contact.lqi",
        "pt": "flow",
        "to": "payload.linkquality",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "e3f7d2db6d37f21f",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Merke \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "contact.isClosed",
        "pt": "flow",
        "to": "payload.contact",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "7f00bc8793fbdd92",
    "type": "comment",
    "z": "5b7d4da2fd6c182a",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 480,
    "wires": []
  },
  {
    "id": "9618ac9b0d901c50",
    "type": "complete",
    "z": "5b7d4da2fd6c182a",
    "name": "Warte auf Batterie-%",
    "scope": [
      "2bd74ee967f6cb15"
    ],
    "uncaught": false,
    "x": 130,
    "y": 600,
    "wires": [
      [
        "4ba7254b0cccef3a"
      ]
    ]
  },
  {
    "id": "23e10bef29412e1a",
    "type": "complete",
    "z": "5b7d4da2fd6c182a",
    "name": "Warte auf LQI",
    "scope": [
      "1b29b30414eb730e"
    ],
    "uncaught": false,
    "x": 110,
    "y": 660,
    "wires": [
      [
        "b447ed407994c60e"
      ]
    ]
  },
  {
    "id": "7666a9ab7f478ce8",
    "type": "complete",
    "z": "5b7d4da2fd6c182a",
    "name": "Warte auf \"Ist geschlossen?\"",
    "scope": [
      "e3f7d2db6d37f21f"
    ],
    "uncaught": false,
    "x": 160,
    "y": 720,
    "wires": [
      [
        "46b577ce6a59aace"
      ]
    ]
  },
  {
    "id": "4ba7254b0cccef3a",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Hole Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.batteryPercentage",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 600,
    "wires": [
      [
        "40f90fd50b2316ed"
      ]
    ]
  },
  {
    "id": "46b577ce6a59aace",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Hole \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.isClosed",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 720,
    "wires": [
      [
        "b305a5ab668bde66"
      ]
    ]
  },
  {
    "id": "b447ed407994c60e",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Hole LQI",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.lqi",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 660,
    "wires": [
      [
        "ce8e0d896307c309"
      ]
    ]
  },
  {
    "id": "40f90fd50b2316ed",
    "type": "ui_text",
    "z": "5b7d4da2fd6c182a",
    "group": "c8f164cccb482c96",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "className": "",
    "x": 670,
    "y": 600,
    "wires": []
  },
  {
    "id": "ce8e0d896307c309",
    "type": "ui_text",
    "z": "5b7d4da2fd6c182a",
    "group": "c8f164cccb482c96",
    "order": 3,
    "width": "1",
    "height": 1,
    "name": "Zeige LQI",
    "label": "<i class=\"material-icons\">sync</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "className": "",
    "x": 640,
    "y": 660,
    "wires": []
  },
  {
    "id": "b305a5ab668bde66",
    "type": "ui_text",
    "z": "5b7d4da2fd6c182a",
    "group": "c8f164cccb482c96",
    "order": 4,
    "width": 2,
    "height": "2",
    "name": "Zeige \"Ist geschlossen?\"",
    "label": "<i class=\"material-icons\">{{msg.payload ? 'compare_arrows' : 'swap_horiz'}}</i>",
    "format": "{{msg.payload ? 'Geschlossen' : 'Geöffnet'}}",
    "layout": "row-center",
    "className": "",
    "x": 690,
    "y": 720,
    "wires": []
  },
  {
    "id": "f409fb22a69067a6",
    "type": "link out",
    "z": "5b7d4da2fd6c182a",
    "name": "Teile \"Ist geschlossen?\"",
    "mode": "link",
    "links": [],
    "x": 690,
    "y": 400,
    "wires": [],
    "l": true
  },
  {
    "id": "511da50c7f31015c",
    "type": "zigbee2mqtt-in",
    "z": "5b7d4da2fd6c182a",
    "name": "Warte auf Sensor-Daten",
    "server": "dd3cc3c3.66f0c8",
    "friendly_name": "contact/bedroom/door",
    "device_id": "0x00158d0007ecd6dd",
    "state": "0",
    "outputAtStartup": true,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "2bd74ee967f6cb15",
        "1b29b30414eb730e",
        "e3f7d2db6d37f21f"
      ]
    ]
  },
  {
    "id": "ee9586c4785888bb",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Bereinige Nachricht",
    "rules": [
      {
        "t": "delete",
        "p": "device",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "format",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "group",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "homekit",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload_raw",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 360,
    "wires": [
      [
        "2fd57f7aa241f98c"
      ]
    ]
  },
  {
    "id": "d329e9f41fbd5363",
    "type": "complete",
    "z": "5b7d4da2fd6c182a",
    "name": "Warte auf \"Ist geschlossen?\"",
    "scope": [
      "e3f7d2db6d37f21f"
    ],
    "uncaught": false,
    "x": 160,
    "y": 360,
    "wires": [
      [
        "ee9586c4785888bb"
      ]
    ]
  },
  {
    "id": "2fd57f7aa241f98c",
    "type": "change",
    "z": "5b7d4da2fd6c182a",
    "name": "Hole \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.isClosed",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/door/isClosed",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 400,
    "wires": [
      [
        "f409fb22a69067a6"
      ]
    ]
  },
  {
    "id": "c0a4ffab1bc8ee11",
    "type": "inject",
    "z": "5b7d4da2fd6c182a",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 540,
    "wires": [
      [
        "8fd2a786e8ae125b"
      ]
    ]
  },
  {
    "id": "8fd2a786e8ae125b",
    "type": "ui_template",
    "z": "5b7d4da2fd6c182a",
    "group": "c8f164cccb482c96",
    "name": "Zeige Icon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        meeting_room\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 650,
    "y": 540,
    "wires": [
      []
    ]
  }
]
