flows/KS_SZ_re.json
[
  {
    "id": "d4a646cb.d8d6f",
    "type": "tab",
    "label": "KS_SZ_re",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4f3d6e6c.a2ede8",
    "type": "comment",
    "z": "d4a646cb.d8d6f",
    "name": "Kontakt-Sensor -> Schlafzimmer -> rechtes Fenster",
    "info": "",
    "x": 210,
    "y": 40,
    "wires": []
  },
  {
    "id": "d8dc66aa.10c128",
    "type": "comment",
    "z": "d4a646cb.d8d6f",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "a7b2bdb8.dbc208",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Merke Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "contact.batteryPercentage",
        "pt": "flow",
        "to": "payload.battery",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "71efde3d.705de",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Merke LQI",
    "rules": [
      {
        "t": "set",
        "p": "contact.lqi",
        "pt": "flow",
        "to": "payload.linkquality",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "f045bfea.f259f8",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Merke \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "contact.isClosed",
        "pt": "flow",
        "to": "payload.contact",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "5ed1d85a.80bc08",
    "type": "comment",
    "z": "d4a646cb.d8d6f",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 480,
    "wires": []
  },
  {
    "id": "35531896.4b3bd8",
    "type": "complete",
    "z": "d4a646cb.d8d6f",
    "name": "Warte auf Batterie-%",
    "scope": [
      "a7b2bdb8.dbc208"
    ],
    "uncaught": false,
    "x": 130,
    "y": 600,
    "wires": [
      [
        "bb2242dc.347a4"
      ]
    ]
  },
  {
    "id": "25df599e.7f33f6",
    "type": "complete",
    "z": "d4a646cb.d8d6f",
    "name": "Warte auf LQI",
    "scope": [
      "71efde3d.705de"
    ],
    "uncaught": false,
    "x": 110,
    "y": 660,
    "wires": [
      [
        "702a5237.fcfa1c"
      ]
    ]
  },
  {
    "id": "339eabbe.397d7c",
    "type": "complete",
    "z": "d4a646cb.d8d6f",
    "name": "Warte auf \"Ist geschlossen?\"",
    "scope": [
      "f045bfea.f259f8"
    ],
    "uncaught": false,
    "x": 160,
    "y": 720,
    "wires": [
      [
        "a77ab786.62822"
      ]
    ]
  },
  {
    "id": "bb2242dc.347a4",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Hole Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.batteryPercentage",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 600,
    "wires": [
      [
        "86fb6f43.3acb6"
      ]
    ]
  },
  {
    "id": "a77ab786.62822",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Hole \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.isClosed",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 720,
    "wires": [
      [
        "b686b475.ff688"
      ]
    ]
  },
  {
    "id": "702a5237.fcfa1c",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Hole LQI",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.lqi",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 660,
    "wires": [
      [
        "fb6be7ce.ba2038"
      ]
    ]
  },
  {
    "id": "86fb6f43.3acb6",
    "type": "ui_text",
    "z": "d4a646cb.d8d6f",
    "group": "b823bcaf.ffdfe8",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 670,
    "y": 600,
    "wires": []
  },
  {
    "id": "fb6be7ce.ba2038",
    "type": "ui_text",
    "z": "d4a646cb.d8d6f",
    "group": "b823bcaf.ffdfe8",
    "order": 3,
    "width": "1",
    "height": 1,
    "name": "Zeige LQI",
    "label": "<i class=\"material-icons\">sync</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 640,
    "y": 660,
    "wires": []
  },
  {
    "id": "b686b475.ff688",
    "type": "ui_text",
    "z": "d4a646cb.d8d6f",
    "group": "b823bcaf.ffdfe8",
    "order": 4,
    "width": 2,
    "height": "2",
    "name": "Zeige \"Ist geschlossen?\"",
    "label": "<i class=\"material-icons\">{{msg.payload ? 'compare_arrows' : 'swap_horiz'}}</i>",
    "format": "{{msg.payload ? 'Geschlossen' : 'Geöffnet'}}",
    "layout": "row-center",
    "x": 690,
    "y": 720,
    "wires": []
  },
  {
    "id": "c3ac0285.66ce2",
    "type": "link out",
    "z": "d4a646cb.d8d6f",
    "name": "Teile \"Ist geschlossen?\"",
    "links": [
      "70342958.a0c09",
      "a3aeb4fa.bbb6c"
    ],
    "x": 690,
    "y": 400,
    "wires": [],
    "l": true
  },
  {
    "id": "4936b8d0.22c058",
    "type": "zigbee2mqtt-in",
    "z": "d4a646cb.d8d6f",
    "name": "Warte auf Sensor-Daten",
    "server": "dd3cc3c3.66f0c8",
    "friendly_name": "bedroom/windows/righty/contact",
    "device_id": "0x00158d00045cc568",
    "state": "0",
    "outputAtStartup": true,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "a7b2bdb8.dbc208",
        "71efde3d.705de",
        "f045bfea.f259f8"
      ]
    ]
  },
  {
    "id": "bf6f1181.11e1d8",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Bereinige Nachricht",
    "rules": [
      {
        "t": "delete",
        "p": "device",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "format",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "group",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "homekit",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload_raw",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 360,
    "wires": [
      [
        "8fb090a3.f4e51"
      ]
    ]
  },
  {
    "id": "efe9b40.59b265",
    "type": "complete",
    "z": "d4a646cb.d8d6f",
    "name": "Warte auf \"Ist geschlossen?\"",
    "scope": [
      "f045bfea.f259f8"
    ],
    "uncaught": false,
    "x": 160,
    "y": 360,
    "wires": [
      [
        "bf6f1181.11e1d8"
      ]
    ]
  },
  {
    "id": "8fb090a3.f4e51",
    "type": "change",
    "z": "d4a646cb.d8d6f",
    "name": "Hole \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.isClosed",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "bedroom/windows/right/isClosed",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 400,
    "wires": [
      [
        "c3ac0285.66ce2"
      ]
    ]
  },
  {
    "id": "6ad7d6f6.f7678",
    "type": "inject",
    "z": "d4a646cb.d8d6f",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 540,
    "wires": [
      [
        "f05d3a5c.6f54c8"
      ]
    ]
  },
  {
    "id": "f05d3a5c.6f54c8",
    "type": "ui_template",
    "z": "d4a646cb.d8d6f",
    "group": "b823bcaf.ffdfe8",
    "name": "Zeige Icon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        panorama_wide_angle\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 650,
    "y": 540,
    "wires": [
      []
    ]
  }
]
