flows/KS_WK_kl.json
[
  {
    "id": "969b20e8.461548",
    "type": "tab",
    "label": "KS_WK_kl",
    "disabled": true,
    "info": ""
  },
  {
    "id": "36b2b46a.008b34",
    "type": "comment",
    "z": "969b20e8.461548",
    "name": "Kontakt-Sensor -> Wohnküche -> kleine Balkontür",
    "info": "",
    "x": 210,
    "y": 40,
    "wires": []
  },
  {
    "id": "2a3598b1.aa0b5",
    "type": "comment",
    "z": "969b20e8.461548",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "671d5cd0.bcf754",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Merke Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "contact.batteryPercentage",
        "pt": "flow",
        "to": "payload.battery",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "95497a0e.166f6",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Merke LQI",
    "rules": [
      {
        "t": "set",
        "p": "contact.lqi",
        "pt": "flow",
        "to": "payload.linkquality",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "a3764159.0812b8",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Merke \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "contact.isClosed",
        "pt": "flow",
        "to": "payload.contact",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "13cbe8b1.8b538f",
    "type": "comment",
    "z": "969b20e8.461548",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 480,
    "wires": []
  },
  {
    "id": "d6b3904.200207",
    "type": "complete",
    "z": "969b20e8.461548",
    "name": "Warte auf Batterie-%",
    "scope": [
      "671d5cd0.bcf754"
    ],
    "uncaught": false,
    "x": 130,
    "y": 600,
    "wires": [
      [
        "9be93356.da5a9"
      ]
    ]
  },
  {
    "id": "51531092.d2d608",
    "type": "complete",
    "z": "969b20e8.461548",
    "name": "Warte auf LQI",
    "scope": [
      "95497a0e.166f6"
    ],
    "uncaught": false,
    "x": 110,
    "y": 660,
    "wires": [
      [
        "a91c2141.d95a1"
      ]
    ]
  },
  {
    "id": "c514ba92.863d2",
    "type": "complete",
    "z": "969b20e8.461548",
    "name": "Warte auf \"Ist geschlossen?\"",
    "scope": [
      "a3764159.0812b8"
    ],
    "uncaught": false,
    "x": 160,
    "y": 720,
    "wires": [
      [
        "911d60f1.ca5938"
      ]
    ]
  },
  {
    "id": "9be93356.da5a9",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Hole Batterie-%",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.batteryPercentage",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 600,
    "wires": [
      [
        "908d8877.118a28"
      ]
    ]
  },
  {
    "id": "911d60f1.ca5938",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Hole \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.isClosed",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 720,
    "wires": [
      [
        "2d6e5d50.28f152"
      ]
    ]
  },
  {
    "id": "a91c2141.d95a1",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Hole LQI",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.lqi",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 660,
    "wires": [
      [
        "49f5b677.85178"
      ]
    ]
  },
  {
    "id": "908d8877.118a28",
    "type": "ui_text",
    "z": "969b20e8.461548",
    "group": "aa64946a.b8cef",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 670,
    "y": 600,
    "wires": []
  },
  {
    "id": "49f5b677.85178",
    "type": "ui_text",
    "z": "969b20e8.461548",
    "group": "aa64946a.b8cef",
    "order": 3,
    "width": "1",
    "height": 1,
    "name": "Zeige LQI",
    "label": "<i class=\"material-icons\">sync</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 640,
    "y": 660,
    "wires": []
  },
  {
    "id": "2d6e5d50.28f152",
    "type": "ui_text",
    "z": "969b20e8.461548",
    "group": "aa64946a.b8cef",
    "order": 4,
    "width": 2,
    "height": "2",
    "name": "Zeige \"Ist geschlossen?\"",
    "label": "<i class=\"material-icons\">{{msg.payload ? 'compare_arrows' : 'swap_horiz'}}</i>",
    "format": "{{msg.payload ? 'Geschlossen' : 'Geöffnet'}}",
    "layout": "row-center",
    "x": 690,
    "y": 720,
    "wires": []
  },
  {
    "id": "903b9330.0275",
    "type": "link out",
    "z": "969b20e8.461548",
    "name": "Teile \"Ist geschlossen?\"",
    "links": [
      "791586c1.6b365",
      "3889bf19.a16908",
      "76dbdf8c.89a1f"
    ],
    "x": 690,
    "y": 400,
    "wires": [],
    "l": true
  },
  {
    "id": "bb77f93f.a8b99",
    "type": "zigbee2mqtt-in",
    "z": "969b20e8.461548",
    "name": "Warte auf Sensor-Daten",
    "server": "dd3cc3c3.66f0c8",
    "friendly_name": "living-kitchen_area/doors/balcony_small/contact",
    "device_id": "0x00158d00045ce46a",
    "state": "0",
    "outputAtStartup": true,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "671d5cd0.bcf754",
        "95497a0e.166f6",
        "a3764159.0812b8"
      ]
    ]
  },
  {
    "id": "23e8a3cc.75b75c",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Bereinige Nachricht",
    "rules": [
      {
        "t": "delete",
        "p": "device",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "format",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "group",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "homekit",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload_raw",
        "pt": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 360,
    "wires": [
      [
        "6e0e3dbd.43d764"
      ]
    ]
  },
  {
    "id": "866796ac.6feda8",
    "type": "complete",
    "z": "969b20e8.461548",
    "name": "Warte auf \"Ist geschlossen?\"",
    "scope": [
      "a3764159.0812b8"
    ],
    "uncaught": false,
    "x": 160,
    "y": 360,
    "wires": [
      [
        "23e8a3cc.75b75c"
      ]
    ]
  },
  {
    "id": "6e0e3dbd.43d764",
    "type": "change",
    "z": "969b20e8.461548",
    "name": "Hole \"Ist geschlossen?\"",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "contact.isClosed",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "living-kitchenArea/balconyDoors/small/isClosed",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 400,
    "wires": [
      [
        "903b9330.0275"
      ]
    ]
  },
  {
    "id": "89581792.3adf9",
    "type": "inject",
    "z": "969b20e8.461548",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 540,
    "wires": [
      [
        "f9cc9f17.970e48"
      ]
    ]
  },
  {
    "id": "f9cc9f17.970e48",
    "type": "ui_template",
    "z": "969b20e8.461548",
    "group": "aa64946a.b8cef",
    "name": "Zeige Icon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        login\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 650,
    "y": 540,
    "wires": [
      []
    ]
  }
]