flows/ME_System.json
[
  {
    "id": "ffb49bdd.d4ea8",
    "type": "tab",
    "label": "ME_System",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ecff0bdd.eb54d",
    "type": "comment",
    "z": "ffb49bdd.d4ea8",
    "name": "machine environment: System",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "562c46d0.f58458",
    "type": "comment",
    "z": "ffb49bdd.d4ea8",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "a20c5fe.8b139a",
    "type": "zigbee2mqtt-bridge",
    "z": "ffb49bdd.d4ea8",
    "name": "Warte auf Zigbee-Nachricht",
    "server": "dd3cc3c3.66f0c8",
    "topic": null,
    "x": 160,
    "y": 300,
    "wires": [
      [
        "dd3f41ae.c61528"
      ]
    ]
  },
  {
    "id": "dd3f41ae.c61528",
    "type": "switch",
    "z": "ffb49bdd.d4ea8",
    "name": "Filter auf Konfig-Änderungen",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "zigbee2mqtt/bridge/config",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 440,
    "y": 300,
    "wires": [
      [
        "3fbdd68c.1daefa",
        "75e47a98.ef93c4"
      ]
    ]
  },
  {
    "id": "3fbdd68c.1daefa",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Merke Gateway-Firmware-Version",
    "rules": [
      {
        "t": "set",
        "p": "gateway.version",
        "pt": "flow",
        "to": "payload.coordinator.meta.revision",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "75e47a98.ef93c4",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Merke Zigbee2MQTT-Version",
    "rules": [
      {
        "t": "set",
        "p": "zigbee2mqtt.version",
        "pt": "flow",
        "to": "payload.version",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "4ef8210e.6fbb18",
    "type": "comment",
    "z": "ffb49bdd.d4ea8",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 460,
    "wires": []
  },
  {
    "id": "71ea7657.f782c8",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Hole Gateway-Firmware-Version",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "gateway.version",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$substring(msg.payload, 2)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 640,
    "wires": [
      [
        "b39ed99b.b67588"
      ]
    ]
  },
  {
    "id": "ad344d62.87da2",
    "type": "complete",
    "z": "ffb49bdd.d4ea8",
    "name": "Warte auf Gateway-Firmware-Version",
    "scope": [
      "3fbdd68c.1daefa"
    ],
    "uncaught": false,
    "x": 190,
    "y": 640,
    "wires": [
      [
        "71ea7657.f782c8"
      ]
    ]
  },
  {
    "id": "2c5c54be.d0cb2c",
    "type": "complete",
    "z": "ffb49bdd.d4ea8",
    "name": "Warte auf Zigbee2MQTT-Version",
    "scope": [
      "75e47a98.ef93c4"
    ],
    "uncaught": false,
    "x": 170,
    "y": 700,
    "wires": [
      [
        "9437f325.0f27"
      ]
    ]
  },
  {
    "id": "9437f325.0f27",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Hole Zigbee2MQTT-Version",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "zigbee2mqtt.version",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 700,
    "wires": [
      [
        "2e5bf7c.fea4208"
      ]
    ]
  },
  {
    "id": "b39ed99b.b67588",
    "type": "ui_text",
    "z": "ffb49bdd.d4ea8",
    "group": "e403dc85.401788",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Zeige Gateway-Firmware-Version",
    "label": "Gateway-Firmware:",
    "format": "v{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 820,
    "y": 640,
    "wires": []
  },
  {
    "id": "2e5bf7c.fea4208",
    "type": "ui_text",
    "z": "ffb49bdd.d4ea8",
    "group": "e403dc85.401788",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Zeige Zigbee2MQTT-Version",
    "label": "Zigbee2MQTT:",
    "format": "v{{msg.payload}}",
    "layout": "row-spread",
    "x": 800,
    "y": 700,
    "wires": []
  },
  {
    "id": "16ada7db.091798",
    "type": "inject",
    "z": "ffb49bdd.d4ea8",
    "name": "1-mal beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 240,
    "wires": [
      [
        "7d4d3e60.b32e18"
      ]
    ]
  },
  {
    "id": "b6ceae1c.68cd3",
    "type": "inject",
    "z": "ffb49bdd.d4ea8",
    "name": "1-mal beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "1babb4c5.a9fa43"
      ]
    ]
  },
  {
    "id": "1babb4c5.a9fa43",
    "type": "exec",
    "z": "ffb49bdd.d4ea8",
    "command": "node -v",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Lese Node.js-Version",
    "x": 360,
    "y": 180,
    "wires": [
      [
        "1ef49784.e4a75"
      ],
      [],
      []
    ]
  },
  {
    "id": "db92f390.68acc8",
    "type": "ui_text",
    "z": "ffb49bdd.d4ea8",
    "group": "ce9bba2a.9d9588",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Zeige Node.js-Version",
    "label": "Node.js:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 780,
    "y": 520,
    "wires": []
  },
  {
    "id": "21afc3f8.6073ec",
    "type": "json",
    "z": "ffb49bdd.d4ea8",
    "name": "Konvertiere zu JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 600,
    "y": 240,
    "wires": [
      [
        "1b64fdb7.e0d78a"
      ]
    ]
  },
  {
    "id": "7d4d3e60.b32e18",
    "type": "file in",
    "z": "ffb49bdd.d4ea8",
    "name": "Lese Paket-Versionen",
    "filename": "package.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "utf8",
    "x": 360,
    "y": 240,
    "wires": [
      [
        "21afc3f8.6073ec"
      ]
    ]
  },
  {
    "id": "aa24cde1.7fcae",
    "type": "ui_table",
    "z": "ffb49bdd.d4ea8",
    "group": "ce9bba2a.9d9588",
    "name": "Zeige Paket-Versionen",
    "order": 2,
    "width": "6",
    "height": "17",
    "columns": [
      {
        "field": "name",
        "title": "Paket-Name",
        "width": "70%",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "version",
        "title": "Version",
        "width": "30%",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 780,
    "y": 580,
    "wires": []
  },
  {
    "id": "1ef49784.e4a75",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Merke Node.js-Version",
    "rules": [
      {
        "t": "set",
        "p": "nodejs.version",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "1b64fdb7.e0d78a",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Merke Paket-Versionen",
    "rules": [
      {
        "t": "set",
        "p": "packageJson",
        "pt": "flow",
        "to": "$each(payload.dependencies, function($v, $k) {\t    {\t        \"name\": $k,\t        \"version\": $v\t    }\t})\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "cd0636ca.826e9",
    "type": "complete",
    "z": "ffb49bdd.d4ea8",
    "name": "Warte auf Node.js-Version",
    "scope": [
      "1ef49784.e4a75"
    ],
    "uncaught": false,
    "x": 150,
    "y": 520,
    "wires": [
      [
        "65d4c26e.dc875c"
      ]
    ]
  },
  {
    "id": "2bf1dbbb.ff5724",
    "type": "complete",
    "z": "ffb49bdd.d4ea8",
    "name": "Warte auf Paket-Versionen",
    "scope": [
      "1b64fdb7.e0d78a"
    ],
    "uncaught": false,
    "x": 150,
    "y": 580,
    "wires": [
      [
        "325bb2c7.0e5516"
      ]
    ]
  },
  {
    "id": "65d4c26e.dc875c",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Hole Node.js-Version",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "nodejs.version",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 520,
    "wires": [
      [
        "db92f390.68acc8"
      ]
    ]
  },
  {
    "id": "325bb2c7.0e5516",
    "type": "change",
    "z": "ffb49bdd.d4ea8",
    "name": "Hole Paket-Versionen",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "packageJson",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 580,
    "wires": [
      [
        "aa24cde1.7fcae"
      ]
    ]
  }
]