flows/Stecker_BLK.json
[
  {
    "id": "fe976b5a.539a18",
    "type": "tab",
    "label": "Stecker_BLK",
    "disabled": true,
    "info": ""
  },
  {
    "id": "18a875fd.ff7422",
    "type": "comment",
    "z": "fe976b5a.539a18",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 320,
    "wires": []
  },
  {
    "id": "3fd86a11.ff9a5e",
    "type": "comment",
    "z": "fe976b5a.539a18",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "2cb4e666.c071ca",
    "type": "comment",
    "z": "fe976b5a.539a18",
    "name": "Steckdosen -> Balkon",
    "info": "",
    "x": 120,
    "y": 40,
    "wires": []
  },
  {
    "id": "e50e4f5a.557f1",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Merke Verbindungsstatus",
    "rules": [
      {
        "t": "set",
        "p": "plug.isConnected",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "ebd86b51.f17a28",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Merke Leistung",
    "rules": [
      {
        "t": "set",
        "p": "plug.power",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "b52b894a.6d5ca",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Merke Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "plug.temperature",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "703b441a.e8fcfc",
    "type": "ui_template",
    "z": "fe976b5a.539a18",
    "group": "2f3f5aef.3d20ee",
    "name": "Zeige \"Ist verbunden?\"",
    "order": 3,
    "width": "1",
    "height": 1,
    "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 620,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "7470a5b5.aac98c",
    "type": "ui_text",
    "z": "fe976b5a.539a18",
    "group": "2f3f5aef.3d20ee",
    "order": 4,
    "width": 2,
    "height": 1,
    "name": "Zeige Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 610,
    "y": 500,
    "wires": []
  },
  {
    "id": "15bc570d.988619",
    "type": "ui_text",
    "z": "fe976b5a.539a18",
    "group": "2f3f5aef.3d20ee",
    "order": 2,
    "width": 2,
    "height": "2",
    "name": "Zeige Leistungsaufnahme",
    "label": "<i class=\"material-icons\">flash_on</i>",
    "format": "{{msg.payload}}W",
    "layout": "row-center",
    "x": 630,
    "y": 560,
    "wires": []
  },
  {
    "id": "ed7db42a.a87838",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Hole Schaltzustand",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "plug.isSwitchedOn",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 620,
    "wires": [
      [
        "1ba359aa.39929e"
      ]
    ]
  },
  {
    "id": "6175ab12.f4eb64",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Merke Schaltzustand",
    "rules": [
      {
        "t": "set",
        "p": "plug.isSwitchedOn",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 880,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "1ba359aa.39929e",
    "type": "ui_switch",
    "z": "fe976b5a.539a18",
    "name": "Interaktion Schaltzustand",
    "label": "<i class=\"material-icons\">power_settings_new</i>",
    "tooltip": "",
    "group": "2f3f5aef.3d20ee",
    "order": 7,
    "width": 2,
    "height": "1",
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 630,
    "y": 620,
    "wires": [
      [
        "c919cbb9.c0ebb8"
      ]
    ]
  },
  {
    "id": "38015163.ecb826",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Hole Schaltzustand",
    "rules": [
      {
        "t": "set",
        "p": "isSwitchedOn",
        "pt": "msg",
        "to": "plug.isSwitchedOn",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 180,
    "wires": [
      [
        "c315c2e3.7df998"
      ]
    ]
  },
  {
    "id": "c919cbb9.c0ebb8",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Schalte um",
    "rules": [
      {
        "t": "set",
        "p": "plug.isSwitchedOn",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 850,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "419b0400.459474",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Hole Status",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "plug.isConnected",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 440,
    "wires": [
      [
        "703b441a.e8fcfc"
      ]
    ]
  },
  {
    "id": "9d3b72e8.6d02d",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Hole Temperatur",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "plug.temperature",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 500,
    "wires": [
      [
        "7470a5b5.aac98c"
      ]
    ]
  },
  {
    "id": "5c793d22.3597bc",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Hole Leistung",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "plug.power",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 560,
    "wires": [
      [
        "15bc570d.988619"
      ]
    ]
  },
  {
    "id": "f2f9ffdb.678ae8",
    "type": "comment",
    "z": "fe976b5a.539a18",
    "name": "Automatisch Schalten",
    "info": "",
    "x": 140,
    "y": 800,
    "wires": []
  },
  {
    "id": "272822ac.2cfbae",
    "type": "inject",
    "z": "fe976b5a.539a18",
    "name": "Alle 1m",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 100,
    "y": 920,
    "wires": [
      [
        "f6043311.722a38"
      ]
    ]
  },
  {
    "id": "22c7900b.0b7d9",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Schalte aus",
    "rules": [
      {
        "t": "set",
        "p": "plug.isSwitchedOn",
        "pt": "flow",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "526f6a69.5b4b04",
    "type": "complete",
    "z": "fe976b5a.539a18",
    "name": "Warte auf Schaltung",
    "scope": [
      "c919cbb9.c0ebb8",
      "22c7900b.0b7d9",
      "2e0081fa.7533ce"
    ],
    "uncaught": false,
    "x": 130,
    "y": 180,
    "wires": [
      [
        "38015163.ecb826"
      ]
    ]
  },
  {
    "id": "d4fff2ae.780d18",
    "type": "complete",
    "z": "fe976b5a.539a18",
    "name": "Warte auf Status",
    "scope": [
      "e50e4f5a.557f1"
    ],
    "uncaught": false,
    "x": 120,
    "y": 440,
    "wires": [
      [
        "419b0400.459474"
      ]
    ]
  },
  {
    "id": "35185c31.eb5fa4",
    "type": "complete",
    "z": "fe976b5a.539a18",
    "name": "Warte auf Temperatur",
    "scope": [
      "b52b894a.6d5ca"
    ],
    "uncaught": false,
    "x": 140,
    "y": 500,
    "wires": [
      [
        "9d3b72e8.6d02d"
      ]
    ]
  },
  {
    "id": "77cb74e2.c1a47c",
    "type": "complete",
    "z": "fe976b5a.539a18",
    "name": "Warte auf Leistung",
    "scope": [
      "ebd86b51.f17a28"
    ],
    "uncaught": false,
    "x": 130,
    "y": 560,
    "wires": [
      [
        "5c793d22.3597bc"
      ]
    ]
  },
  {
    "id": "1bf3ad3b.aa3e8b",
    "type": "complete",
    "z": "fe976b5a.539a18",
    "name": "Warte auf Schaltzustand",
    "scope": [
      "6175ab12.f4eb64"
    ],
    "uncaught": false,
    "x": 150,
    "y": 620,
    "wires": [
      [
        "ed7db42a.a87838"
      ]
    ]
  },
  {
    "id": "f6043311.722a38",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Hole Daten",
    "rules": [
      {
        "t": "set",
        "p": "power",
        "pt": "msg",
        "to": "plug.power",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "isSwitchedOn",
        "pt": "msg",
        "to": "plug.isSwitchedOn",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 920,
    "wires": [
      [
        "1ce3ada3.bff0ba"
      ]
    ]
  },
  {
    "id": "67bb45dc.88a06c",
    "type": "ui_template",
    "z": "fe976b5a.539a18",
    "group": "2f3f5aef.3d20ee",
    "name": "Zeige Steckdosen-Icon",
    "order": 1,
    "width": "1",
    "height": "3",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        power\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 620,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "e9b658ad.c8aa9",
    "type": "inject",
    "z": "fe976b5a.539a18",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 380,
    "wires": [
      [
        "67bb45dc.88a06c"
      ]
    ]
  },
  {
    "id": "c315c2e3.7df998",
    "type": "subflow:dd43bdd9.895da8",
    "z": "fe976b5a.539a18",
    "name": "",
    "env": [
      {
        "name": "ain",
        "value": "116570338822",
        "type": "str"
      }
    ],
    "x": 650,
    "y": 180,
    "wires": [
      [
        "e50e4f5a.557f1"
      ],
      [
        "ebd86b51.f17a28"
      ],
      [
        "b52b894a.6d5ca"
      ],
      [
        "6175ab12.f4eb64"
      ]
    ]
  },
  {
    "id": "1ce3ada3.bff0ba",
    "type": "subflow:93de0e1e.72cac8",
    "z": "fe976b5a.539a18",
    "name": "Warte auf < 5W",
    "env": [
      {
        "name": "threshold",
        "value": "5",
        "type": "num"
      }
    ],
    "x": 580,
    "y": 920,
    "wires": [
      [
        "22c7900b.0b7d9"
      ]
    ]
  },
  {
    "id": "c5f9927a.a60288",
    "type": "inject",
    "z": "fe976b5a.539a18",
    "name": "Beim Start",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 700,
    "wires": [
      [
        "bd307592.b9272"
      ]
    ]
  },
  {
    "id": "6c8f90fa.0cc15",
    "type": "inject",
    "z": "fe976b5a.539a18",
    "d": true,
    "name": "Täglich, 23 Uhr",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "00 23 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 130,
    "y": 960,
    "wires": [
      [
        "22c7900b.0b7d9"
      ]
    ]
  },
  {
    "id": "2e0081fa.7533ce",
    "type": "change",
    "z": "fe976b5a.539a18",
    "name": "Schalte ein",
    "rules": [
      {
        "t": "set",
        "p": "plug.isSwitchedOn",
        "pt": "flow",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "7439c90c.ff99b",
    "type": "subflow:165c0739.3fd931",
    "z": "fe976b5a.539a18",
    "d": true,
    "name": "Warte auf Sonnenuntergang",
    "env": [
      {
        "name": "sunEvent",
        "value": "sunsetStart",
        "type": "str"
      }
    ],
    "x": 160,
    "y": 860,
    "wires": [
      [
        "2e0081fa.7533ce"
      ]
    ]
  },
  {
    "id": "bd307592.b9272",
    "type": "ui_button",
    "z": "fe976b5a.539a18",
    "name": "Interaktion Automatisierungsinfo",
    "group": "2f3f5aef.3d20ee",
    "order": 5,
    "width": "1",
    "height": "1",
    "passthru": false,
    "label": "",
    "tooltip": "",
    "color": "",
    "bgcolor": "transparent",
    "className": "",
    "icon": "info",
    "payload": "Schaltet sich automatisch ab.",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 650,
    "y": 700,
    "wires": [
      [
        "ed88101b.8648d8"
      ]
    ]
  },
  {
    "id": "ed88101b.8648d8",
    "type": "ui_toast",
    "z": "fe976b5a.539a18",
    "position": "bottom right",
    "displayTime": "5",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Balkon: Steckdose",
    "name": "Zeige Benachrichtigung",
    "x": 930,
    "y": 700,
    "wires": []
  }
]