flows/TS_AZ.json
[
  {
    "id": "2af9de26.90ad8a",
    "type": "tab",
    "label": "TS_AZ",
    "disabled": true,
    "info": ""
  },
  {
    "id": "36c64fb2.80583",
    "type": "comment",
    "z": "2af9de26.90ad8a",
    "name": "Temperatur-Sensor -> Arbeitszimmer",
    "info": "",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "f277d764.636a5",
    "type": "comment",
    "z": "2af9de26.90ad8a",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "9a83e9b9.7228e8",
    "type": "zigbee2mqtt-in",
    "z": "2af9de26.90ad8a",
    "name": "Warte auf Sensor-Daten",
    "server": "dd3cc3c3.66f0c8",
    "friendly_name": "study/doors/room/temperature",
    "device_id": "0x00158d00053f19c5",
    "state": "0",
    "outputAtStartup": true,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "a74026f8.f31"
      ]
    ]
  },
  {
    "id": "a74026f8.f31",
    "type": "subflow:bd326ce6.854e58",
    "z": "2af9de26.90ad8a",
    "name": "Verstehe Sensor-Daten",
    "env": [
      {
        "name": "topicPrefix",
        "value": "study/sensor1",
        "type": "str"
      }
    ],
    "x": 450,
    "y": 260,
    "wires": [
      [
        "ea037396.16c268"
      ],
      [
        "5c3c620e.7e4e14"
      ],
      [
        "cce236b9.a74c2"
      ],
      [],
      [
        "ff688648.149a68"
      ]
    ]
  },
  {
    "id": "ea037396.16c268",
    "type": "link out",
    "z": "2af9de26.90ad8a",
    "name": "Teile Batterie-%",
    "links": [],
    "x": 680,
    "y": 180,
    "wires": [],
    "l": true
  },
  {
    "id": "cce236b9.a74c2",
    "type": "link out",
    "z": "2af9de26.90ad8a",
    "name": "Teile LQI",
    "links": [],
    "x": 660,
    "y": 260,
    "wires": [],
    "l": true
  },
  {
    "id": "ff688648.149a68",
    "type": "link out",
    "z": "2af9de26.90ad8a",
    "name": "Teile Temperatur",
    "links": [],
    "x": 680,
    "y": 340,
    "wires": [],
    "l": true
  },
  {
    "id": "258f75b4.786182",
    "type": "comment",
    "z": "2af9de26.90ad8a",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 420,
    "wires": []
  },
  {
    "id": "49b8071.0c6e2f8",
    "type": "complete",
    "z": "2af9de26.90ad8a",
    "name": "Warte auf Batterie-%",
    "scope": [
      "ea037396.16c268"
    ],
    "uncaught": false,
    "x": 130,
    "y": 540,
    "wires": [
      [
        "e23cc07d.c20cf8"
      ]
    ]
  },
  {
    "id": "34d47a58.f6db9e",
    "type": "complete",
    "z": "2af9de26.90ad8a",
    "name": "Warte auf LQI",
    "scope": [
      "cce236b9.a74c2"
    ],
    "uncaught": false,
    "x": 110,
    "y": 600,
    "wires": [
      [
        "3e271307.86e5c4"
      ]
    ]
  },
  {
    "id": "b8c7d656.a62f9",
    "type": "complete",
    "z": "2af9de26.90ad8a",
    "name": "Warte auf Temperatur",
    "scope": [
      "ff688648.149a68"
    ],
    "uncaught": false,
    "x": 140,
    "y": 760,
    "wires": [
      [
        "69089cd5.06d43c",
        "aa811e5e.9955e"
      ]
    ]
  },
  {
    "id": "3e271307.86e5c4",
    "type": "ui_text",
    "z": "2af9de26.90ad8a",
    "group": "8c9b25f5.1db3b8",
    "order": 3,
    "width": "1",
    "height": 1,
    "name": "Zeige LQI",
    "label": "<i class=\"material-icons\">sync</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 520,
    "y": 600,
    "wires": []
  },
  {
    "id": "e23cc07d.c20cf8",
    "type": "ui_text",
    "z": "2af9de26.90ad8a",
    "group": "8c9b25f5.1db3b8",
    "order": 2,
    "width": "2",
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 550,
    "y": 540,
    "wires": []
  },
  {
    "id": "aa811e5e.9955e",
    "type": "ui_chart",
    "z": "2af9de26.90ad8a",
    "name": "Zeige Temperatur-Aufzeichnung",
    "group": "8c9b25f5.1db3b8",
    "order": 5,
    "width": "5",
    "height": "5",
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "Warte auf Temperatur-Daten",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#d62728",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 590,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "d97caea0.6ca1f",
    "type": "ui_text",
    "z": "2af9de26.90ad8a",
    "group": "8c9b25f5.1db3b8",
    "order": 4,
    "width": "2",
    "height": "2",
    "name": "Zeige Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 550,
    "y": 800,
    "wires": []
  },
  {
    "id": "69089cd5.06d43c",
    "type": "unit-converter",
    "z": "2af9de26.90ad8a",
    "category": "temperature",
    "inputUnit": "C",
    "outputUnit": "C",
    "inputField": "payload",
    "outputField": "payload",
    "inputFieldType": "msg",
    "outputFieldType": "msg",
    "roundOutputField": true,
    "outputFieldDecimals": "1",
    "name": "Vereinfache",
    "x": 350,
    "y": 800,
    "wires": [
      [
        "d97caea0.6ca1f"
      ]
    ]
  },
  {
    "id": "7cb6f5f.edd2f0c",
    "type": "inject",
    "z": "2af9de26.90ad8a",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 480,
    "wires": [
      [
        "153bb9b6.db8c06"
      ]
    ]
  },
  {
    "id": "153bb9b6.db8c06",
    "type": "ui_template",
    "z": "2af9de26.90ad8a",
    "group": "8c9b25f5.1db3b8",
    "name": "Zeige Icon",
    "order": 1,
    "width": "1",
    "height": "2",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        router\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 530,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "a1d2669.bb8bf18",
    "type": "link in",
    "z": "2af9de26.90ad8a",
    "name": "Warte auf Replay-Start",
    "links": [
      "24e48711.9609f"
    ],
    "x": 55,
    "y": 340,
    "wires": [
      [
        "4033371b.2dd02"
      ]
    ]
  },
  {
    "id": "4033371b.2dd02",
    "type": "change",
    "z": "2af9de26.90ad8a",
    "name": "Setze Replay-Daten",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"battery\":100,\"humidity\":41.37,\"linkquality\":76,\"pressure\":1004,\"temperature\":20.34,\"voltage\":3125}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload_raw",
        "pt": "msg",
        "to": "{\"battery\":100,\"humidity\":41.37,\"linkquality\":76,\"pressure\":1004,\"temperature\":20.34,\"voltage\":3125}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "device",
        "pt": "msg",
        "to": "{\"dateCode\":\"20191205\",\"description\":\"Aqara temperature, humidity and pressure sensor\",\"friendly_name\":\"temperature/study\",\"hardwareVersion\":30,\"ieeeAddr\":\"0x00158d00053f19c5\",\"lastSeen\":1610988418052,\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"WSDCGQ11LM\",\"modelID\":\"lumi.weather\",\"networkAddress\":23202,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"type\":\"EndDevice\",\"vendor\":\"Xiaomi\",\"lastPayload\":{\"battery\":100,\"humidity\":41.37,\"linkquality\":76,\"pressure\":1004,\"temperature\":20.34,\"voltage\":3125},\"homekit\":{\"TemperatureSensor\":{\"CurrentTemperature\":20.34},\"HumiditySensor\":{\"CurrentRelativeHumidity\":41.37},\"Battery\":{\"BatteryLevel\":100,\"StatusLowBattery\":0}}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "group",
        "pt": "msg",
        "to": "null",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "homekit",
        "pt": "msg",
        "to": "{\"TemperatureSensor\":{\"CurrentTemperature\":20.34},\"HumiditySensor\":{\"CurrentRelativeHumidity\":41.37},\"Battery\":{\"BatteryLevel\":100,\"StatusLowBattery\":0}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 340,
    "wires": [
      [
        "a74026f8.f31"
      ]
    ]
  },
  {
    "id": "5c3c620e.7e4e14",
    "type": "link out",
    "z": "2af9de26.90ad8a",
    "name": "Teile Luftfeuchte",
    "links": [],
    "x": 680,
    "y": 220,
    "wires": [],
    "l": true
  },
  {
    "id": "ca00ae1e.0c91b",
    "type": "complete",
    "z": "2af9de26.90ad8a",
    "name": "Warte auf Luftfeuchte",
    "scope": [
      "5c3c620e.7e4e14"
    ],
    "uncaught": false,
    "x": 140,
    "y": 660,
    "wires": [
      [
        "e23cdf88.947a88",
        "22488d1.7ec89f2"
      ]
    ]
  },
  {
    "id": "6d47fe9c.3e7168",
    "type": "ui_text",
    "z": "2af9de26.90ad8a",
    "group": "8c9b25f5.1db3b8",
    "order": 4,
    "width": "2",
    "height": "1",
    "name": "Zeige Luftfeuchte",
    "label": "<i class=\"material-icons\">invert_colors</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "x": 550,
    "y": 700,
    "wires": []
  },
  {
    "id": "e23cdf88.947a88",
    "type": "range",
    "z": "2af9de26.90ad8a",
    "minin": "0",
    "maxin": "100",
    "minout": "0",
    "maxout": "100",
    "action": "scale",
    "round": true,
    "property": "payload",
    "name": "Vereinfache",
    "x": 350,
    "y": 700,
    "wires": [
      [
        "6d47fe9c.3e7168"
      ]
    ]
  },
  {
    "id": "22488d1.7ec89f2",
    "type": "ui_chart",
    "z": "2af9de26.90ad8a",
    "name": "Zeige Luftfeuchte-Aufzeichnung",
    "group": "8c9b25f5.1db3b8",
    "order": 5,
    "width": "5",
    "height": "5",
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "Warte auf Luftfeuchte-Daten",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#aec7e8",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 590,
    "y": 660,
    "wires": [
      []
    ]
  }
]