flows/TS_F1.json
[
  {
    "id": "2fc0c3d0ea12284d",
    "type": "tab",
    "label": "TS_F1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "19a16506a81084e8",
    "type": "comment",
    "z": "2fc0c3d0ea12284d",
    "name": "Temperatur-Sensor ➡ Flur 1",
    "info": "",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "f9295ec702d0a8fb",
    "type": "comment",
    "z": "2fc0c3d0ea12284d",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "900907046cd18a03",
    "type": "zigbee2mqtt-in",
    "z": "2fc0c3d0ea12284d",
    "name": "Warte auf Sensor-Daten",
    "server": "dd3cc3c3.66f0c8",
    "friendly_name": "temperature/living-kitchenArea",
    "device_id": "0x00158d00066924f4",
    "state": "0",
    "outputAtStartup": true,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "d7b2726faf6d3d8d"
      ]
    ]
  },
  {
    "id": "d7b2726faf6d3d8d",
    "type": "subflow:bd326ce6.854e58",
    "z": "2fc0c3d0ea12284d",
    "name": "Verstehe Sensor-Daten",
    "env": [
      {
        "name": "topicPrefix",
        "value": "hallway1/sensor1",
        "type": "str"
      }
    ],
    "x": 450,
    "y": 260,
    "wires": [
      [
        "96e58582328f77a4"
      ],
      [
        "eb2789608770eeec"
      ],
      [
        "9bc678a121c1d3ac"
      ],
      [],
      [
        "335abd3021d10125"
      ]
    ]
  },
  {
    "id": "96e58582328f77a4",
    "type": "link out",
    "z": "2fc0c3d0ea12284d",
    "name": "Teile Batterie-%",
    "mode": "link",
    "links": [],
    "x": 680,
    "y": 180,
    "wires": [],
    "l": true
  },
  {
    "id": "9bc678a121c1d3ac",
    "type": "link out",
    "z": "2fc0c3d0ea12284d",
    "name": "Teile LQI",
    "links": [],
    "x": 660,
    "y": 260,
    "wires": [],
    "l": true
  },
  {
    "id": "335abd3021d10125",
    "type": "link out",
    "z": "2fc0c3d0ea12284d",
    "name": "Teile Temperatur",
    "links": [],
    "x": 680,
    "y": 340,
    "wires": [],
    "l": true
  },
  {
    "id": "b2c8a208dea76c5f",
    "type": "comment",
    "z": "2fc0c3d0ea12284d",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 420,
    "wires": []
  },
  {
    "id": "c506bec33690da84",
    "type": "complete",
    "z": "2fc0c3d0ea12284d",
    "name": "Warte auf Batterie-%",
    "scope": [
      "96e58582328f77a4"
    ],
    "uncaught": false,
    "x": 130,
    "y": 540,
    "wires": [
      [
        "6e3cdcebf5437864"
      ]
    ]
  },
  {
    "id": "f6f4d281f828c4bc",
    "type": "complete",
    "z": "2fc0c3d0ea12284d",
    "name": "Warte auf LQI",
    "scope": [
      "9bc678a121c1d3ac"
    ],
    "uncaught": false,
    "x": 110,
    "y": 600,
    "wires": [
      [
        "f95fea7754f86777"
      ]
    ]
  },
  {
    "id": "820345134d21bc4c",
    "type": "complete",
    "z": "2fc0c3d0ea12284d",
    "name": "Warte auf Temperatur",
    "scope": [
      "335abd3021d10125"
    ],
    "uncaught": false,
    "x": 140,
    "y": 760,
    "wires": [
      [
        "7f87ea37914022c2",
        "ebfa29b734faa4f3"
      ]
    ]
  },
  {
    "id": "f95fea7754f86777",
    "type": "ui_text",
    "z": "2fc0c3d0ea12284d",
    "group": "a155e4e96c182e3f",
    "order": 3,
    "width": "1",
    "height": 1,
    "name": "Zeige LQI",
    "label": "<i class=\"material-icons\">sync</i>",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "className": "",
    "x": 520,
    "y": 600,
    "wires": []
  },
  {
    "id": "6e3cdcebf5437864",
    "type": "ui_text",
    "z": "2fc0c3d0ea12284d",
    "group": "a155e4e96c182e3f",
    "order": 2,
    "width": "2",
    "height": 1,
    "name": "Zeige Batterie-%",
    "label": "<i class=\"material-icons\">battery_unknown</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "className": "",
    "x": 550,
    "y": 540,
    "wires": []
  },
  {
    "id": "ebfa29b734faa4f3",
    "type": "ui_chart",
    "z": "2fc0c3d0ea12284d",
    "name": "Zeige Temperatur-Aufzeichnung",
    "group": "a155e4e96c182e3f",
    "order": 5,
    "width": "5",
    "height": "5",
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "Warte auf Temperatur-Daten",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#d62728",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 590,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "be3122a4c16a4138",
    "type": "ui_text",
    "z": "2fc0c3d0ea12284d",
    "group": "a155e4e96c182e3f",
    "order": 4,
    "width": "2",
    "height": "2",
    "name": "Zeige Temperatur",
    "label": "<i class=\"material-icons\">ac_unit</i>",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "className": "",
    "x": 550,
    "y": 800,
    "wires": []
  },
  {
    "id": "7f87ea37914022c2",
    "type": "unit-converter",
    "z": "2fc0c3d0ea12284d",
    "category": "temperature",
    "inputUnit": "C",
    "outputUnit": "C",
    "inputField": "payload",
    "outputField": "payload",
    "inputFieldType": "msg",
    "outputFieldType": "msg",
    "roundOutputField": true,
    "outputFieldDecimals": "1",
    "name": "Vereinfache",
    "x": 350,
    "y": 800,
    "wires": [
      [
        "be3122a4c16a4138"
      ]
    ]
  },
  {
    "id": "70f0b62954602ccc",
    "type": "inject",
    "z": "2fc0c3d0ea12284d",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 480,
    "wires": [
      [
        "18a5c7488cabf3bb"
      ]
    ]
  },
  {
    "id": "18a5c7488cabf3bb",
    "type": "ui_template",
    "z": "2fc0c3d0ea12284d",
    "group": "a155e4e96c182e3f",
    "name": "Zeige Icon",
    "order": 1,
    "width": "1",
    "height": "2",
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        router\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 530,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "1cb3ddbc8e59cb5d",
    "type": "link in",
    "z": "2fc0c3d0ea12284d",
    "name": "Warte auf Replay-Start",
    "links": [
      "24e48711.9609f"
    ],
    "x": 55,
    "y": 340,
    "wires": [
      [
        "e5f9fd903926fda6"
      ]
    ]
  },
  {
    "id": "e5f9fd903926fda6",
    "type": "change",
    "z": "2fc0c3d0ea12284d",
    "name": "Setze Replay-Daten",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"battery\":100,\"humidity\":41.37,\"linkquality\":76,\"pressure\":1004,\"temperature\":20.34,\"voltage\":3125}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "payload_raw",
        "pt": "msg",
        "to": "{\"battery\":100,\"humidity\":41.37,\"linkquality\":76,\"pressure\":1004,\"temperature\":20.34,\"voltage\":3125}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "device",
        "pt": "msg",
        "to": "{\"dateCode\":\"20191205\",\"description\":\"Aqara temperature, humidity and pressure sensor\",\"friendly_name\":\"temperature/hallway1\",\"hardwareVersion\":30,\"ieeeAddr\":\"0x00158d00066924f4\",\"lastSeen\":1610988418052,\"manufacturerID\":4151,\"manufacturerName\":\"LUMI\",\"model\":\"WSDCGQ11LM\",\"modelID\":\"lumi.weather\",\"networkAddress\":23202,\"powerSource\":\"Battery\",\"softwareBuildID\":\"3000-0001\",\"type\":\"EndDevice\",\"vendor\":\"Xiaomi\",\"lastPayload\":{\"battery\":100,\"humidity\":41.37,\"linkquality\":76,\"pressure\":1004,\"temperature\":20.34,\"voltage\":3125},\"homekit\":{\"TemperatureSensor\":{\"CurrentTemperature\":20.34},\"HumiditySensor\":{\"CurrentRelativeHumidity\":41.37},\"Battery\":{\"BatteryLevel\":100,\"StatusLowBattery\":0}}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "group",
        "pt": "msg",
        "to": "null",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "homekit",
        "pt": "msg",
        "to": "{\"TemperatureSensor\":{\"CurrentTemperature\":20.34},\"HumiditySensor\":{\"CurrentRelativeHumidity\":41.37},\"Battery\":{\"BatteryLevel\":100,\"StatusLowBattery\":0}}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "format",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 200,
    "y": 340,
    "wires": [
      [
        "d7b2726faf6d3d8d"
      ]
    ]
  },
  {
    "id": "eb2789608770eeec",
    "type": "link out",
    "z": "2fc0c3d0ea12284d",
    "name": "Teile Luftfeuchte",
    "links": [],
    "x": 680,
    "y": 220,
    "wires": [],
    "l": true
  },
  {
    "id": "daf4bfcaa3dbcc93",
    "type": "complete",
    "z": "2fc0c3d0ea12284d",
    "name": "Warte auf Luftfeuchte",
    "scope": [
      "eb2789608770eeec"
    ],
    "uncaught": false,
    "x": 140,
    "y": 660,
    "wires": [
      [
        "c1d0fa6a7ee6476d",
        "811580847c1077b1"
      ]
    ]
  },
  {
    "id": "215d26b5186b1045",
    "type": "ui_text",
    "z": "2fc0c3d0ea12284d",
    "group": "a155e4e96c182e3f",
    "order": 4,
    "width": "2",
    "height": "1",
    "name": "Zeige Luftfeuchte",
    "label": "<i class=\"material-icons\">invert_colors</i>",
    "format": "{{msg.payload}}%",
    "layout": "row-center",
    "className": "",
    "x": 550,
    "y": 700,
    "wires": []
  },
  {
    "id": "c1d0fa6a7ee6476d",
    "type": "range",
    "z": "2fc0c3d0ea12284d",
    "minin": "0",
    "maxin": "100",
    "minout": "0",
    "maxout": "100",
    "action": "scale",
    "round": true,
    "property": "payload",
    "name": "Vereinfache",
    "x": 350,
    "y": 700,
    "wires": [
      [
        "215d26b5186b1045"
      ]
    ]
  },
  {
    "id": "811580847c1077b1",
    "type": "ui_chart",
    "z": "2fc0c3d0ea12284d",
    "name": "Zeige Luftfeuchte-Aufzeichnung",
    "group": "a155e4e96c182e3f",
    "order": 5,
    "width": "5",
    "height": "5",
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "Warte auf Luftfeuchte-Daten",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#aec7e8",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff",
      "#ff00ff"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 590,
    "y": 660,
    "wires": [
      []
    ]
  }
]