flows/WOL_Wohnkueche_PC.json
[
  {
    "id": "dc3a1fbe.64d09",
    "type": "tab",
    "label": "WOL_Wohnkueche_PC",
    "disabled": true,
    "info": ""
  },
  {
    "id": "2b17858a.caad8a",
    "type": "comment",
    "z": "dc3a1fbe.64d09",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 260,
    "wires": []
  },
  {
    "id": "b1edd75.f0ffe28",
    "type": "comment",
    "z": "dc3a1fbe.64d09",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "33e21f30.babae8",
    "type": "comment",
    "z": "dc3a1fbe.64d09",
    "name": "Wake On LAN -> Wohnküche -> PC",
    "info": "",
    "x": 160,
    "y": 40,
    "wires": []
  },
  {
    "id": "d19ead3b.65c918",
    "type": "inject",
    "z": "dc3a1fbe.64d09",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 380,
    "wires": [
      [
        "fb47e529.bd2118"
      ]
    ]
  },
  {
    "id": "fb47e529.bd2118",
    "type": "ui_button",
    "z": "dc3a1fbe.64d09",
    "name": "Interaktion WOL",
    "group": "4587520c.baf024",
    "order": 8,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "PC aufwecken",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 300,
    "y": 380,
    "wires": [
      [
        "f2cd9f9e.7987f8"
      ]
    ]
  },
  {
    "id": "963ce0c8.b81b28",
    "type": "wake on lan",
    "z": "dc3a1fbe.64d09",
    "mac": "",
    "host": "192.168.178.255",
    "udpport": "9",
    "name": "Wecke PC auf",
    "x": 760,
    "y": 380,
    "wires": []
  },
  {
    "id": "48378da8.8e44e4",
    "type": "inject",
    "z": "dc3a1fbe.64d09",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 320,
    "wires": [
      [
        "cc3d129f.0354d8"
      ]
    ]
  },
  {
    "id": "cc3d129f.0354d8",
    "type": "ui_template",
    "z": "dc3a1fbe.64d09",
    "group": "4587520c.baf024",
    "name": "Zeige Computer-Icon",
    "order": 10,
    "width": 2,
    "height": 2,
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        devices\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 320,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "59e4a161.095a1",
    "type": "inject",
    "z": "dc3a1fbe.64d09",
    "name": "Beim Start",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 110,
    "y": 180,
    "wires": [
      [
        "ddc4cd8e.5e8408"
      ]
    ]
  },
  {
    "id": "ddc4cd8e.5e8408",
    "type": "change",
    "z": "dc3a1fbe.64d09",
    "name": "Merke WOL-Daten",
    "rules": [
      {
        "t": "set",
        "p": "pc.macAddress",
        "pt": "flow",
        "to": "B4:2E:99:30:84:61",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "f2cd9f9e.7987f8",
    "type": "change",
    "z": "dc3a1fbe.64d09",
    "name": "Hole WOL-Daten",
    "rules": [
      {
        "t": "set",
        "p": "mac",
        "pt": "msg",
        "to": "pc.macAddress",
        "tot": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 380,
    "wires": [
      [
        "963ce0c8.b81b28"
      ]
    ]
  }
]