flows/world_env.json
[
  {
    "id": "311aacb9.34a24c",
    "type": "tab",
    "label": "world_env",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2122249c.3ea634",
    "type": "comment",
    "z": "311aacb9.34a24c",
    "name": "GUI",
    "info": "",
    "x": 90,
    "y": 400,
    "wires": []
  },
  {
    "id": "cd0b25c7.898b2",
    "type": "inject",
    "z": "311aacb9.34a24c",
    "name": "Alle 0,5s",
    "repeat": "0.5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "time",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 520,
    "wires": [
      [
        "4bcf86db.2c0d48"
      ]
    ]
  },
  {
    "id": "169a6858.ea146",
    "type": "ui_text",
    "z": "311aacb9.34a24c",
    "group": "22abfc75.b9b2e4",
    "order": 4,
    "width": 2,
    "height": 1,
    "name": "Zeige Uhrzeit",
    "label": "<i class=\"material-icons\">access_time</i>",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 590,
    "y": 520,
    "wires": []
  },
  {
    "id": "d5b3d67.c5c43a8",
    "type": "inject",
    "z": "311aacb9.34a24c",
    "name": "Alle 0,5s",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "v": "date",
        "vt": "string"
      }
    ],
    "repeat": "0.5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "date",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 460,
    "wires": [
      [
        "7e3c009f.89b93"
      ]
    ]
  },
  {
    "id": "8434d57a.d32188",
    "type": "ui_text",
    "z": "311aacb9.34a24c",
    "group": "22abfc75.b9b2e4",
    "order": 1,
    "width": 2,
    "height": 1,
    "name": "Zeige Datum",
    "label": "<i class=\"material-icons\">today</i>",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 590,
    "y": 460,
    "wires": []
  },
  {
    "id": "2117869e.9ae2c2",
    "type": "comment",
    "z": "311aacb9.34a24c",
    "name": "Daten",
    "info": "",
    "x": 90,
    "y": 120,
    "wires": []
  },
  {
    "id": "1ceb045.777147c",
    "type": "comment",
    "z": "311aacb9.34a24c",
    "name": "world environment",
    "info": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "7e3c009f.89b93",
    "type": "moment",
    "z": "311aacb9.34a24c",
    "name": "Formatiere Datum",
    "topic": "",
    "input": "payload",
    "inputType": "msg",
    "inTz": "ETC/UTC",
    "adjAmount": 0,
    "adjType": "days",
    "adjDir": "add",
    "format": "DD.MM.yyyy",
    "locale": "de-DE",
    "output": "payload",
    "outputType": "msg",
    "outTz": "Europe/Berlin",
    "x": 390,
    "y": 460,
    "wires": [
      [
        "8434d57a.d32188"
      ]
    ]
  },
  {
    "id": "4bcf86db.2c0d48",
    "type": "moment",
    "z": "311aacb9.34a24c",
    "name": "Formatiere Uhrzeit",
    "topic": "",
    "input": "payload",
    "inputType": "msg",
    "inTz": "ETC/UTC",
    "adjAmount": 0,
    "adjType": "days",
    "adjDir": "add",
    "format": "HH:mm:ss",
    "locale": "de-DE",
    "output": "payload",
    "outputType": "msg",
    "outTz": "Europe/Berlin",
    "x": 390,
    "y": 520,
    "wires": [
      [
        "169a6858.ea146"
      ]
    ]
  },
  {
    "id": "84ad8a55.b8b4e8",
    "type": "complete",
    "z": "311aacb9.34a24c",
    "name": "Warte auf Wetter-Symbol",
    "scope": [
      "33c1e3fb.d830fc"
    ],
    "uncaught": false,
    "x": 150,
    "y": 580,
    "wires": [
      [
        "b88fa3b6.5bce6"
      ]
    ]
  },
  {
    "id": "b88fa3b6.5bce6",
    "type": "ui_template",
    "z": "311aacb9.34a24c",
    "group": "22abfc75.b9b2e4",
    "name": "Zeige Wetter-Symbol",
    "order": 2,
    "width": 2,
    "height": 2,
    "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"wi wi-owm-{{msg.payload}}\" style=\"font-size: inherit;\">\n    </i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 620,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "a4e2b7a7.20b1f",
    "type": "complete",
    "z": "311aacb9.34a24c",
    "name": "Warte auf Temperatur",
    "scope": [
      "23b5997c.7af52e"
    ],
    "uncaught": false,
    "x": 140,
    "y": 640,
    "wires": [
      [
        "3a711f9a.a3d53"
      ]
    ]
  },
  {
    "id": "3a711f9a.a3d53",
    "type": "ui_text",
    "z": "311aacb9.34a24c",
    "group": "22abfc75.b9b2e4",
    "order": 3,
    "width": 2,
    "height": 1,
    "name": "Zeige Temperatur",
    "label": "",
    "format": "{{msg.payload}}°C",
    "layout": "row-center",
    "x": 610,
    "y": 640,
    "wires": []
  },
  {
    "id": "e3b548a6.c24dc8",
    "type": "subflow:1dd94cb5.93a4f3",
    "z": "311aacb9.34a24c",
    "name": "Warte auf aktuelles Wetter in HB",
    "env": [],
    "x": 170,
    "y": 220,
    "wires": [
      [
        "33c1e3fb.d830fc"
      ],
      [
        "23b5997c.7af52e"
      ],
      [
        "8db86d31.f1646"
      ],
      [
        "8db86d31.f1646"
      ]
    ]
  },
  {
    "id": "23b5997c.7af52e",
    "type": "link out",
    "z": "311aacb9.34a24c",
    "name": "Teile Temperatur",
    "links": [],
    "x": 600,
    "y": 200,
    "wires": [],
    "l": true
  },
  {
    "id": "33c1e3fb.d830fc",
    "type": "link out",
    "z": "311aacb9.34a24c",
    "name": "Teile Wetter-Symbol",
    "links": [],
    "x": 620,
    "y": 160,
    "wires": [],
    "l": true
  },
  {
    "id": "205a4c8.9696fb4",
    "type": "join",
    "z": "311aacb9.34a24c",
    "name": "merge",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 390,
    "y": 280,
    "wires": [
      [
        "a67ee620.f05998"
      ]
    ]
  },
  {
    "id": "cc1c77b4.9ccc1",
    "type": "link out",
    "z": "311aacb9.34a24c",
    "name": "Teile Wind-Daten",
    "links": [],
    "x": 610,
    "y": 320,
    "wires": [],
    "l": true
  },
  {
    "id": "d8e75c8b.6e9398",
    "type": "complete",
    "z": "311aacb9.34a24c",
    "name": "Warte auf Wind-Daten",
    "scope": [
      "cc1c77b4.9ccc1"
    ],
    "uncaught": false,
    "x": 140,
    "y": 700,
    "wires": [
      [
        "7209029f.9d377c"
      ]
    ]
  },
  {
    "id": "7209029f.9d377c",
    "type": "ui_text",
    "z": "311aacb9.34a24c",
    "group": "22abfc75.b9b2e4",
    "order": 5,
    "width": 2,
    "height": 1,
    "name": "Zeige Wind-Daten",
    "label": "<i class=\"wi wi-direction wi-rotate-{{msg.payload.direction}}\" />",
    "format": "{{msg.payload.speed}} km/h",
    "layout": "row-center",
    "x": 610,
    "y": 700,
    "wires": []
  },
  {
    "id": "8db86d31.f1646",
    "type": "change",
    "z": "311aacb9.34a24c",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "$substringAfter(topic, 'weather/current/wind/')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 240,
    "wires": [
      [
        "205a4c8.9696fb4"
      ]
    ]
  },
  {
    "id": "a67ee620.f05998",
    "type": "change",
    "z": "311aacb9.34a24c",
    "name": "Bereite vor",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "weather/current/wind",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 320,
    "wires": [
      [
        "cc1c77b4.9ccc1"
      ]
    ]
  }
]