lib/flows/contact-sensor.json
[
    {
        "id": "6f97fcb2.a1b9b4",
        "type": "tab",
        "label": "KS -TODO-",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd171166.c3478",
        "type": "comment",
        "z": "6f97fcb2.a1b9b4",
        "name": "Kontakt-Sensor -> -TODO-",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "15ebdca2.d009bb",
        "type": "comment",
        "z": "6f97fcb2.a1b9b4",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ed0fd50.6d83f",
        "type": "change",
        "z": "6f97fcb2.a1b9b4",
        "name": "Merke Batterie-%",
        "rules": [
            {
                "t": "set",
                "p": "contact.batteryPercentage",
                "pt": "flow",
                "to": "payload.battery",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "22ce0eb1.1f3462",
        "type": "change",
        "z": "6f97fcb2.a1b9b4",
        "name": "Merke LQI",
        "rules": [
            {
                "t": "set",
                "p": "contact.lqi",
                "pt": "flow",
                "to": "payload.linkquality",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2f723795.00e928",
        "type": "change",
        "z": "6f97fcb2.a1b9b4",
        "name": "Merke Zustand",
        "rules": [
            {
                "t": "set",
                "p": "contact.isClosed",
                "pt": "flow",
                "to": "payload.contact",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "5fd892f7.d7fc5c"
            ]
        ]
    },
    {
        "id": "b81b8889.6e6db8",
        "type": "comment",
        "z": "6f97fcb2.a1b9b4",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 380,
        "wires": []
    },
    {
        "id": "7347c101.f36e2",
        "type": "complete",
        "z": "6f97fcb2.a1b9b4",
        "name": "Warte auf Batterie-%",
        "scope": [
            "9ed0fd50.6d83f"
        ],
        "uncaught": false,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "b29a4f8e.7afa8"
            ]
        ]
    },
    {
        "id": "f31f10.9fd000f",
        "type": "complete",
        "z": "6f97fcb2.a1b9b4",
        "name": "Warte auf LQI",
        "scope": [
            "22ce0eb1.1f3462"
        ],
        "uncaught": false,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "5279ee54.9e00c8"
            ]
        ]
    },
    {
        "id": "46288254.54be3c",
        "type": "complete",
        "z": "6f97fcb2.a1b9b4",
        "name": "Warte auf Zustand",
        "scope": [
            "2f723795.00e928"
        ],
        "uncaught": false,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "4087384b.fe30c8"
            ]
        ]
    },
    {
        "id": "b29a4f8e.7afa8",
        "type": "change",
        "z": "6f97fcb2.a1b9b4",
        "name": "Hole Batterie-%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.batteryPercentage",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "5083f860.e33f88"
            ]
        ]
    },
    {
        "id": "4087384b.fe30c8",
        "type": "change",
        "z": "6f97fcb2.a1b9b4",
        "name": "Hole Zustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.isClosed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "94c69e80.d19ae"
            ]
        ]
    },
    {
        "id": "5279ee54.9e00c8",
        "type": "change",
        "z": "6f97fcb2.a1b9b4",
        "name": "Hole LQI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.lqi",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "ffd4b3ce.3c9d9"
            ]
        ]
    },
    {
        "id": "5083f860.e33f88",
        "type": "ui_text",
        "z": "6f97fcb2.a1b9b4",
        "group": "aa64946a.b8cef",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Zeige Batterie-%",
        "label": "<i class=\"material-icons\">battery_unknown</i>",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "ffd4b3ce.3c9d9",
        "type": "ui_text",
        "z": "6f97fcb2.a1b9b4",
        "group": "aa64946a.b8cef",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige LQI",
        "label": "<i class=\"material-icons\">sync</i>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "94c69e80.d19ae",
        "type": "ui_text",
        "z": "6f97fcb2.a1b9b4",
        "group": "aa64946a.b8cef",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "Zeige Zustand",
        "label": "<i class=\"material-icons\">{{msg.payload ? 'compare_arrows' : 'swap_horiz'}}</i>",
        "format": "{{msg.payload ? 'Geschlossen' : 'Geöffnet'}}",
        "layout": "row-center",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "5fd892f7.d7fc5c",
        "type": "link out",
        "z": "6f97fcb2.a1b9b4",
        "name": "Teile Zustand",
        "links": [],
        "x": 515,
        "y": 300,
        "wires": []
    },
    {
        "id": "a29c5c33.23cba",
        "type": "zigbee2mqtt-in",
        "z": "6f97fcb2.a1b9b4",
        "name": "Warte auf Sensor-Daten",
        "server": "dd3cc3c3.66f0c8",
        "friendly_name": "",
        "device_id": null,
        "state": "",
        "outputAtStartup": true,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "9ed0fd50.6d83f",
                "22ce0eb1.1f3462",
                "2f723795.00e928"
            ]
        ]
    },
    {
        "id": "aa64946a.b8cef",
        "type": "ui_group",
        "z": "",
        "name": "-TODO-",
        "tab": "abb1b2ae.11d618",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dd3cc3c3.66f0c8",
        "type": "zigbee2mqtt-server",
        "z": "",
        "d": true,
        "name": "MQTT (prod)",
        "host": "my-smart-home-mqtt",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "abb1b2ae.11d618",
        "type": "ui_tab",
        "z": "",
        "name": "Sensoren",
        "icon": "router",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]