lib/flows/contact-sensor.json
[
    {
        "id": "fd16f0b.e2fc99",
        "type": "tab",
        "label": "KS -TODO-",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88814ad7.0de1e",
        "type": "comment",
        "z": "fd16f0b.e2fc99",
        "name": "Kontakt-Sensor -> -TODO-",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "e1a34451.df4288",
        "type": "comment",
        "z": "fd16f0b.e2fc99",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "2d5d8e5b.27d202",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Merke Batterie-%",
        "rules": [
            {
                "t": "set",
                "p": "contact.batteryPercentage",
                "pt": "flow",
                "to": "payload.battery",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "33db3b92.d91a74",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Merke LQI",
        "rules": [
            {
                "t": "set",
                "p": "contact.lqi",
                "pt": "flow",
                "to": "payload.linkquality",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e29f652c.d14be",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Merke \"Ist geschlossen?\"",
        "rules": [
            {
                "t": "set",
                "p": "contact.isClosed",
                "pt": "flow",
                "to": "payload.contact",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e5ef473b.1935c8",
        "type": "comment",
        "z": "fd16f0b.e2fc99",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "1c29f257.65a42e",
        "type": "complete",
        "z": "fd16f0b.e2fc99",
        "name": "Warte auf Batterie-%",
        "scope": [
            "2d5d8e5b.27d202"
        ],
        "uncaught": false,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "7d0e2358.59ac34"
            ]
        ]
    },
    {
        "id": "d620de1a.e54e68",
        "type": "complete",
        "z": "fd16f0b.e2fc99",
        "name": "Warte auf LQI",
        "scope": [
            "33db3b92.d91a74"
        ],
        "uncaught": false,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "a42af0c0.b3e7f8"
            ]
        ]
    },
    {
        "id": "6735fb79.8d3d94",
        "type": "complete",
        "z": "fd16f0b.e2fc99",
        "name": "Warte auf \"Ist geschlossen?\"",
        "scope": [
            "e29f652c.d14be"
        ],
        "uncaught": false,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "5465ceee.54ffa"
            ]
        ]
    },
    {
        "id": "7d0e2358.59ac34",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Hole Batterie-%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.batteryPercentage",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "c7355b40.012688"
            ]
        ]
    },
    {
        "id": "5465ceee.54ffa",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Hole \"Ist geschlossen?\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.isClosed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "da20704c.99e268"
            ]
        ]
    },
    {
        "id": "a42af0c0.b3e7f8",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Hole LQI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.lqi",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 600,
        "wires": [
            [
                "c0a7e908.3458"
            ]
        ]
    },
    {
        "id": "c7355b40.012688",
        "type": "ui_text",
        "z": "fd16f0b.e2fc99",
        "group": "aa64946a.b8cef",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Zeige Batterie-%",
        "label": "<i class=\"material-icons\">battery_unknown</i>",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "c0a7e908.3458",
        "type": "ui_text",
        "z": "fd16f0b.e2fc99",
        "group": "aa64946a.b8cef",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige LQI",
        "label": "<i class=\"material-icons\">sync</i>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 640,
        "y": 600,
        "wires": []
    },
    {
        "id": "da20704c.99e268",
        "type": "ui_text",
        "z": "fd16f0b.e2fc99",
        "group": "aa64946a.b8cef",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "Zeige \"Ist geschlossen?\"",
        "label": "<i class=\"material-icons\">{{msg.payload ? 'compare_arrows' : 'swap_horiz'}}</i>",
        "format": "{{msg.payload ? 'Geschlossen' : 'Geöffnet'}}",
        "layout": "row-center",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "a5587647.ee4fc8",
        "type": "link out",
        "z": "fd16f0b.e2fc99",
        "name": "Teile \"Ist geschlossen?\"",
        "links": [],
        "x": 690,
        "y": 400,
        "wires": [],
        "l": true
    },
    {
        "id": "e5549eab.59062",
        "type": "zigbee2mqtt-in",
        "z": "fd16f0b.e2fc99",
        "name": "Warte auf Sensor-Daten",
        "server": "dd3cc3c3.66f0c8",
        "friendly_name": "",
        "device_id": null,
        "state": "",
        "outputAtStartup": true,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "2d5d8e5b.27d202",
                "33db3b92.d91a74",
                "e29f652c.d14be"
            ]
        ]
    },
    {
        "id": "64a6ec5c.382034",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Bereinige Nachricht",
        "rules": [
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "format",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "group",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "homekit",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload_raw",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "cdd4444f.754af"
            ]
        ]
    },
    {
        "id": "f3eb0bfc.9ed678",
        "type": "complete",
        "z": "fd16f0b.e2fc99",
        "name": "Warte auf \"Ist geschlossen?\"",
        "scope": [
            "e29f652c.d14be"
        ],
        "uncaught": false,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "64a6ec5c.382034"
            ]
        ]
    },
    {
        "id": "cdd4444f.754af",
        "type": "change",
        "z": "fd16f0b.e2fc99",
        "name": "Hole \"Ist geschlossen?\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.isClosed",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "contact/isClosed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "a5587647.ee4fc8"
            ]
        ]
    },
    {
        "id": "aa64946a.b8cef",
        "type": "ui_group",
        "z": "",
        "name": "-TODO-",
        "tab": "abb1b2ae.11d618",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dd3cc3c3.66f0c8",
        "type": "zigbee2mqtt-server",
        "z": "",
        "d": true,
        "name": "MQTT (prod)",
        "host": "my-smart-home-mqtt",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "abb1b2ae.11d618",
        "type": "ui_tab",
        "z": "",
        "name": "Sensoren",
        "icon": "router",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]