lib/flows/contact-sensor.json
[
    {
        "id": "30dc13d9.aa64ec",
        "type": "tab",
        "label": "KS -TODO-",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ba0cc31.da957c",
        "type": "comment",
        "z": "30dc13d9.aa64ec",
        "name": "Kontakt-Sensor -> -TODO-",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "25e5b9e8.977526",
        "type": "comment",
        "z": "30dc13d9.aa64ec",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "d2d8c2be.5ea138",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Merke Batterie-%",
        "rules": [
            {
                "t": "set",
                "p": "contact.batteryPercentage",
                "pt": "flow",
                "to": "payload.battery",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a01b3d94.490ae8",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Merke LQI",
        "rules": [
            {
                "t": "set",
                "p": "contact.lqi",
                "pt": "flow",
                "to": "payload.linkquality",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "aa537b5e.65c7d",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Merke Zustand",
        "rules": [
            {
                "t": "set",
                "p": "contact.isClosed",
                "pt": "flow",
                "to": "payload.contact",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "501b578e.d4ac38",
        "type": "comment",
        "z": "30dc13d9.aa64ec",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "950734af.e4967",
        "type": "complete",
        "z": "30dc13d9.aa64ec",
        "name": "Warte auf Batterie-%",
        "scope": [
            "d2d8c2be.5ea138"
        ],
        "uncaught": false,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "2611e442.ba3d04"
            ]
        ]
    },
    {
        "id": "8985a5c4.0ee0a",
        "type": "complete",
        "z": "30dc13d9.aa64ec",
        "name": "Warte auf LQI",
        "scope": [
            "a01b3d94.490ae8"
        ],
        "uncaught": false,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "26cd7d74.a0969a"
            ]
        ]
    },
    {
        "id": "9bfb9707.a2b75",
        "type": "complete",
        "z": "30dc13d9.aa64ec",
        "name": "Warte auf Zustand",
        "scope": [
            "aa537b5e.65c7d"
        ],
        "uncaught": false,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "2cef0bbe.415c54"
            ]
        ]
    },
    {
        "id": "2611e442.ba3d04",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Hole Batterie-%",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.batteryPercentage",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "dad7664c.3c9778"
            ]
        ]
    },
    {
        "id": "2cef0bbe.415c54",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Hole Zustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.isClosed",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "eaf068d5.946db8"
            ]
        ]
    },
    {
        "id": "26cd7d74.a0969a",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Hole LQI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.lqi",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "f080d3cc.2f9b78"
            ]
        ]
    },
    {
        "id": "dad7664c.3c9778",
        "type": "ui_text",
        "z": "30dc13d9.aa64ec",
        "group": "aa64946a.b8cef",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "Zeige Batterie-%",
        "label": "<i class=\"material-icons\">battery_unknown</i>",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "f080d3cc.2f9b78",
        "type": "ui_text",
        "z": "30dc13d9.aa64ec",
        "group": "aa64946a.b8cef",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige LQI",
        "label": "<i class=\"material-icons\">sync</i>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "eaf068d5.946db8",
        "type": "ui_text",
        "z": "30dc13d9.aa64ec",
        "group": "aa64946a.b8cef",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "Zeige Zustand",
        "label": "<i class=\"material-icons\">{{msg.payload ? 'compare_arrows' : 'swap_horiz'}}</i>",
        "format": "{{msg.payload ? 'Geschlossen' : 'Geöffnet'}}",
        "layout": "row-center",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "11c1bce3.3edf23",
        "type": "link out",
        "z": "30dc13d9.aa64ec",
        "name": "Teile Zustand",
        "links": [],
        "x": 515,
        "y": 400,
        "wires": []
    },
    {
        "id": "7224f185.33ca08",
        "type": "zigbee2mqtt-in",
        "z": "30dc13d9.aa64ec",
        "name": "Warte auf Sensor-Daten",
        "server": "dd3cc3c3.66f0c8",
        "friendly_name": "",
        "device_id": null,
        "state": "",
        "outputAtStartup": true,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "d2d8c2be.5ea138",
                "a01b3d94.490ae8",
                "aa537b5e.65c7d"
            ]
        ]
    },
    {
        "id": "ed2108a9.eaca38",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Bereinige Nachricht",
        "rules": [
            {
                "t": "delete",
                "p": "device",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "format",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "group",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "homekit",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload_raw",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "a58af95c.4b6c48"
            ]
        ]
    },
    {
        "id": "19cf01ea.4e9706",
        "type": "complete",
        "z": "30dc13d9.aa64ec",
        "name": "Warte auf Zustand",
        "scope": [
            "aa537b5e.65c7d"
        ],
        "uncaught": false,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "ed2108a9.eaca38"
            ]
        ]
    },
    {
        "id": "a58af95c.4b6c48",
        "type": "change",
        "z": "30dc13d9.aa64ec",
        "name": "Hole Zustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "contact.isClosed",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "contact/isClosed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "11c1bce3.3edf23"
            ]
        ]
    },
    {
        "id": "aa64946a.b8cef",
        "type": "ui_group",
        "z": "",
        "name": "-TODO-",
        "tab": "abb1b2ae.11d618",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dd3cc3c3.66f0c8",
        "type": "zigbee2mqtt-server",
        "z": "",
        "d": true,
        "name": "MQTT (prod)",
        "host": "my-smart-home-mqtt",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "abb1b2ae.11d618",
        "type": "ui_tab",
        "z": "",
        "name": "Sensoren",
        "icon": "router",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]