lib/flows/plug.json
[
    {
        "id": "93de0e1e.72cac8",
        "type": "subflow",
        "name": "Warte auf Standby-Überschreitung",
        "info": "# Steckdose: Warte auf Standby-Dauer-Überschreitung\n\n\n### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        msg.power\n        <span class=\"property-type\">number</span>\n    </dt>\n    <dd>\n        Aktuelle Leistung\n    </dd>\n    <dt>\n        msg.isSwitchedOn\n        <span class=\"property-type\">boolean</span>\n    </dt>\n    <dd>\n        Aktueller Schaltzustand\n    </dd>\n    <dt>\n        threshold\n        <span class=\"property-type\">number</span>\n    </dt>\n    <dd>\n        Leistungsschwelle\n    </dd>\n</dl>\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "35352233.f7b4e6"
                    },
                    {
                        "id": "fada851.83fedf8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 60,
                "wires": [
                    {
                        "id": "2845d6b7.f3151a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "threshold",
                "type": "num",
                "value": "1",
                "ui": {
                    "label": {
                        "en-US": "Leistungsschwelle"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99",
        "inputLabels": [
            "Leistung"
        ],
        "icon": "node-red-contrib-fritzapi/power.png"
    },
    {
        "id": "2845d6b7.f3151a",
        "type": "delay",
        "z": "93de0e1e.72cac8",
        "name": "30m Bedenkzeit",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "62aae94.46b3198",
        "type": "trigger",
        "z": "93de0e1e.72cac8",
        "name": "30m Cooldown",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "2845d6b7.f3151a"
            ]
        ]
    },
    {
        "id": "35352233.f7b4e6",
        "type": "switch",
        "z": "93de0e1e.72cac8",
        "name": "Ist unter Leistungsschwelle?",
        "property": "power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "threshold",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "62aae94.46b3198"
            ],
            [
                "56177727.e8e06"
            ]
        ],
        "outputLabels": [
            "Ja",
            "Nein"
        ]
    },
    {
        "id": "56177727.e8e06",
        "type": "change",
        "z": "93de0e1e.72cac8",
        "name": "Setze zurück",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "any value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "62aae94.46b3198",
                "2845d6b7.f3151a"
            ]
        ]
    },
    {
        "id": "fada851.83fedf8",
        "type": "switch",
        "z": "93de0e1e.72cac8",
        "name": "Ist ausgeschaltet?",
        "property": "isSwitchedOn",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "56177727.e8e06"
            ]
        ]
    },
    {
        "id": "273bf058.181fb8",
        "type": "subflow",
        "name": "Schalte",
        "info": "# Steckdose: Schalte\n\n\n### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        msg.ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n    <dt>\n        msg.isSwitchedOn\n        <span class=\"property-type\">boolean</span>\n    </dt>\n    <dd>\n        Gewünschter Schaltzustand\n    </dd>\n</dl>\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "7beeeabb.480ee4"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99",
        "icon": "node-red-contrib-fritzapi/power.png"
    },
    {
        "id": "7beeeabb.480ee4",
        "type": "rbe",
        "z": "273bf058.181fb8",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "9f2a32dc.d514c"
            ]
        ]
    },
    {
        "id": "9f2a32dc.d514c",
        "type": "trigger",
        "z": "273bf058.181fb8",
        "name": "11s Cooldown",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "11",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 420,
        "y": 40,
        "wires": [
            [
                "591169c3.a3f13"
            ]
        ]
    },
    {
        "id": "54a6b719.2b5df",
        "type": "fritz-outlet",
        "z": "273bf058.181fb8",
        "connection": "1f1ed453.c0771c",
        "name": "Schalte",
        "action": "setSwitchState",
        "x": 840,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "591169c3.a3f13",
        "type": "change",
        "z": "273bf058.181fb8",
        "name": "Bereite Schaltung vor",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "isSwitchedOn",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 40,
        "wires": [
            [
                "54a6b719.2b5df"
            ]
        ]
    },
    {
        "id": "dd43bdd9.895da8",
        "type": "subflow",
        "name": "Steckdosen-Logik",
        "info": "# Steckdose: Hole Daten\n\nHole relevante Daten von DECT-basierten smarten Steckdosen.\n\n\n### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        msg.ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n</dl>\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 500,
                "wires": [
                    {
                        "id": "1ecc29dc.a0fa56"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 120,
                "wires": [
                    {
                        "id": "bdfbdaaa.2dbad8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 220,
                "wires": [
                    {
                        "id": "194c5857.7c52c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 320,
                "wires": [
                    {
                        "id": "da56fa85.616c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 420,
                "wires": [
                    {
                        "id": "3ff68f8f.bc3f18",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ain",
                "type": "str",
                "value": "-TODO: AIN-",
                "ui": {
                    "label": {
                        "en-US": "AIN"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99",
        "outputLabels": [
            "Verbindungsstatus",
            "Leistung",
            "Temperatur",
            "Schaltzustand"
        ],
        "icon": "node-red-contrib-fritzapi/power.png"
    },
    {
        "id": "bdfbdaaa.2dbad8",
        "type": "fritz-outlet",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Verbindungsstatus",
        "action": "getSwitchPresence",
        "x": 1010,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "194c5857.7c52c",
        "type": "fritz-outlet",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Leistung",
        "action": "getSwitchPower",
        "x": 980,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "da56fa85.616c",
        "type": "fritz-thermostat",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Temperatur",
        "action": "getTemperature",
        "x": 990,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3ff68f8f.bc3f18",
        "type": "fritz-outlet",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Schaltzustand",
        "action": "getSwitchState",
        "x": 990,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a39e9c2c.88f5d8",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "bdfbdaaa.2dbad8"
            ]
        ]
    },
    {
        "id": "38747e5c.ff88d2",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "bdfbdaaa.2dbad8"
        ],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "4a10cb8b.c3d084"
            ]
        ]
    },
    {
        "id": "98473716.6521c",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 9s",
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "e8b9f57d.3a7348"
            ]
        ]
    },
    {
        "id": "4a10cb8b.c3d084",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "83d91e40.7eb368"
            ],
            []
        ]
    },
    {
        "id": "83d91e40.7eb368",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "a44654df.7305e"
            ]
        ]
    },
    {
        "id": "a44654df.7305e",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "e9ece031.e69c2"
            ],
            []
        ]
    },
    {
        "id": "e9ece031.e69c2",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "a39e9c2c.88f5d8"
            ],
            []
        ]
    },
    {
        "id": "5a61edc2.1e7964",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "194c5857.7c52c"
            ]
        ]
    },
    {
        "id": "8e0e8870.47c2b8",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "194c5857.7c52c"
        ],
        "x": 110,
        "y": 200,
        "wires": [
            [
                "2d04fd6e.91e7b2"
            ]
        ]
    },
    {
        "id": "448524ef.ccd204",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 13s",
        "repeat": "13",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "8ca81b7d.844be"
            ]
        ]
    },
    {
        "id": "2d04fd6e.91e7b2",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "53a5ac5c.d3944c"
            ],
            []
        ]
    },
    {
        "id": "53a5ac5c.d3944c",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "bb81ff9.4d4cc8"
            ]
        ]
    },
    {
        "id": "bb81ff9.4d4cc8",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "a0b06b76.87b038"
            ],
            []
        ]
    },
    {
        "id": "a0b06b76.87b038",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "5a61edc2.1e7964"
            ],
            []
        ]
    },
    {
        "id": "c852ee82.02cff",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "da56fa85.616c"
            ]
        ]
    },
    {
        "id": "b6c1ea0d.39f6d8",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "da56fa85.616c"
        ],
        "x": 110,
        "y": 300,
        "wires": [
            [
                "526535d4.8381cc"
            ]
        ]
    },
    {
        "id": "2e9aeae2.0dee76",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 13s",
        "repeat": "13",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "6ec3fef4.6cd94"
            ]
        ]
    },
    {
        "id": "526535d4.8381cc",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "9393e568.1b3ac"
            ],
            []
        ]
    },
    {
        "id": "9393e568.1b3ac",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "1dae0912.edc5bf"
            ]
        ]
    },
    {
        "id": "1dae0912.edc5bf",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "1b41a86e.a99f18"
            ],
            []
        ]
    },
    {
        "id": "1b41a86e.a99f18",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "c852ee82.02cff"
            ],
            []
        ]
    },
    {
        "id": "6895b03d.65855",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "3ff68f8f.bc3f18"
            ]
        ]
    },
    {
        "id": "671a489.9404b38",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "3ff68f8f.bc3f18"
        ],
        "x": 110,
        "y": 400,
        "wires": [
            [
                "6b8a0065.4c3b78"
            ]
        ]
    },
    {
        "id": "3c3a0bf3.12a894",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 9s",
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "20dfa7a7.8f8858"
            ]
        ]
    },
    {
        "id": "6b8a0065.4c3b78",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "194b82ad.07c895"
            ],
            []
        ]
    },
    {
        "id": "194b82ad.07c895",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "faed554e.b46c18"
            ]
        ]
    },
    {
        "id": "faed554e.b46c18",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "7806b0b7.c4f75"
            ],
            []
        ]
    },
    {
        "id": "7806b0b7.c4f75",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "6895b03d.65855"
            ],
            []
        ]
    },
    {
        "id": "e8b9f57d.3a7348",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "83d91e40.7eb368"
            ]
        ]
    },
    {
        "id": "8ca81b7d.844be",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "53a5ac5c.d3944c"
            ]
        ]
    },
    {
        "id": "6ec3fef4.6cd94",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "9393e568.1b3ac"
            ]
        ]
    },
    {
        "id": "20dfa7a7.8f8858",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "194b82ad.07c895"
            ]
        ]
    },
    {
        "id": "1ecc29dc.a0fa56",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "8ff9f284.25ac3"
            ]
        ]
    },
    {
        "id": "8ff9f284.25ac3",
        "type": "subflow:273bf058.181fb8",
        "z": "dd43bdd9.895da8",
        "name": "",
        "x": 340,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f1ed453.c0771c",
        "type": "fritz-api",
        "z": "",
        "name": "fritzapi (FRITZ!Box 7580)",
        "host": "http://fritz.box",
        "strictSSL": true
    },
    {
        "id": "61ee1d1e.6ae64c",
        "type": "tab",
        "label": "Stecker -TODO-",
        "disabled": false,
        "info": ""
    },
    {
        "id": "937efd63.57e57",
        "type": "comment",
        "z": "61ee1d1e.6ae64c",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 520,
        "wires": []
    },
    {
        "id": "ef3c5ee6.a1011",
        "type": "comment",
        "z": "61ee1d1e.6ae64c",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "cb093064.43a6b8",
        "type": "comment",
        "z": "61ee1d1e.6ae64c",
        "name": "Steckdosen -> -TODO-",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "69a004c2.621df4",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Merke Verbindungsstatus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isConnected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b177a35c.e71ff8",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Merke Leistung",
        "rules": [
            {
                "t": "set",
                "p": "plug.power",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e74ab44f.b09808",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Merke Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "plug.temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e72924.576d38",
        "type": "ui_template",
        "z": "61ee1d1e.6ae64c",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige Status",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 590,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "55044d85.fbe6d4",
        "type": "ui_text",
        "z": "61ee1d1e.6ae64c",
        "group": "22abfc75.b9b2e4",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige Temperatur",
        "label": "<i class=\"material-icons\">ac_unit</i>",
        "format": "{{msg.payload}}°C",
        "layout": "row-left",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "78a202ba.bf1374",
        "type": "ui_text",
        "z": "61ee1d1e.6ae64c",
        "group": "22abfc75.b9b2e4",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "Zeige Leistungsaufnahme",
        "label": "<i class=\"material-icons\">flash_on</i>",
        "format": "{{msg.payload}}W",
        "layout": "row-left",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "6eeef15c.ece74",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "d95d9c54.3a80e8"
            ]
        ]
    },
    {
        "id": "976150e7.bcb99",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Merke Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d95d9c54.3a80e8",
        "type": "ui_switch",
        "z": "61ee1d1e.6ae64c",
        "name": "Interaktion Schaltzustand",
        "label": "<i class=\"material-icons\">power_settings_new</i>",
        "tooltip": "",
        "group": "22abfc75.b9b2e4",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "100d537f.9e0fad"
            ]
        ]
    },
    {
        "id": "bc12bb44.3b685",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "isSwitchedOn",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "dbb56326.eb59d8"
            ]
        ]
    },
    {
        "id": "100d537f.9e0fad",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Schalte um",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "90e5ad9b.232ec",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Hole Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isConnected",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "a0e72924.576d38"
            ]
        ]
    },
    {
        "id": "c0a09004.c87138",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Hole Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.temperature",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "55044d85.fbe6d4"
            ]
        ]
    },
    {
        "id": "e752496f.b374d",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Hole Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.power",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 760,
        "wires": [
            [
                "78a202ba.bf1374"
            ]
        ]
    },
    {
        "id": "27e5b240.1ad616",
        "type": "comment",
        "z": "61ee1d1e.6ae64c",
        "name": "Automatisch Schalten",
        "info": "",
        "x": 140,
        "y": 380,
        "wires": []
    },
    {
        "id": "f97d0d90.cc417",
        "type": "inject",
        "z": "61ee1d1e.6ae64c",
        "name": "Alle 1m",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "7c0d38d1.882bc8"
            ]
        ]
    },
    {
        "id": "b374e341.2a9cf8",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Schalte aus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7483505c.dcffa8",
        "type": "complete",
        "z": "61ee1d1e.6ae64c",
        "name": "Warte auf Schaltung",
        "scope": [
            "100d537f.9e0fad",
            "b374e341.2a9cf8"
        ],
        "uncaught": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "bc12bb44.3b685"
            ]
        ]
    },
    {
        "id": "21f753eb.56acd4",
        "type": "complete",
        "z": "61ee1d1e.6ae64c",
        "name": "Warte auf Status",
        "scope": [
            "69a004c2.621df4"
        ],
        "uncaught": false,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "90e5ad9b.232ec"
            ]
        ]
    },
    {
        "id": "42705d10.4c2cd4",
        "type": "complete",
        "z": "61ee1d1e.6ae64c",
        "name": "Warte auf Temperatur",
        "scope": [
            "e74ab44f.b09808"
        ],
        "uncaught": false,
        "x": 140,
        "y": 700,
        "wires": [
            [
                "c0a09004.c87138"
            ]
        ]
    },
    {
        "id": "2efae16b.81cf6e",
        "type": "complete",
        "z": "61ee1d1e.6ae64c",
        "name": "Warte auf Leistung",
        "scope": [
            "b177a35c.e71ff8"
        ],
        "uncaught": false,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "e752496f.b374d"
            ]
        ]
    },
    {
        "id": "75fdda66.24afd4",
        "type": "complete",
        "z": "61ee1d1e.6ae64c",
        "name": "Warte auf Schaltzustand",
        "scope": [
            "976150e7.bcb99"
        ],
        "uncaught": false,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "6eeef15c.ece74"
            ]
        ]
    },
    {
        "id": "7c0d38d1.882bc8",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Hole Daten",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "msg",
                "to": "plug.power",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "isSwitchedOn",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "d1439cbf.9a83c"
            ]
        ]
    },
    {
        "id": "b6e40a1b.a678b",
        "type": "ui_template",
        "z": "61ee1d1e.6ae64c",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige Steckdosen-Icon",
        "order": 1,
        "width": 2,
        "height": 2,
        "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        power\n    </i>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 620,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "63d5da56.eab584",
        "type": "inject",
        "z": "61ee1d1e.6ae64c",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "b6e40a1b.a678b"
            ]
        ]
    },
    {
        "id": "9ca044cc.d18528",
        "type": "inject",
        "z": "61ee1d1e.6ae64c",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "446b3d2c.667b5c"
            ]
        ]
    },
    {
        "id": "446b3d2c.667b5c",
        "type": "ui_button",
        "z": "61ee1d1e.6ae64c",
        "name": "Interaktion WOL",
        "group": "22abfc75.b9b2e4",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "PC aufwecken",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 1000,
        "wires": [
            [
                "d0fff7f5.7042a"
            ]
        ]
    },
    {
        "id": "e932945.ace83e8",
        "type": "wake on lan",
        "z": "61ee1d1e.6ae64c",
        "mac": "",
        "host": "192.168.178.255",
        "udpport": "9",
        "name": "Wecke PC auf",
        "x": 760,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4fb06a6a.71173c",
        "type": "inject",
        "z": "61ee1d1e.6ae64c",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 940,
        "wires": [
            [
                "55b2da24.8dbb7c"
            ]
        ]
    },
    {
        "id": "55b2da24.8dbb7c",
        "type": "ui_template",
        "z": "61ee1d1e.6ae64c",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige Computer-Icon",
        "order": 9,
        "width": 2,
        "height": 2,
        "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        devices\n    </i>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 320,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "9e07b084.0a5728",
        "type": "inject",
        "z": "61ee1d1e.6ae64c",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "34ceabdc.d172c4"
            ]
        ]
    },
    {
        "id": "34ceabdc.d172c4",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Merke WOL-Daten -TODO-",
        "rules": [
            {
                "t": "set",
                "p": "pc.macAddress",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d0fff7f5.7042a",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Hole WOL-Daten",
        "rules": [
            {
                "t": "set",
                "p": "mac",
                "pt": "msg",
                "to": "pc.macAddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "e932945.ace83e8"
            ]
        ]
    },
    {
        "id": "dbb56326.eb59d8",
        "type": "subflow:dd43bdd9.895da8",
        "z": "61ee1d1e.6ae64c",
        "name": "-TODO-",
        "env": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "69a004c2.621df4"
            ],
            [
                "b177a35c.e71ff8"
            ],
            [
                "e74ab44f.b09808"
            ],
            [
                "976150e7.bcb99"
            ]
        ]
    },
    {
        "id": "d1439cbf.9a83c",
        "type": "subflow:93de0e1e.72cac8",
        "z": "61ee1d1e.6ae64c",
        "name": "Warte auf < 1W",
        "env": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "b374e341.2a9cf8"
            ]
        ]
    },
    {
        "id": "2f03d14d.449a56",
        "type": "inject",
        "z": "61ee1d1e.6ae64c",
        "name": "Beim Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "1f7ca667.f88872"
            ]
        ]
    },
    {
        "id": "e461a1cb.f2bb08",
        "type": "ui_text",
        "z": "61ee1d1e.6ae64c",
        "group": "22abfc75.b9b2e4",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Zeige Automatisierungsinfo",
        "label": "<i class=\"material-icons\">info</i>",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 640,
        "y": 880,
        "wires": []
    },
    {
        "id": "1f7ca667.f88872",
        "type": "change",
        "z": "61ee1d1e.6ae64c",
        "name": "Setze Nachricht",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Schaltet sich automatisch ab.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 880,
        "wires": [
            [
                "e461a1cb.f2bb08"
            ]
        ]
    },
    {
        "id": "22abfc75.b9b2e4",
        "type": "ui_group",
        "z": "",
        "name": "Hallo!",
        "tab": "14feb2a9.8277c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14feb2a9.8277c5",
        "type": "ui_tab",
        "z": "",
        "name": "Favoriten",
        "icon": "fa-star",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]