lib/flows/plug.json
[
    {
        "id": "93de0e1e.72cac8",
        "type": "subflow",
        "name": "Warte auf Standby-Überschreitung",
        "info": "# Steckdose: Warte auf Standby-Dauer-Überschreitung\n\n\n### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        msg.power\n        <span class=\"property-type\">number</span>\n    </dt>\n    <dd>\n        Aktuelle Leistung\n    </dd>\n    <dt>\n        msg.isSwitchedOn\n        <span class=\"property-type\">boolean</span>\n    </dt>\n    <dd>\n        Aktueller Schaltzustand\n    </dd>\n    <dt>\n        threshold\n        <span class=\"property-type\">number</span>\n    </dt>\n    <dd>\n        Leistungsschwelle\n    </dd>\n</dl>\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "35352233.f7b4e6"
                    },
                    {
                        "id": "fada851.83fedf8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 60,
                "wires": [
                    {
                        "id": "2845d6b7.f3151a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "threshold",
                "type": "num",
                "value": "1",
                "ui": {
                    "label": {
                        "en-US": "Leistungsschwelle"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99",
        "inputLabels": [
            "Leistung"
        ],
        "icon": "node-red-contrib-fritzapi/power.png"
    },
    {
        "id": "2845d6b7.f3151a",
        "type": "delay",
        "z": "93de0e1e.72cac8",
        "name": "30m Bedenkzeit",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 860,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "62aae94.46b3198",
        "type": "trigger",
        "z": "93de0e1e.72cac8",
        "name": "30m Cooldown",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "30",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "2845d6b7.f3151a"
            ]
        ]
    },
    {
        "id": "35352233.f7b4e6",
        "type": "switch",
        "z": "93de0e1e.72cac8",
        "name": "Ist unter Leistungsschwelle?",
        "property": "power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "threshold",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "62aae94.46b3198"
            ],
            [
                "56177727.e8e06"
            ]
        ],
        "outputLabels": [
            "Ja",
            "Nein"
        ]
    },
    {
        "id": "56177727.e8e06",
        "type": "change",
        "z": "93de0e1e.72cac8",
        "name": "Setze zurück",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "any value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "62aae94.46b3198",
                "2845d6b7.f3151a"
            ]
        ]
    },
    {
        "id": "fada851.83fedf8",
        "type": "switch",
        "z": "93de0e1e.72cac8",
        "name": "Ist ausgeschaltet?",
        "property": "isSwitchedOn",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "56177727.e8e06"
            ]
        ]
    },
    {
        "id": "273bf058.181fb8",
        "type": "subflow",
        "name": "Schalte",
        "info": "# Steckdose: Schalte\n\n\n### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        msg.ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n    <dt>\n        msg.isSwitchedOn\n        <span class=\"property-type\">boolean</span>\n    </dt>\n    <dd>\n        Gewünschter Schaltzustand\n    </dd>\n</dl>\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "7beeeabb.480ee4"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99",
        "icon": "node-red-contrib-fritzapi/power.png"
    },
    {
        "id": "7beeeabb.480ee4",
        "type": "rbe",
        "z": "273bf058.181fb8",
        "name": "Nur bei Änderung",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "9f2a32dc.d514c"
            ]
        ]
    },
    {
        "id": "9f2a32dc.d514c",
        "type": "trigger",
        "z": "273bf058.181fb8",
        "name": "11s Cooldown",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "11",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 420,
        "y": 40,
        "wires": [
            [
                "591169c3.a3f13"
            ]
        ]
    },
    {
        "id": "54a6b719.2b5df",
        "type": "fritz-outlet",
        "z": "273bf058.181fb8",
        "connection": "1f1ed453.c0771c",
        "name": "Schalte",
        "action": "setSwitchState",
        "x": 840,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "591169c3.a3f13",
        "type": "change",
        "z": "273bf058.181fb8",
        "name": "Bereite Schaltung vor",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "isSwitchedOn",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 40,
        "wires": [
            [
                "54a6b719.2b5df"
            ]
        ]
    },
    {
        "id": "dd43bdd9.895da8",
        "type": "subflow",
        "name": "Steckdosen-Logik",
        "info": "# Steckdose: Hole Daten\n\nHole relevante Daten von DECT-basierten smarten Steckdosen.\n\n\n### Inputs\n\n<dl class=\"message-properties\">\n    <dt>\n        msg.ain\n        <span class=\"property-type\">string</span>\n    </dt>\n    <dd>\n        AIN\n    </dd>\n</dl>\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 500,
                "wires": [
                    {
                        "id": "1ecc29dc.a0fa56"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 120,
                "wires": [
                    {
                        "id": "bdfbdaaa.2dbad8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 220,
                "wires": [
                    {
                        "id": "194c5857.7c52c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 320,
                "wires": [
                    {
                        "id": "da56fa85.616c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 420,
                "wires": [
                    {
                        "id": "3ff68f8f.bc3f18",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ain",
                "type": "str",
                "value": "-TODO: AIN-",
                "ui": {
                    "label": {
                        "en-US": "AIN"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99",
        "outputLabels": [
            "Verbindungsstatus",
            "Leistung",
            "Temperatur",
            "Schaltzustand"
        ],
        "icon": "node-red-contrib-fritzapi/power.png"
    },
    {
        "id": "bdfbdaaa.2dbad8",
        "type": "fritz-outlet",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Verbindungsstatus",
        "action": "getSwitchPresence",
        "x": 1010,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "194c5857.7c52c",
        "type": "fritz-outlet",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Leistung",
        "action": "getSwitchPower",
        "x": 980,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "da56fa85.616c",
        "type": "fritz-thermostat",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Temperatur",
        "action": "getTemperature",
        "x": 990,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3ff68f8f.bc3f18",
        "type": "fritz-outlet",
        "z": "dd43bdd9.895da8",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Schaltzustand",
        "action": "getSwitchState",
        "x": 990,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a39e9c2c.88f5d8",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "bdfbdaaa.2dbad8"
            ]
        ]
    },
    {
        "id": "38747e5c.ff88d2",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "bdfbdaaa.2dbad8"
        ],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "4a10cb8b.c3d084"
            ]
        ]
    },
    {
        "id": "98473716.6521c",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 9s",
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "e8b9f57d.3a7348"
            ]
        ]
    },
    {
        "id": "4a10cb8b.c3d084",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "83d91e40.7eb368"
            ],
            []
        ]
    },
    {
        "id": "83d91e40.7eb368",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "a44654df.7305e"
            ]
        ]
    },
    {
        "id": "a44654df.7305e",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "e9ece031.e69c2"
            ],
            []
        ]
    },
    {
        "id": "e9ece031.e69c2",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "a39e9c2c.88f5d8"
            ],
            []
        ]
    },
    {
        "id": "5a61edc2.1e7964",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "194c5857.7c52c"
            ]
        ]
    },
    {
        "id": "8e0e8870.47c2b8",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "194c5857.7c52c"
        ],
        "x": 110,
        "y": 200,
        "wires": [
            [
                "2d04fd6e.91e7b2"
            ]
        ]
    },
    {
        "id": "448524ef.ccd204",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 13s",
        "repeat": "13",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "8ca81b7d.844be"
            ]
        ]
    },
    {
        "id": "2d04fd6e.91e7b2",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "53a5ac5c.d3944c"
            ],
            []
        ]
    },
    {
        "id": "53a5ac5c.d3944c",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "bb81ff9.4d4cc8"
            ]
        ]
    },
    {
        "id": "bb81ff9.4d4cc8",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "a0b06b76.87b038"
            ],
            []
        ]
    },
    {
        "id": "a0b06b76.87b038",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "5a61edc2.1e7964"
            ],
            []
        ]
    },
    {
        "id": "c852ee82.02cff",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "da56fa85.616c"
            ]
        ]
    },
    {
        "id": "b6c1ea0d.39f6d8",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "da56fa85.616c"
        ],
        "x": 110,
        "y": 300,
        "wires": [
            [
                "526535d4.8381cc"
            ]
        ]
    },
    {
        "id": "2e9aeae2.0dee76",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 13s",
        "repeat": "13",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "6ec3fef4.6cd94"
            ]
        ]
    },
    {
        "id": "526535d4.8381cc",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "9393e568.1b3ac"
            ],
            []
        ]
    },
    {
        "id": "9393e568.1b3ac",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "1dae0912.edc5bf"
            ]
        ]
    },
    {
        "id": "1dae0912.edc5bf",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "1b41a86e.a99f18"
            ],
            []
        ]
    },
    {
        "id": "1b41a86e.a99f18",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "c852ee82.02cff"
            ],
            []
        ]
    },
    {
        "id": "6895b03d.65855",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "3ff68f8f.bc3f18"
            ]
        ]
    },
    {
        "id": "671a489.9404b38",
        "type": "status",
        "z": "dd43bdd9.895da8",
        "name": "Status-Update",
        "scope": [
            "3ff68f8f.bc3f18"
        ],
        "x": 110,
        "y": 400,
        "wires": [
            [
                "6b8a0065.4c3b78"
            ]
        ]
    },
    {
        "id": "3c3a0bf3.12a894",
        "type": "inject",
        "z": "dd43bdd9.895da8",
        "name": "Alle 9s",
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "20dfa7a7.8f8858"
            ]
        ]
    },
    {
        "id": "6b8a0065.4c3b78",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "194b82ad.07c895"
            ],
            []
        ]
    },
    {
        "id": "194b82ad.07c895",
        "type": "join",
        "z": "dd43bdd9.895da8",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "faed554e.b46c18"
            ]
        ]
    },
    {
        "id": "faed554e.b46c18",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "7806b0b7.c4f75"
            ],
            []
        ]
    },
    {
        "id": "7806b0b7.c4f75",
        "type": "switch",
        "z": "dd43bdd9.895da8",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "6895b03d.65855"
            ],
            []
        ]
    },
    {
        "id": "e8b9f57d.3a7348",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "83d91e40.7eb368"
            ]
        ]
    },
    {
        "id": "8ca81b7d.844be",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "53a5ac5c.d3944c"
            ]
        ]
    },
    {
        "id": "6ec3fef4.6cd94",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "9393e568.1b3ac"
            ]
        ]
    },
    {
        "id": "20dfa7a7.8f8858",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "194b82ad.07c895"
            ]
        ]
    },
    {
        "id": "1ecc29dc.a0fa56",
        "type": "change",
        "z": "dd43bdd9.895da8",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 500,
        "wires": [
            [
                "8ff9f284.25ac3"
            ]
        ]
    },
    {
        "id": "8ff9f284.25ac3",
        "type": "subflow:273bf058.181fb8",
        "z": "dd43bdd9.895da8",
        "name": "",
        "x": 340,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f1ed453.c0771c",
        "type": "fritz-api",
        "z": "",
        "name": "fritzapi (FRITZ!Box 7580)",
        "host": "http://fritz.box",
        "strictSSL": true
    },
    {
        "id": "c7fb3900.c897a8",
        "type": "tab",
        "label": "Stecker -TODO-",
        "disabled": false,
        "info": ""
    },
    {
        "id": "97698b9c.f0aa78",
        "type": "comment",
        "z": "c7fb3900.c897a8",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 520,
        "wires": []
    },
    {
        "id": "2915711b.fe7ae6",
        "type": "comment",
        "z": "c7fb3900.c897a8",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "61c4fcdf.474144",
        "type": "comment",
        "z": "c7fb3900.c897a8",
        "name": "Steckdosen -> -TODO-",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "a85c67eb.85b3a8",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Merke Verbindungsstatus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isConnected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "175d0f53.c09409",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Merke Leistung",
        "rules": [
            {
                "t": "set",
                "p": "plug.power",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e1e69fc6.ad8218",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Merke Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "plug.temperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "63bb37ff.63e49",
        "type": "ui_template",
        "z": "c7fb3900.c897a8",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige Status",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 590,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "575264ff.048854",
        "type": "ui_text",
        "z": "c7fb3900.c897a8",
        "group": "22abfc75.b9b2e4",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige Temperatur",
        "label": "<i class=\"material-icons\">ac_unit</i>",
        "format": "{{msg.payload}}°C",
        "layout": "row-left",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "f3145b12.c0b878",
        "type": "ui_text",
        "z": "c7fb3900.c897a8",
        "group": "22abfc75.b9b2e4",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "Zeige Leistungsaufnahme",
        "label": "<i class=\"material-icons\">flash_on</i>",
        "format": "{{msg.payload}}W",
        "layout": "row-left",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "1ace0bff.94ebac",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "7927fb4d.b4894c"
            ]
        ]
    },
    {
        "id": "94e02395.e4ecd",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Merke Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7927fb4d.b4894c",
        "type": "ui_switch",
        "z": "c7fb3900.c897a8",
        "name": "Interaktion Schaltzustand",
        "label": "<i class=\"material-icons\">power_settings_new</i>",
        "tooltip": "",
        "group": "22abfc75.b9b2e4",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "b8eb7b56.38d47"
            ]
        ]
    },
    {
        "id": "b01c509.43b71b",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Hole Schaltzustand",
        "rules": [
            {
                "t": "set",
                "p": "isSwitchedOn",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "7c488ca3.889c7c"
            ]
        ]
    },
    {
        "id": "b8eb7b56.38d47",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Schalte um",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "9843d973.90059",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Hole Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.isConnected",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "63bb37ff.63e49"
            ]
        ]
    },
    {
        "id": "31afd310.442874",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Hole Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.temperature",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "575264ff.048854"
            ]
        ]
    },
    {
        "id": "c1644063.d703e8",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Hole Leistung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "plug.power",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 760,
        "wires": [
            [
                "f3145b12.c0b878"
            ]
        ]
    },
    {
        "id": "11f9bd7f.79f833",
        "type": "comment",
        "z": "c7fb3900.c897a8",
        "name": "Automatisch Schalten",
        "info": "",
        "x": 140,
        "y": 380,
        "wires": []
    },
    {
        "id": "7ebf2f34.fd1e1",
        "type": "inject",
        "z": "c7fb3900.c897a8",
        "name": "Alle 1m",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "e3883095.4efe68"
            ]
        ]
    },
    {
        "id": "acd16166.bb2e78",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Schalte aus",
        "rules": [
            {
                "t": "set",
                "p": "plug.isSwitchedOn",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "590fb21c.685cdc",
        "type": "complete",
        "z": "c7fb3900.c897a8",
        "name": "Warte auf Schaltung",
        "scope": [
            "b8eb7b56.38d47",
            "acd16166.bb2e78"
        ],
        "uncaught": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "b01c509.43b71b"
            ]
        ]
    },
    {
        "id": "98372d9e.2aa498",
        "type": "complete",
        "z": "c7fb3900.c897a8",
        "name": "Warte auf Status",
        "scope": [
            "a85c67eb.85b3a8"
        ],
        "uncaught": false,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "9843d973.90059"
            ]
        ]
    },
    {
        "id": "45a3b49c.e9e174",
        "type": "complete",
        "z": "c7fb3900.c897a8",
        "name": "Warte auf Temperatur",
        "scope": [
            "e1e69fc6.ad8218"
        ],
        "uncaught": false,
        "x": 140,
        "y": 700,
        "wires": [
            [
                "31afd310.442874"
            ]
        ]
    },
    {
        "id": "797604b0.08f84c",
        "type": "complete",
        "z": "c7fb3900.c897a8",
        "name": "Warte auf Leistung",
        "scope": [
            "175d0f53.c09409"
        ],
        "uncaught": false,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "c1644063.d703e8"
            ]
        ]
    },
    {
        "id": "f7bc1edb.b3aa58",
        "type": "complete",
        "z": "c7fb3900.c897a8",
        "name": "Warte auf Schaltzustand",
        "scope": [
            "94e02395.e4ecd"
        ],
        "uncaught": false,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "1ace0bff.94ebac"
            ]
        ]
    },
    {
        "id": "e3883095.4efe68",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Hole Daten",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "msg",
                "to": "plug.power",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "isSwitchedOn",
                "pt": "msg",
                "to": "plug.isSwitchedOn",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "2b475334.23b38c"
            ]
        ]
    },
    {
        "id": "8e734c3e.a92808",
        "type": "ui_template",
        "z": "c7fb3900.c897a8",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige Steckdosen-Icon",
        "order": 1,
        "width": 2,
        "height": 2,
        "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        power\n    </i>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 620,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5d56f331.d74cb4",
        "type": "inject",
        "z": "c7fb3900.c897a8",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "8e734c3e.a92808"
            ]
        ]
    },
    {
        "id": "ef3f10a3.30e4c8",
        "type": "inject",
        "z": "c7fb3900.c897a8",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 940,
        "wires": [
            [
                "38f33454.564c3c"
            ]
        ]
    },
    {
        "id": "38f33454.564c3c",
        "type": "ui_button",
        "z": "c7fb3900.c897a8",
        "name": "Interaktion WOL",
        "group": "22abfc75.b9b2e4",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "PC aufwecken",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 940,
        "wires": [
            [
                "9371694f.3b7b68"
            ]
        ]
    },
    {
        "id": "1928cd9b.17f98a",
        "type": "wake on lan",
        "z": "c7fb3900.c897a8",
        "mac": "",
        "host": "192.168.178.255",
        "udpport": "9",
        "name": "Wecke PC auf",
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "ca47f717.778d28",
        "type": "inject",
        "z": "c7fb3900.c897a8",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "7534aa05.299c84"
            ]
        ]
    },
    {
        "id": "7534aa05.299c84",
        "type": "ui_template",
        "z": "c7fb3900.c897a8",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige Computer-Icon",
        "order": 9,
        "width": 2,
        "height": 2,
        "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        devices\n    </i>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 320,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "38c70bf7.478e44",
        "type": "inject",
        "z": "c7fb3900.c897a8",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "c57d6c3b.cbb9"
            ]
        ]
    },
    {
        "id": "c57d6c3b.cbb9",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Merke WOL-Daten -TODO-",
        "rules": [
            {
                "t": "set",
                "p": "pc.macAddress",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9371694f.3b7b68",
        "type": "change",
        "z": "c7fb3900.c897a8",
        "name": "Hole WOL-Daten",
        "rules": [
            {
                "t": "set",
                "p": "mac",
                "pt": "msg",
                "to": "pc.macAddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 940,
        "wires": [
            [
                "1928cd9b.17f98a"
            ]
        ]
    },
    {
        "id": "7c488ca3.889c7c",
        "type": "subflow:dd43bdd9.895da8",
        "z": "c7fb3900.c897a8",
        "name": "-TODO-",
        "env": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "a85c67eb.85b3a8"
            ],
            [
                "175d0f53.c09409"
            ],
            [
                "e1e69fc6.ad8218"
            ],
            [
                "94e02395.e4ecd"
            ]
        ]
    },
    {
        "id": "2b475334.23b38c",
        "type": "subflow:93de0e1e.72cac8",
        "z": "c7fb3900.c897a8",
        "name": "Warte auf < 1W",
        "env": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "acd16166.bb2e78"
            ]
        ]
    },
    {
        "id": "22abfc75.b9b2e4",
        "type": "ui_group",
        "z": "",
        "name": "Hallo!",
        "tab": "14feb2a9.8277c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14feb2a9.8277c5",
        "type": "ui_tab",
        "z": "",
        "name": "Favoriten",
        "icon": "fa-star",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]