lib/flows/radiator.json
[
    {
        "id": "f81865c3.29dd28",
        "type": "subflow",
        "name": "Heizthermostat-Logik",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1160,
                "y": 120,
                "wires": [
                    {
                        "id": "d78ce3d3.e90dc8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 220,
                "wires": [
                    {
                        "id": "139b88a.0df6c77",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 320,
                "wires": [
                    {
                        "id": "3f28addd.dc07ca",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ain",
                "type": "str",
                "value": "-TODO: AIN-",
                "ui": {
                    "label": {
                        "en-US": "AIN"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#DDAA99",
        "icon": "font-awesome/fa-thermometer-2"
    },
    {
        "id": "d78ce3d3.e90dc8",
        "type": "fritz-outlet",
        "z": "f81865c3.29dd28",
        "connection": "1f1ed453.c0771c",
        "name": "Lese \"Ist verbunden?\"",
        "action": "getSwitchPresence",
        "x": 1000,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ee46cc7a.feb92",
        "type": "change",
        "z": "f81865c3.29dd28",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "139b88a.0df6c77"
            ]
        ]
    },
    {
        "id": "139b88a.0df6c77",
        "type": "fritz-thermostat",
        "z": "f81865c3.29dd28",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Ist-Temperatur",
        "action": "getTemperature",
        "x": 1000,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "995ff50f.c5d21",
        "type": "change",
        "z": "f81865c3.29dd28",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "3f28addd.dc07ca"
            ]
        ]
    },
    {
        "id": "3f28addd.dc07ca",
        "type": "fritz-thermostat",
        "z": "f81865c3.29dd28",
        "connection": "1f1ed453.c0771c",
        "name": "Lese Soll-Temperatur",
        "action": "getTempTarget",
        "x": 1000,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f5dc5575.4f6178",
        "type": "status",
        "z": "f81865c3.29dd28",
        "name": "Status-Update",
        "scope": [
            "d78ce3d3.e90dc8"
        ],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "40e5a86e.eebc7"
            ]
        ]
    },
    {
        "id": "40e5a86e.eebc7",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "fc6d490.9cfd938"
            ],
            []
        ]
    },
    {
        "id": "fc6d490.9cfd938",
        "type": "join",
        "z": "f81865c3.29dd28",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "96381441.40d598"
            ]
        ]
    },
    {
        "id": "96381441.40d598",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "50f22997.69fcc8"
            ],
            []
        ]
    },
    {
        "id": "50f22997.69fcc8",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "c682b989.e3b6c"
            ],
            []
        ]
    },
    {
        "id": "da88b984.2b3468",
        "type": "change",
        "z": "f81865c3.29dd28",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "fc6d490.9cfd938"
            ]
        ]
    },
    {
        "id": "3ed533f3.cf378c",
        "type": "inject",
        "z": "f81865c3.29dd28",
        "name": "Alle 9s",
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "da88b984.2b3468"
            ]
        ]
    },
    {
        "id": "c682b989.e3b6c",
        "type": "change",
        "z": "f81865c3.29dd28",
        "name": "Hole AIN",
        "rules": [
            {
                "t": "set",
                "p": "ain",
                "pt": "msg",
                "to": "ain",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "d78ce3d3.e90dc8"
            ]
        ]
    },
    {
        "id": "e2912d4c.c055c",
        "type": "status",
        "z": "f81865c3.29dd28",
        "name": "Status-Update",
        "scope": [
            "139b88a.0df6c77"
        ],
        "x": 110,
        "y": 200,
        "wires": [
            [
                "b95a4113.3b38e"
            ]
        ]
    },
    {
        "id": "b95a4113.3b38e",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "441d4129.02b228"
            ],
            []
        ]
    },
    {
        "id": "441d4129.02b228",
        "type": "join",
        "z": "f81865c3.29dd28",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "3a95269.00a435a"
            ]
        ]
    },
    {
        "id": "3a95269.00a435a",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "3351d6b3.884642"
            ],
            []
        ]
    },
    {
        "id": "3351d6b3.884642",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "ee46cc7a.feb92"
            ],
            []
        ]
    },
    {
        "id": "24ece8ef.6570a8",
        "type": "change",
        "z": "f81865c3.29dd28",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "441d4129.02b228"
            ]
        ]
    },
    {
        "id": "5a0ec468.280954",
        "type": "inject",
        "z": "f81865c3.29dd28",
        "name": "Alle 9s",
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "24ece8ef.6570a8"
            ]
        ]
    },
    {
        "id": "462c63f.dfbd79c",
        "type": "status",
        "z": "f81865c3.29dd28",
        "name": "Status-Update",
        "scope": [
            "3f28addd.dc07ca"
        ],
        "x": 110,
        "y": 300,
        "wires": [
            [
                "98cf3eed.ba8c88"
            ]
        ]
    },
    {
        "id": "98cf3eed.ba8c88",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Ist verbunden?",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "b1a3b2e5.64766"
            ],
            []
        ]
    },
    {
        "id": "b1a3b2e5.64766",
        "type": "join",
        "z": "f81865c3.29dd28",
        "name": "merge",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "4c7af85b.9591"
            ]
        ]
    },
    {
        "id": "4c7af85b.9591",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Hat Status?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "aac49817.6063b"
            ],
            []
        ]
    },
    {
        "id": "aac49817.6063b",
        "type": "switch",
        "z": "f81865c3.29dd28",
        "name": "Wurde injected?",
        "property": "msg",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "hask",
                "v": "injected",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "995ff50f.c5d21"
            ],
            []
        ]
    },
    {
        "id": "72afd209.613f74",
        "type": "change",
        "z": "f81865c3.29dd28",
        "name": "Markiere",
        "rules": [
            {
                "t": "set",
                "p": "injected",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "b1a3b2e5.64766"
            ]
        ]
    },
    {
        "id": "de2628aa.10a58",
        "type": "inject",
        "z": "f81865c3.29dd28",
        "name": "Alle 9s",
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "72afd209.613f74"
            ]
        ]
    },
    {
        "id": "1f1ed453.c0771c",
        "type": "fritz-api",
        "z": "",
        "name": "fritzapi (FRITZ!Box 7580)",
        "host": "http://fritz.box",
        "strictSSL": true
    },
    {
        "id": "efcfb1d.b43ca5",
        "type": "tab",
        "label": "Hzg. -TODO-",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a13f612e.020b58",
        "type": "comment",
        "z": "efcfb1d.b43ca5",
        "name": "Heizkörper -> -TODO-",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "779ef60c.08ddb8",
        "type": "comment",
        "z": "efcfb1d.b43ca5",
        "name": "Daten",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "70457258.608f5c",
        "type": "change",
        "z": "efcfb1d.b43ca5",
        "name": "Merke \"Ist verbunden?\"",
        "rules": [
            {
                "t": "set",
                "p": "radiator.isConnected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "11ae5a51.8a18fe",
        "type": "change",
        "z": "efcfb1d.b43ca5",
        "name": "Merke Ist-Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "radiator.currentTemperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9580546c.773708",
        "type": "change",
        "z": "efcfb1d.b43ca5",
        "name": "Merke Soll-Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "radiator.targetTemperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd602e5.b71dbc",
        "type": "comment",
        "z": "efcfb1d.b43ca5",
        "name": "GUI",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    },
    {
        "id": "1e5c50d3.9c2bdf",
        "type": "complete",
        "z": "efcfb1d.b43ca5",
        "name": "Warte auf \"Ist verbunden?\"",
        "scope": [
            "70457258.608f5c"
        ],
        "uncaught": false,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "a226494f.3f84d"
            ]
        ]
    },
    {
        "id": "4fa54053.277b4",
        "type": "complete",
        "z": "efcfb1d.b43ca5",
        "name": "Warte auf Ist-Temperatur",
        "scope": [
            "11ae5a51.8a18fe"
        ],
        "uncaught": false,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "f205dc88.fed768"
            ]
        ]
    },
    {
        "id": "a4bf607b.bba3f",
        "type": "complete",
        "z": "efcfb1d.b43ca5",
        "name": "Warte auf Soll-Temperatur",
        "scope": [
            "9580546c.773708"
        ],
        "uncaught": false,
        "x": 150,
        "y": 540,
        "wires": [
            [
                "6a56c16c.3fc968"
            ]
        ]
    },
    {
        "id": "a226494f.3f84d",
        "type": "change",
        "z": "efcfb1d.b43ca5",
        "name": "Hole \"Ist verbunden?\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "radiator.isConnected",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "3cd2d26b.d29afe"
            ]
        ]
    },
    {
        "id": "3cd2d26b.d29afe",
        "type": "ui_template",
        "z": "efcfb1d.b43ca5",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige \"Ist verbunden?\"",
        "order": 3,
        "width": 2,
        "height": 1,
        "format": "<div style=\"align-self: center;\">\n    <i ng-if=\"msg.payload\" class=\"material-icons\">sync</i>\n    <i ng-if=\"!msg.payload\" class=\"material-icons\">sync_disabled</i>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 640,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f205dc88.fed768",
        "type": "change",
        "z": "efcfb1d.b43ca5",
        "name": "Hole Ist-Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "radiator.currentTemperature",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "cbd7ba9.eac2ac8"
            ]
        ]
    },
    {
        "id": "6a56c16c.3fc968",
        "type": "change",
        "z": "efcfb1d.b43ca5",
        "name": "Hole Soll-Temperatur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "radiator.targetTemperature",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "ead87ebc.80652"
            ]
        ]
    },
    {
        "id": "cbd7ba9.eac2ac8",
        "type": "ui_text",
        "z": "efcfb1d.b43ca5",
        "group": "22abfc75.b9b2e4",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Zeige Ist-Temperatur",
        "label": "<i class=\"material-icons\">ac_unit</i>",
        "format": "{{msg.payload}}°C",
        "layout": "row-left",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "ead87ebc.80652",
        "type": "ui_slider",
        "z": "efcfb1d.b43ca5",
        "name": "Zeige Soll-Temperatur",
        "label": "",
        "tooltip": "",
        "group": "22abfc75.b9b2e4",
        "order": 4,
        "width": 4,
        "height": 2,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "8",
        "max": "28",
        "step": "0.5",
        "x": 640,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b4523c62.536d4",
        "type": "inject",
        "z": "efcfb1d.b43ca5",
        "name": "Beim Start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "ab02a65a.6be4d8"
            ]
        ]
    },
    {
        "id": "ab02a65a.6be4d8",
        "type": "ui_template",
        "z": "efcfb1d.b43ca5",
        "group": "22abfc75.b9b2e4",
        "name": "Zeige Heizungsicon",
        "order": 1,
        "width": 2,
        "height": 3,
        "format": "<div style=\"align-self: center; font-size: 40px;\">\n    <i class=\"material-icons\" style=\"font-size: inherit;\">\n        whatshot\n    </i>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "af7cfc61.f07128",
        "type": "subflow:f81865c3.29dd28",
        "z": "efcfb1d.b43ca5",
        "name": "-TODO-",
        "env": [],
        "x": 90,
        "y": 180,
        "wires": [
            [
                "70457258.608f5c"
            ],
            [
                "11ae5a51.8a18fe"
            ],
            [
                "9580546c.773708"
            ]
        ]
    },
    {
        "id": "22abfc75.b9b2e4",
        "type": "ui_group",
        "z": "",
        "name": "Hallo!",
        "tab": "14feb2a9.8277c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "14feb2a9.8277c5",
        "type": "ui_tab",
        "z": "",
        "name": "Favoriten",
        "icon": "fa-star",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]